<app-control #appContainer
  [cssClass]="getCssClass()"
  [clearButton]="false">
  <div class="form-group">
    <p-checkbox #checkBox  [(ngModel)]="value" (ngModelChange)="onCheckBox_ValueChange($event)" binary="true" [readOnly]="readOnly"></p-checkbox>
  </div>
</app-control>