<div class="row">
  <div
    *ngFor="let referralType of referralTypeList; index as i"
    class="col-lg-4"
  >
    <admin-lte-checkbox
      [name]="referralType.CheckBoxName"
      [caption]="referralType.Name"
      [initialValue]="CurrentObject[referralType.CheckBoxName]"
      (onModelChanged)="checkbox_onModelChanged(referralType, $event)"
    >
    </admin-lte-checkbox>
  </div>
</div>

<br/>

<admin-lte-textarea
  name="ReferralTypeOthers"
  caption="Please specify other type"
  [readonly]="!isOtherReferralTypeSelected"
  [initialValue]="MainCurrentObject.ReferralTypeOthers"
  (onModelChanged)="ReferralTypeOthers_onModelChanged($event)"
  rows="2"
>
</admin-lte-textarea>
