.record-Patient_SOAP {
  color: #0074da !important;;
  font-weight: bold;
}

.record-PatientAppointment {
  color: #f55207 !important;;
  font-weight: bold;
}

.record-Patient_Wellness {
  color: #5d00c7 !important;;
  font-weight: bold;
}

.record-PatientAppointment-Done {
  color: #04991c !important;;
  font-weight: bold;
}

.record-Patient_SOAP-Done {
  color: #04991c !important;;
  font-weight: bold;
}
