<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-9"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <div
              *ngIf="!isListLoadedSuccess"
              style="margin: 10px; cursor: pointer"
              class="callout callout-danger"
              (click)="onBtnSearchClick($event)"
            >
              <i class="fas fa-times"></i>&nbsp;Unable to Load the result.
              Please try again...
            </div>

            <ng-container
              *ngIf="isListLoadedSuccess"
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left"
              >Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-wrap">
    <thead>
      <tr>
        <th style="width: 80px" (click)="onColumnHeaderClick('DateStart')">
          Date
        </th>
        <th style="width: 80px" (click)="onColumnHeaderClick('DateEnd')">
          Time
        </th>
        <th style="width: 120px" (click)="onColumnHeaderClick('ReferenceCode')">
          Ref Code.
        </th>
        <th (click)="onColumnHeaderClick('Paticular')">Particular</th>

        <th (click)="onColumnHeaderClick('Description')">Description/Reason</th>

        <th (click)="onColumnHeaderClick('ContactNumber')">Contact Number</th>
        <th (click)="onColumnHeaderClick('ContactNumber')">
          Attending Personnel
        </th>
        <th
          (click)="onColumnHeaderClick('AppointmentStatus_Name_FilingStatus')"
        >
          Appt. Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        class="row-detail record-{{ rowData.Name_Model }}{{
          rowData.ID_FilingStatus == 13 ? '-' + rowData.Name_FilingStatus : ''
        }}"
      >
        <td (click)="Row_OnClick(rowData)">
          {{ rowData.DateStart | date : "MM/dd/yyyy" }}
        </td>
        <td class="text-center" (click)="ColumnTime_OnClick(rowData)">
          <span>
            {{ rowData.DateStart | date : "hh:mm a" }}
          </span>
        </td>
        <td (click)="Row_OnClick(rowData)" class="text-center">
          {{ rowData.ReferenceCode }}
        </td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Paticular }}</td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Description }}</td>
        <td (click)="Row_OnClick(rowData)" class="text-center">
          {{ rowData.ContactNumber }}
        </td>
        <td class="text-center">
          {{ rowData.AttendingPhysician_Name_Employee }}
        </td>
        <td
          style="text-align: center"
          class="Waiting-Status WaitingStatus WS_{{
            rowData.Appointment_Name_FilingStatus == null
              ? ''
              : rowData.Appointment_Name_FilingStatus.replace(' ', '')
          }}"
          (click)="Row_Name_FilingStatus_OnClick(rowData)"
        >
          {{ rowData.Appointment_Name_FilingStatus }}
          <br
            *ngIf="
              rowData.Appointment_ID_FilingStatus == WaitingStatus_Reschedule
            "
          />
          <span
            *ngIf="
              rowData.Appointment_ID_FilingStatus == WaitingStatus_Reschedule
            "
            class="text-danger"
            >({{ rowData.DateReschedule | date : "MM/dd/yyyy" }})</span
          >
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-datebox
    name="DateStart_Date"
    caption="Date - Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_Date']"
    name="DateEnd_Date"
    caption="Date - End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Code"
    caption="Ref. Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Owner’s Name"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Patient"
    caption="Pet’s Name"
    [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<appointment-schedule-status
  #appointmentschedulestatus
></appointment-schedule-status>
<update-time-dialog #updatetimedialog></update-time-dialog>
