<modal-dialog
  #modalDialog
  title="Change Status"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ng-container
          [ngTemplateOutlet]="adjustInventoryTemplate"
        ></ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <admin-lte-data-lookupbox
    name="Appointment_ID_FilingStatus"
    displayName="Appointment_Name_FilingStatus"
    caption="Status"
    [initialValue]="CurrentObject.Appointment_ID_FilingStatus"
    [initialDisplayValue]="CurrentObject.Appointment_Name_FilingStatus"
    [option]="Appointment_ID_FilingStatus_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-datebox
    *ngIf="CurrentObject.Appointment_ID_FilingStatus == Reschedule_FilingStatus"
    name="DateReschedule"
    caption="Date Reschedule"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateReschedule"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-textarea
    name="Appointment_CancellationRemarks"
    caption="Reason"
    [readonly]="CurrentObject.Appointment_ID_FilingStatus != 4"
    [initialValue]="CurrentObject.Appointment_CancellationRemarks"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-textarea>
</ng-template>

<ng-template #footerDialogTemplate>
  <button class="btn btn-primary" (click)="onPositiveButtonClick()">
    <i class="fas fa-cubes"></i>&nbsp;Save
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
