
<div class="row">
    <!-- Teeth Quandrat #5 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_5"
            class="tooth-main-container float-right">
            <div class="row remove-pad-margin">
                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-top">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>
                <div 
                    class="col-12 location-label-top">
                    {{ tooth.Location }}
                </div>
            </div>
        </div>
    </div>

    <div style="  
        width: 1px;
        display: flex;
        background-color: red;
        align-items: stretch;"></div>

    <!-- Teeth Quandrat #6 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_6"
            class="tooth-main-container float-left">
            <div class="row remove-pad-margin">
                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-top">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>
                <div 
                    class="col-12 location-label-top">
                    {{ tooth.Location }}
                </div>
            </div>
        </div>
    </div>

    <!-- Teeth Quandrat #1 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_1"
            class="tooth-main-container float-right">
            <div class="row remove-pad-margin">
                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-top">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>
                <div 
                    class="col-12 location-label-top">
                    {{ tooth.Location }}
                </div>
            </div>
        </div>
    </div>

    <div style="  
        width: 1px;
        display: flex;
        background-color: red;
        align-items: stretch;"></div>

    <!-- Teeth Quandrat #2 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_2"
            class="tooth-main-container float-left">
            <div class="row remove-pad-margin">
                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-top">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>
                <div 
                    class="col-12 location-label-top">
                    {{ tooth.Location }}
                </div>
            </div>
        </div>
    </div>
    
    <div 
        class="col-12"
        style="   
            width: 99%;
            background-color: red;
            flex: 5% 0% 88%;
            max-width: 94%;
            position: relative;
            left: 3%;"
    ></div>

    <!-- Teeth Quandrat #4 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_4"
            class="tooth-main-container float-right">
            <div class="row remove-pad-margin">

                <div 
                    class="col-12 location-label-bottom">
                    {{ tooth.Location }}
                </div>

                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent 
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>

                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-bottom">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
  
            </div>
        </div>
    </div>

    <div style="  
        width: 1px;
        display: flex;
        background-color: red;
        align-items: stretch;"></div>
        
    <!-- Teeth Quandrat #3 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_3"
            class="tooth-main-container float-left">
            <div class="row remove-pad-margin">

                <div 
                    class="col-12 location-label-bottom">
                    {{ tooth.Location }}
                </div>

                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>

                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-bottom">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
  
            </div>
        </div>
    </div>

    <!-- Teeth Quandrat #8 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_8"
            class="tooth-main-container float-right">
            <div class="row remove-pad-margin">

                <div 
                    class="col-12 location-label-bottom">
                    {{ tooth.Location }}
                </div>

                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent 
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>

                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-bottom">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
  
            </div>
        </div>
    </div>

    <div style="  
        width: 1px;
        display: flex;
        background-color: red;
        align-items: stretch;"></div>

    <!-- Teeth Quandrat #7 -->
    <div 
        class="col-6 col-flex-49-percent">
        <div 
            *ngFor="let tooth of teeth_quantrand_7"
            class="tooth-main-container float-left">
            <div class="row remove-pad-margin">

                <div 
                    class="col-12 location-label-bottom">
                    {{ tooth.Location }}
                </div>

                <div class="col-12" class="remove-pad-margin">
                    <app-tooth 
                        #toothComponent 
                        [tooth]="tooth" 
                        (onClick)="tooth_onClick($event)"
                        [isAllowSetSufarce]="false"
                        [isSmall] ="isToothSmall"></app-tooth>
                </div>

                <div 
                    class="col-12 remove-pad-margin toothstatus-container">
                    <div class="toothstatus-bottom">
                        <div  
                            class="toothstatus-label"
                            *ngFor="let toothStatus of tooth.ToothStatuses"
                            pTooltip="{{ toothStatus.Name }}">

                            <img 
                                src="../../assets/close.png" 
                                (click)="toothStatusClose_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })" 
                                class="img-close"
                                alt="">

                            <span 
                                (click)="toothStatus_onClick({
                                    tooth: tooth,
                                    toothStatus: toothStatus
                                })">{{ toothStatus.Code }}</span>
                            </div>
                    </div>
                </div>
  
            </div>
        </div>
    </div>
 
</div>
