.tooth-main-container{

    position: relative;
    width: 64px;
    height: auto;
    display: flex;
}

.toothstatus-container{

    height: 40px;
    
}

.location-label-top{

    text-align: center;
    font-weight: bold;;
    padding-top: 5px;
}

.location-label-bottom{

    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.col-flex-49-percent{

    flex: 0 0 49%;
    padding-right: 8px;
    padding-left: 8px;
}

.toothstatus-top:hover, 
.toothstatus-bottom:hover{

    cursor: pointer;

    p:hover{
        color: red;
    }
}

.toothstatus-top, 
.toothstatus-bottom{

    text-align: center;
    font-size: 12px;
    position: absolute;

    width: 100%;

    .toothstatus-label{

        position: relative;
        bottom: 0px;
        width: 100%; 

        .img-close{

            position: absolute;
            left: -2%;
            top: -1%;
            float: left;
            visibility: hidden;
        }
    }

    .toothstatus-label:hover{
        
        color:red;

        .img-close{

            visibility: visible;
        }
    }
}

.toothstatus-top{

    bottom: 5px;
}

.toothstatus-bottom{

    top: 5px;
}

.remove-pad-margin{

    padding: 0px; margin: 0px;
}

.row{

    padding-top: 2%;
    padding-bottom: 2%;
}

.col-6{

    padding-top: 12px;
    padding-bottom: 12px;
}