<p
  class="Record-Info text-center"
  *ngIf="
    this._ID_Patient_SOAP != null ||
    this._ID_Patient_SOAP != undefined ||
    this._ID_Patient_SOAP == 0
  "
  [title]="title"
>
  <span class="text-success" (click)="Code_onClicked()">{{ CurrentRecord.Code }}</span>
</p>
<hr
  *ngIf="
    this._ID_Patient_SOAP != null ||
    this._ID_Patient_SOAP != undefined ||
    this._ID_Patient_SOAP == 0
  "
/>
<p
  *ngFor="let SOAPRecord of SOAPRecords"
  class="Record-Info"
  [title]="SOAPRecord.value == null ? '' : SOAPRecord.value"
>
  <i
    class="text-success fa fa-check"
    [ngClass]="{
      'fa-check': SOAPRecord.hasValue
    }"
    *ngIf="!SOAPRecord.isLoading"
  ></i>

  <i
    class="text-success fa fa-spin fa-spinner"
    *ngIf="SOAPRecord.isLoading"
  ></i>
  <span
    [ngClass]="{
      'text-success': SOAPRecord.hasValue,
      'text-danger': !SOAPRecord.hasValue && !SOAPRecord.isLoading,
      'text-onloading': !SOAPRecord.hasValue && SOAPRecord.isLoading
    }"
  >
    {{ SOAPRecord.label }}</span
  >
</p>
