<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-9"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <ng-container
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left"
              >Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed">
    <thead>
      <tr>
        <th style="width: 100px" (click)="onColumnHeaderClick('Code')">Code</th>
        <th (click)="onColumnHeaderClick('Name')">Item</th>
        <th
          style="width: 100px"
          (click)="onColumnHeaderClick('Name_ItemCategory')"
        >
          Category
        </th>
        <th style="width: 100px" (click)="onColumnHeaderClick('UnitCost')">
          Buying Price
        </th>
        <th style="width: 100px" (click)="onColumnHeaderClick('UnitPrice')">
          Selling Price
        </th>
        <th
          style="width: 100px"
          (click)="onColumnHeaderClick('CurrentInventoryCount')"
        >
          Invt. Count
        </th>
        <th
          style="width: 100px"
          (click)="onColumnHeaderClick('Name_InventoryStatus')"
        >
          Invt. Status
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        (click)="Row_OnClick(rowData)"
      >
        <td>{{ rowData.Code }}</td>

        <td>
          {{ rowData.Name }}
          <span
            title="Date Exp: {{
              rowData.OtherInfo_DateExpiration | date : 'MM/dd/Y'
            }}"
            *ngIf="rowData.RemainingDays !== null"
            [ngStyle]="{
              color: rowData.RemainingDays > 0 ? 'green' : 'red',
              'font-weight': 'bold'
            }"
          >
            - {{ rowData.RemainingBeforeExpired }}</span
          >
        </td>

        <td style="width: 100px; text-align: center">
          <span [title]="rowData.Name_ItemCategory">{{
            rowData.Displayed_Name_ItemCategory
          }}</span>
        </td>

        <td style="text-align: center">
          {{ rowData.UnitCost | number : "1.2" }}
        </td>
        <td style="text-align: center">
          {{ rowData.UnitPrice | number : "1.2" }}
        </td>
        <td style="text-align: center">{{ rowData.CurrentInventoryCount }}</td>
        <td
          style="width: 80px; text-align: center"
          class="InventoryStatus IS_{{
            rowData.Name_InventoryStatus == null
              ? ''
              : rowData.Name_InventoryStatus.replace(' ', '')
          }}"
        >
          {{ rowData.Name_InventoryStatus }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_InventoryStatus"
    displayName="Name_InventoryStatus"
    caption="Status"
    [initialValue]="CurrentObject.ID_InventoryStatus"
    [initialDisplayValue]="CurrentObject.Name_InventoryStatus"
    [option]="ID_InventoryStatus_LookupboxOption"
    (onModelChanged)="control_onSelectedItemChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_ItemCategory"
    displayName="Name_ItemCategory"
    caption="Category"
    [initialValue]="CurrentObject.ID_ItemCategory"
    [initialDisplayValue]="CurrentObject.Name_ItemCategory"
    [option]="ID_ItemCategory_LookupboxOption"
    (onModelChanged)="control_onSelectedItemChanged($event)"
  >
  </admin-lte-data-lookupbox>
  <admin-lte-datebox
    name="DateStart_OtherInfo_DateExpiration"
    caption="Exp. Date - Date Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_OtherInfo_DateExpiration"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_OtherInfo_DateExpiration']"
    name="DateEnd_OtherInfo_DateExpiration"
    caption="Exp. Date - Date End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_OtherInfo_DateExpiration"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>
