<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-3">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>

        <card-container
          title="Totals"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Billing2_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          *ngIf="IsWalkIn !== true"
          title="Billing"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Billing1_fields"
        >
        </card-container>

        <card-container
          *ngIf="IsWalkIn"
          title="Billing"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_BillingWaikin_fields"
        >
        </card-container>
      </div>

      <div class="col-md-5">
        <card-container
          *ngIf="IsWalkIn !== true"
          title="Patient"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Patient_Tables"
        >
        </card-container>
      </div>

      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-bidetail-tab"
                  data-toggle="pill"
                  href="#content-bidetail"
                  role="tab"
                  aria-controls="tab-bidetail"
                  aria-selected="true"
                  >Details</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-paymenthistory-tab"
                  data-toggle="pill"
                  href="#tab-paymenthistory"
                  role="tab"
                  aria-controls="tab-paymenthistory"
                  >Payment History</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-comment-tab"
                  data-toggle="pill"
                  href="#tab-comment"
                  role="tab"
                  aria-controls="tab-comment"
                  >Comment</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-others-tab"
                  data-toggle="pill"
                  href="#tab-others"
                  role="tab"
                  aria-controls="tab-others"
                  >Others</a
                >
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-SMSReminder-tab"
                  data-toggle="pill"
                  href="#tab-SMSReminder"
                  role="tab"
                  aria-controls="tab-SMSReminder"
                  >SMS Reminder</a
                >
              </li> -->
            </ul>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="tab-bidetail">
              <div
                class="tab-pane fade show active"
                id="content-bidetail"
                role="tabpanel"
                aria-labelledby="content-bidetail"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_billingDetails"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-paymenthistory"
                role="tabpanel"
                aria-labelledby="tab-paymenthistory"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_paymenthistory"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-comment"
                role="tabpanel"
                aria-labelledby="tab-comment"
                style="padding: 12px"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_comment"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-others"
                role="tabpanel"
                aria-labelledby="tab-others"
                style="padding: 12px"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_others"
                ></ng-container>
              </div>
              <div
                class="tab-pane fade show"
                id="tab-SMSReminder"
                role="tabpanel"
                aria-labelledby="tab-SMSReminder"
                style="padding: 12px"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_billingSMSReminder"
                ></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="OtherReferenceNumber"
    caption="Other Reference Number"
    [initialValue]="CurrentObject.OtherReferenceNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    *ngIf="this.CurrentObject.ID_FilingStatus != 3"
    name="Name_FilingStatus"
    caption="Filing Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    *ngIf="this.CurrentObject.ID_FilingStatus == 3"
    name="Payment_Name_FilingStatus"
    caption="Payment Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Payment_Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_Billing1_fields>
  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_SOAPType"
    displayName="Name_SOAPType"
    caption="Type"
    [initialValue]="CurrentObject.ID_SOAPType"
    [initialDisplayValue]="CurrentObject.Name_SOAPType"
    [option]="ID_SOAPType_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. {{
      CurrentObject.ID_Patient_Grooming ? 'Groomer' : 'Veterinarian'
    }}"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <!-- <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox> -->
</ng-template>

<ng-template #contentTemplate_BillingWaikin_fields>
  <admin-lte-texbox
    name="WalkInCustomerName"
    caption="Walk In Customer Name"
    [initialValue]="CurrentObject.WalkInCustomerName"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_Billing2_fields>
  <admin-lte-numberbox
    name="NetAmount"
    caption="Payable Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.NetAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="RemainingAmount"
    caption="Remaining Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.RemainingAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplate_Patient_Tables>
  <patient-table
    [CurrentObject]="CurrentObject"
    (onChanged)="PatientTable_onChanged()"
  ></patient-table>
</ng-template>

<ng-template #contentTemplate_billingDetails>
  <menubar
    *ngIf="CurrentObject.ID_FilingStatus == FILINGSTATUS_FILED"
    [items]="biDetailMenuItems"
    (onClick)="biDetailMenuItems_OnClick($event)"
  >
  </menubar>
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-striped" style="background-color: white">
        <thead>
          <tr>
            <th>Item / Service</th>
            <th style="width: 120px">Quantity</th>
            <th style="width: 120px">Unit Price</th>
            <th style="width: 120px">Disc %</th>
            <th style="width: 120px">Disc Amt</th>
            <th style="width: 120px">Amount</th>
            <th style="width: 40px"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let biDetail of CurrentObject.BillingInvoice_Detail;
              index as i
            "
          >
            <td>{{ biDetail.Name_Item }}</td>
            <td>
              <input
                *ngIf="!biDetail.ID_Patient_Confinement_ItemsServices"
                class="form-control text-right"
                [(ngModel)]="biDetail.Quantity"
                type="number"
                (ngModelChange)="biDetailQuantity_onModelChange(biDetail)"
                min="0"
              />
              <span
                *ngIf="biDetail.ID_Patient_Confinement_ItemsServices"
                class="form-control form-control-transparent text-bold text-right"
                >{{ biDetail.Quantity | number : "1.0" }}</span
              >
            </td>
            <td>
              <input
                class="form-control text-right"
                [(ngModel)]="biDetail.UnitPrice"
                type="number"
                (ngModelChange)="biDetailUnitPrice_onModelChange(biDetail)"
                min="0"
              />
            </td>
            <td>
              <input
                class="form-control text-right"
                [(ngModel)]="biDetail.DiscountRate"
                type="number"
                (ngModelChange)="biDetailDiscountRate_onModelChange(biDetail)"
                min="0"
              />
            </td>
            <td>
              <input
                class="form-control text-right"
                [(ngModel)]="biDetail.DiscountAmount"
                type="number"
                (ngModelChange)="biDetailDiscountAmount_onModelChange(biDetail)"
                min="0"
              />
            </td>
            <td>
              <span
                class="form-control form-control-transparent text-bold text-right"
                >{{ biDetail.Amount | number : "1.2-5" }}</span
              >
            </td>
            <td class="text-center">
              <button
                class="btn btn-danger"
                (click)="btnDeleteBIDetail_onClick(biDetail)"
              >
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>

        <tr *ngIf="CurrentObject.ConfinementDepositAmount > 0">
          <td colspan="5" style="text-align: right">
            <span
              class="form-control form-control-transparent text-bold text-right"
            >
              Initial Billing</span
            >
          </td>
          <td style="text-align: right">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{
                CurrentObject.InitialSubtotalAmount
                  | currency : "PHP" : "symbol-narrow" : "1.2"
              }}</span
            >
          </td>

          <td></td>
        </tr>

        <tr *ngIf="CurrentObject.ConfinementDepositAmount > 0">
          <td colspan="5" style="text-align: right">
            <span
              class="form-control form-control-transparent text-bold text-right"
            >
              Confinement Deposit</span
            >
          </td>

          <td style="text-align: right">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{
                CurrentObject.ConfinementDepositAmount
                  | currency : "PHP" : "symbol-narrow" : "1.2"
              }}</span
            >
          </td>

          <td></td>
        </tr>

        <tr *ngIf="CurrentObject.ConfinementDepositAmount > 0">
          <td colspan="5" class="" style="text-align: right">
            <span
              class="form-control text-danger form-control-transparent text-bold text-right"
            >
              Consumed Deposit</span
            >
          </td>

          <td style="text-align: right">
            <span
              class="form-control text-danger form-control-transparent text-bold text-right"
            >
              {{
                CurrentObject.ConsumedDepositAmount
                  | currency : "PHP" : "symbol-narrow" : "1.2"
              }}</span
            >
          </td>

          <td></td>
        </tr>

        <tr
          *ngIf="
            CurrentObject.ConfinementDepositAmount > 0 &&
            CurrentObject.RemainingDepositAmount != null
          "
        >
          <td colspan="5" style="text-align: right">
            <span
              class="form-control form-control-transparent text-success text-bold text-right"
              >Remaining Deposit</span
            >
          </td>

          <td style="text-align: right">
            <span
              class="form-control form-control-transparent text-success text-bold text-right"
            >
              {{
                CurrentObject.RemainingDepositAmount
                  | currency : "PHP" : "symbol-narrow" : "1.2"
              }}</span
            >
          </td>

          <td></td>
        </tr>

        <tr>
          <td colspan="5">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Subtotal</span
            >
          </td>
          <td>
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{ CurrentObject.SubTotal | number : "1.2-5" }}</span
            >
          </td>
          <td></td>
        </tr>

        <tr>
          <td colspan="5">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Discount Rate (%)</span
            >
          </td>
          <td>
            <input
              class="form-control text-right"
              [(ngModel)]="CurrentObject.DiscountRate"
              type="number"
              (ngModelChange)="DiscountRate_onModelChange()"
              min="0"
            />
          </td>
          <td></td>
        </tr>

        <tr>
          <td colspan="5">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Discount Amount</span
            >
          </td>
          <td>
            <input
              class="form-control text-right"
              [(ngModel)]="CurrentObject.DiscountAmount"
              type="number"
              (ngModelChange)="DiscountAmount_onModelChange()"
              min="0"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="5">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Total Amount</span
            >
          </td>
          <td>
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{ CurrentObject.TotalAmount | number : "1.2-5" }}</span
            >
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_paymenthistory>
  <bi-payment-history-table
    #bipaymenthistorytable
    (onCancel)="bipaymenthistorytable_onCancel()"
  ></bi-payment-history-table>
</ng-template>

<ng-template #contentTemplate_comment>
  <admin-lte-textarea
    name="Comment"
    caption=""
    [rows]="'20'"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_others>
  <div class="row">
    <div class="col-md-4">
      <admin-lte-datebox
        name="DateCreated"
        caption="Date Created"
        format="MMM. dd, yyyy"
        [readonly]="true"
        [initialValue]="CurrentObject.DateCreated"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>

      <admin-lte-texbox
        name="CreatedBy_Name_User"
        caption="Created By"
        [readonly]="true"
        [initialValue]="CurrentObject.CreatedBy_Name_User"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>
    <div class="col-md-4">
      <admin-lte-datebox
        name="DateApproved"
        caption="Date Approved"
        format="MMM. dd, yyyy"
        [readonly]="true"
        [initialValue]="CurrentObject.DateApproved"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>

      <admin-lte-texbox
        name="ApprovedBy_Name_User"
        caption="Approved By"
        [readonly]="true"
        [initialValue]="CurrentObject.ApprovedBy_Name_User"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>

    <div class="col-md-4">
      <admin-lte-datebox
        name="DateCanceled"
        caption="Date Canceled"
        format="MMM. dd, yyyy"
        [readonly]="true"
        [initialValue]="CurrentObject.DateCanceled"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>

      <admin-lte-texbox
        name="CanceledBy_Name_User"
        caption="Canceled By"
        [readonly]="true"
        [initialValue]="CurrentObject.CanceledBy_Name_User"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_billingSMSReminder>
  <billing-invoice-smsremider-list
    #billinginvoicesmsremiderlist
    [CurrentObject]="CurrentObject"
  ></billing-invoice-smsremider-list>
</ng-template>
<sql-list-dialog #sqllistdialog></sql-list-dialog>

<ng-template #contentTemplate_others></ng-template>

<billing-payment-dialog
  #biPaymentDialog
  [ID_BillingInvoice]="CurrentObject.ID"
></billing-payment-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>
<password-user-prompt #passworduserprompt></password-user-prompt>
