<div class="row">
  <div class="col-12">
    <menubar
      *ngIf="loading !== true"
      [items]="menuItems"
      (onClick)="initmenubar_OnClick($event)"
    >
    </menubar>
  </div>

  <div class="col-md-6">
    <admin-lte-texbox
      name="Name"
      caption="Name"
      [readonly]="loading || (CurrentObject.ID > 0)"
      [initialValue]="CurrentObject.Name"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>
  <div class="col-md-6">
    <admin-lte-texbox
      name="Name_Patient"
      caption="Patient"
      [readonly]="loading"
      [initialValue]="CurrentObject.Name_Patient"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </div>
</div>
