<p-panel header="Patient Information">
    <div class="row">

        <div class="col-2">
            <img 
            src="../../assets/patient-logo.png" 
            class="img-fluid border" alt="Responsive image">
        </div>

        <div class="col-5">
            <div class="row">
                <dt class="col-sm-2">Name</dt>
                <dd class="col-sm-10">{{ patient.Name }}</dd>
            </div>
        </div>

    </div>
</p-panel>