.record-Patient_SOAP {
  color: #0074da !important;
  font-weight: bold;
}

.record-PatientAppointment {
  color: #f55207 !important;
  font-weight: bold;
}

.record-Patient_Wellness {
  color: #5d00c7 !important;
  font-weight: bold;
}

.record-PatientAppointment-Done {
  color: #04991c !important;
  font-weight: bold;
}

.record-Patient_SOAP-Done {
  color: #04991c !important;
  font-weight: bold;
}

.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff !important;
}

td {
  border-color: transparent !important;
}

th {
  cursor: pointer;
}

.row-header {
  height: 25px;

  .col-first {
    border-color: #c8c8c8;
    background-color: white;
    font-weight: bold;
    color: #5e5e5e;
    font-size: 14px;
  }

  td {
    background-color: #f4f4f4;
  }
}

.row-footer {
  height: 25px;
  border-color: #c8c8c8;
  td {
    background-color: #f4f4f4;
  }
}
