<p-menubar *ngIf="menuItems.length > 0" [model]="menuItems"> </p-menubar>

<p-table
  [value]="dataSource"
  selectionMode="single"
  styleClass="p-datatable-sm"
  (onRowSelect)="List_onRowSelect($event)"
  (onRowUnselect)="List_onRowUnselect($event)"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 110px">Date</th>
      <th style="width: 120px">Ref #</th>
      <th style="width: 150px">Pet</th>
      <th>Comment</th>
      <th style="width: 110px">Amount</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr [pSelectableRow]="record" (click)="List_OnRowClick(record, $event)">
      <td style="width: 110px" class="text-center">
        {{ record.Date | date: "MM/dd/yyyy" }}
      </td>
      <td
        style="width: 120px"
        class="text-center"
        [title]="record.Name_FilingStatus"
      >
        {{ record.Code }}
        <span *ngIf="record.Code_Patient_Confinement">
          ({{ record.Code_Patient_Confinement }})</span
        >
      </td>
      <td style="width: 150px" class="text-center">
        <span class="" *ngIf="record.Name_Patient">{{
          record.Name_Patient
        }}</span>
      </td>
      <td>{{ record.Comment }}</td>
      <td style="width: 110px" class="text-right">
        {{ record.CreditAmount | number: "1.2" }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td class="text-right">Current Credit Amount</td>
      <td style="width: 110px" class="text-right">
        {{ CurrentCreditAmount | number: "1.2" }}
      </td>
    </tr>
  </ng-template>
</p-table>

<client-credit-adjustment-dialogbox
  #clientcreditadjustmentdialogbox
  (onSavedCreditAmount)="
    clientcreditadjustmentdialogbox_onSavedCreditAmount($event)
  "
></client-credit-adjustment-dialogbox>

<div class="control-separator-bottom"></div>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
