<!-- Navbar -->
<nav
  class="main-header navbar navbar-expand navbar-white navbar-light"
>
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-white" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
  </ul>

  <div
    *ngIf="IsShowPaymentWarningLabel"
    class="text-center"
    style="
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      color: #dd1e1e;
      font-weight: 700;
    "
  >
    Your subscription will expire in 24 hours. Please contact our billing team
    to avoid service interruption
  </div>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <a class="nav-link text-white" data-toggle="dropdown" href="#">
        <i class="fas fa-cog"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
        <span
          style="cursor: pointer"
          href="#"
          (click)="menuItem_onClick()"
          class="dropdown-item"
        >
          <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out
        </span>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
