<div
  class="app-control"
  [ngClass]="getClass()"
  [pTooltip]="toolTipMessage"
  tooltipPosition="bottom"
  [tooltipDisabled]="disabledTooltip"
  appendTo="body"
>
  <div
    class="row"
    [ngClass]="{
      'label-top': labelPosition == 'top',
      'label-left': labelPosition == 'left',
      'label-right': labelPosition == 'right',
      'label-bottom': labelPosition == 'bottom'
    }"
  >
    <div class="col-md-4 label-container">
      <div class="caption">
        
        <div class="label" [hidden]="filterMode == true">{{ label }}</div>

        <p-splitButton
          #filterCriteriaButton
          [hidden]="true"
         
          [model]="filterItems"
          styleClass="ui-button-secondary"
        ></p-splitButton>

        <!--
       <p-splitButton
          #filterCriteriaButton
          [hidden]="true"
          [label]="filterCriteria?.label"
          [model]="filterItems"
          styleClass="ui-button-secondary"
        ></p-splitButton>
       <div [hidden]="filterMode !== true" class="filterCriteriaValue" style="float: right;">{{filterCriteria?.label}}</div> -->
      </div>
    </div>
    <div class="col-md-8 control">
      <div class="parent">
        <ng-content></ng-content>
        <div class="required-msg">{{ label }} is required</div>
      </div>
    </div>
  </div>
</div>
