<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
</div>

<div
  class="card card-primary card-outline"
  *ngFor="let LabImage of CurrentObject.LabImages"
>
  <div class="card-body">
    <span
      style="
        position: absolute;
        top: -4px;
        right: 0px;
        display: block;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 4px;
        border-color: red;
        border-width: 1px;
        border-style: solid;
      "
      class="fa fa-times"
      (click)="btnLabImageRemove(LabImage)"
    ></span>
    <div class="row">
      <div class="col-md-3">
        <admin-lte-image-box
          name="LabImageFilePath{{ LabImage.ImageNo }}"
          caption="Image"
          [initialValue]="CurrentObject['LabImageFilePath' + LabImage.ImageNo]"
          (onModelChanged)="control_onModelChanged($event)"
        ></admin-lte-image-box>
      </div>

      <div class="col-md-9">
        <button
          style="
            position: absolute;
            top: -10px;
            right: 13px;
            display: block;
            cursor: pointer;
          "
          type="button"
          class="btn btn-default btn-md"
          (click)="btnfillTemplate_OnClick(LabImage)"
        >
          Fill Template
        </button>
        <admin-lte-textarea
          name="LabImageRemark{{ LabImage.ImageNo }}"
          caption="Remarks"
          rows="7"
          [initialValue]="CurrentObject['LabImageRemark' + LabImage.ImageNo]"
          (onModelChanged)="control_onModelChanged($event)"
        >
        </admin-lte-textarea>
      </div>
    </div>
  </div>
</div>
