@import "../../../palette.less";

.main-table {
  border-right: solid 1px #ddd;
}
.table-header table {
  background-color: darkgray;
}

.table-header, .table-body, .table-footer {
  position: relative;
  overflow: hidden;
  table {
    font-size: 11px;
    position: absolute;
    z-index: 0;
  }
  /deep/ .ui-corner-all {
    border-radius: 0;
  }
}

.table-body {
  tr.item-selected td{
    background-color:@jf-item-selected;
    color:#fff;
  }
  tr.group-row {
    td {
      background-color:#353535;
      color:#fff;
      height: 30px;
      min-height: 30px;
      max-height: 30px;
      font-weight: bold;
      div { 
        height: 100%;
        line-height: 30px;
        position: relative;
      }
    }

    .jf-focused {
      &.cell {
       border-color: transparent!important;
       background-color: transparent!important;
      }
    }
  }
}


// .table-footer {
//   height: 50px;
// }

.table-footer {
  border-top: solid 2px #ddd;
  table {
    background-color: #fff!important;
  }
}

@cellPadding:10px;
@cellHeight: 50px;
th.header-column {
  padding: 0px;
  height: @cellHeight + 5;
  line-height: @cellHeight + 5;
  padding-left: @cellPadding;
  background-color: #fff;
  padding-right: @cellPadding;
}



.table-footer {
  height: @cellHeight + 5;
  th {
    padding: 0px;
    height: @cellHeight + 5;
    line-height: @cellHeight + 5;
  }
}
td {
    min-height: @cellHeight;//!important;
    .cell {
      //line-height: @cellHeight;
    }
}



td {
  .action-item {
    padding: 5px;
    width: 35px!important;
    height: 35px!important;
    color:#fff;
    margin-right: 5px;
  }
  padding: 0px;
  // border-top: none;
  .cell.edit-cell {
    .cn {
      display: none;
    }

    padding: 0px!important;
    border-color: transparent;
    /deep/ .ui-inputtext {
      //height: 40px!important;
      height: @cellHeight - 15!important;
      line-height: @cellHeight - 5!important;
    }

    /deep/ .ui-dropdown {
      min-width: 100%;
      .ui-dropdown-label.ui-inputtext {
        height: @cellHeight - 15!important;
        line-height: @cellHeight - 25!important;
      }
    }
    .cell-value {
      display: none;
    }
  }

  p-checkbox:hover {
    cursor: pointer!important;
  }

  .cell {
    height: @cellHeight;
    width: 100%;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    
    .cn {
      display: table-cell;
      vertical-align: middle;
      height: @cellHeight;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: @cellPadding;
      padding-right: @cellPadding;
    }

 

    .cell-value {
      display: inline;

     

      .image {
        height: @cellHeight - 10;
        width: auto;
      }

      &.check-box {
        /deep/ .ui-chkbox .ui-chkbox-box:hover {
          cursor: pointer;
        }
        /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active:hover {
          background-color: #007ad9;
          border-color: #007ad9;
        }
        /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active {
          background-color:#000;
          border-color:#000;
        }
      }
    }
    &.jf-focused {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently*/
    }
  }
}

.data-table-holder:not(.grid-detail) {
  tr.jf-focused:not(.item-selected) td{
    background-color:highlight!important;
    color:#fff;
  }
}

.jf-focused {
  &.cell {
    border: solid 3px #000;
    // border-color: #000;
    background-color:#fff!important;
    color:#000!important;
    box-shadow: 1px;
    // display: block!important;
    //line-height: @cellHeight - 6!important;
    //padding-left: @cellPadding - 3!important;
  }

  &.edit-cell {
    display: block!important;
    background-color: #fff!important;
  }
}

th, td {
  display: inline-block;
};

.fixed-column {
  width: auto;
  background-color: #fff;
}

.fixed-column-left {
  z-index: 1!important;
  left: 0;
  td , th {
    &:last-child {
      border-right: solid 2px #ddd;
    }
  }
}

.fixed-column-right {
  z-index: 2!important;
  right: 0;
  top:0;
  background-color: white;
  td , th {
    &:first-child {
      border-left: solid 2px #ddd;
    }
  }
}

.base-table {
  background-color: #fff;
}

.ghost-column-header {
  background-color: dimgray!important;
  color:#fff;
  border-color: transparent!important;
  z-index: 10000;
}

.last-row {
  background-color:darkgray!important;
  td {
    border:none!important;
    border-right: none!important;
    border-left: none!important;
  }
}

.filter-row {
  background-color: darkgray;
  th {
    padding: 2px;
    height: 38px!important;
    background-color: #fff;
  }
  /deep/ .ui-calendar,
  /deep/ .ui-multiselect {
    min-width: 100%!important;
    font-size: 12px;
    font-weight: normal;
  }
}


/deep/ .ui-paginator {
  .ui-dropdown {
    width: 50px;
  }
}

.filter-row th,
th.header-column {
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently*/
  .col-resizer {
    display: inline-block;
    width: 5px;
    z-index: 10;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;

    &:hover {
      cursor: col-resize;
    }
  }
  &:hover {
    //background-color:@jf-item-selected;
    opacity: 0.8;
    // color:#fff;
    cursor: pointer;
  }
}

.fixed-column-right {
  th.header-column {
    .col-resizer {
      left: 0!important;
    }
  }
}

.resize-column-indicator {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  border-right: dotted 1px dimgray;
  border-left: dotted 1px dimgray;
}

.new-row-edit {
  td {
    background-color:#fff!important;
    border-top: solid 2px #ddd;
    // border-bottom: solid 2px #ddd;

    .is-can-edit {
      background-color: #fff;
    }
  }
}

p-checkbox {
  display: table-cell;vertical-align: middle;
}

.action-item-td {
  .cn {
    text-overflow: unset!important;
  }
}

@heightOffSet: 8;
.grid-detail {
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
  th.header-column {
    background-color: #f1f1f1;   
    height: @cellHeight - 10;
    line-height: @cellHeight - 10;
    font-size: 10px;
  }

  td {
    min-height: @cellHeight - @heightOffSet;
  }
  .cell {
    height: @cellHeight - @heightOffSet;
    .cn {
      height: @cellHeight - @heightOffSet - 2;
      padding-left: @cellPadding;
      padding-right: @cellPadding;
    }
  }
}