<div 
    class="d-flex flex-column expand" 
    style="margin-top:0px;background-color: #fff;">

    <div 
        class="module-header" 
        style="height: auto;">

        <div class="module-title" style="padding-left: 6px">
            Inventory
        </div>

        <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
        </p-menubar>
    </div>

    <div class="d-flex flex-fill module-content" style="height:1px;background-color: #fff;">

        <perfect-scrollbar style="max-width: 100%; max-height: 100%;padding-right: 12px;background-color: #fff;">

            <p-table #dt selectionMode="single" styleClass="p-datatable-sm" [(selection)]="selInventory"
                dataKey="ID_Item" [scrollable]="true" rowHover="true" [value]="inventoryList" [paginator]="true"
                [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0"
                [globalFilterFields]="['Name_Item','Name_InventoryStatus']" [style]="{
                    'height': '400px',
                    'background-color': 'gray'
                }">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-left">
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search for item" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 80px;">Item</th>
                        <th style="width: 40px;">Quantity</th>
                        <th style="width: 40px;">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inventory>
                    <tr (dblclick)="dt_onRowDblClick(inventory)">
                        <td style="width: 80px;">

                            <p (click)="dt_onRowDblClick(inventory)" style="cursor: pointer;">
                                {{inventory.Name_Item}} 
                            </p>
                        </td>
                        <td style="width: 40px;">{{inventory.Quantity}}</td>
                        <td style="width: 40px;">
                            <span class="badge badge-{{ inventory.colorStatus }}">
                                {{inventory.Name_InventoryStatus}}
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


        </perfect-scrollbar>

    </div>

</div>