<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 100px">Date</th>
          <th style="width: 100px">SOAP #</th>
          <th style="width: 100px">Type</th>
          <th style="width: 100px">Primary Complaint / History</th>
          <th style="width: 100px">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">{{ rowData.Date | date : "MM/dd/yyyy" }}</td>
          <td class="text-center">{{ rowData.Code }}</td>
          <td class="text-center">{{ rowData.Name_SOAPType }}</td>
          <td class="text-left">{{ rowData.History }}</td>
          <td
            style="text-align: center"
            class="FilingStatus FS_{{
              rowData.Name_FilingStatus == null
                ? ''
                : rowData.Name_FilingStatus.replace(' ', '')
            }}"
          >
            {{ rowData.Name_FilingStatus }}
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
