@import "./palette.less";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body {
  
  height: 100%;
  width: 100%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

.expand {
  height: 100%;
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body,
.form-control, .ui-inputtext {
  font-size: 12px!important;
  width: 100%;
}

.app-form {
  .app-control {
    margin-bottom: 5px;
  }
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;

  .popup {
    &:not(.open) {
      display: none;
    }

    &.open {
      display: block;
      position: fixed;
      height: 100%;
      width: 100%; // background:#00000040;

      .popup-content {
        position: relative;
        background: #fff;
        display: inline-block;
        padding: 5px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        border: 1px solid rgba(0, 0, 0, .2);
      }
    }
  }
}

.dropdown-item {
  padding: 0px !important;
  color: inherit !important;
}

.ngx-contextmenu {

  a {
    color: #333;

    &:hover {
      text-decoration: unset;
      // background-color: none;
    }
  }

  @jf-focused-color :rgb(112, 112, 112);

  .jf-context-menu {
    padding: 8px 20px;
    line-height: 1.42857143;
  }
}

.grid-dropdown .list-container {
  border: none !important;
}

.app-control:not(.jf-focused) {

  .jf-item-focused,
  .jf-item-selected {
    background-color: @jf-item-selected;
  }
}

.app-control.jf-focused {

  .jf-item-focused,
  .jf-item-selected {
    background-color: @jf-focused-color;
    color: #fff;
  }
}
.module-header {
  .ui-toolbar,.ui-menubar {
    border-radius: 0px!important;
  }
  .title {
    font-weight: bold;
  }
}
.module-content {
  padding:2px;
  background-color:#f4f4f4;
}

.picklist-overlay .ui-overlaypanel-content {
  padding: 0!important;
}


.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.msg-box {
  .modal-dialog {
    width: max-content;
    p {
      padding-left: 20px;
      padding-right: 20px;
      margin: 0;
      font-size: 14px;
    }
    button {
      font-size: 12px;
    }
  }
}

body .ui-panelmenu .ui-panelmenu-content .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
  color:#292b2c!important;
}

.app-lookup-modal {
  .modal-dialog {
    max-width: 70%;
  }
}


.detail-view-dialog,
.list-view-dialog {
  .modal-dialog {
    max-width: 90%;
    .modal-body {
      padding: 0;
    }
  }
}

.modal-content,.modal-header, .modal-footer {
  border-radius: 0!important;
  border: none;
}
.custom-width-dialog {
  opacity: 0!important;
  transition: none!important;
}

.ui-submenu-list { 
  width: auto!important;
  min-width: 100%;
}
.ui-contextmenu {
  width: auto;
  .ui-menuitem-link {
    .ui-menuitem-text {
      margin-right: 25px;
    }
  }
}

.column-chooser {
  margin-top: 0;
  &:before {
    display: none!important;
  }
}

.column-chooser-item.ghost-column-header {
  height: 50px!important;
  line-height: 50px;
  font-size: 14px;
  background-color: rgb(73, 73, 73);
  text-align: center;
}


#root-ng-internal-isolated-2 {
  display: none;
}

.ui-contextmenu,  
.ui-menu-list{
  font-size: 12px;
  width: 230px;
  .ui-submenu-list {
    margin-left: -1px;
  }
  &.ui-corner-all {
    border-radius: 0px;
  }
}

.form-helper-view-dialog {
  /deep/ .no-caption {
    legend.ui-fieldset-legend {
        display: none!important;
    }
  }


    
  /deep/ .no-caption fieldset {
      border-color: #fff;
  }
}
.modal-content {
  border:none!important;
}
.form-validation-box {
  .modal-dialog {
    width: 40%;
  }
}

.detail-menubar {
  .ui-menubar {
    background-color: transparent!important;
    border:none;
    .ui-menuitem-text {
      font-weight: bold;
    }
  }
} 

.module-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}


.fc-event-title{

  font-weight: 0 !important;
}


.fc-daygrid-event{

  color: white !important;
  cursor: pointer;
}

.fc-daygrid-event-patientwellness{

  background-color: #5d00c7 !important;
}

.fc-daygrid-event-patientsoap{

  background-color: #116fbf !important;
}
.fc-daygrid-event-patientappointment{

  background-color: rgb(218 72 3) !important;
}
