<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-9"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <div
              *ngIf="!isListLoadedSuccess"
              style="margin: 10px; cursor: pointer"
              class="callout callout-danger"
              (click)="onBtnSearchClick($event)"
            >
              <i class="fas fa-times"></i>&nbsp;Unable to Load the result.
              Please try again...
            </div>

            <ng-container
              *ngIf="isListLoadedSuccess"
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left"
              >Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 80px">Code</th>
        <th>Name</th>
        <th style="width: 180px">Contact Number</th>
        <th
          style="width: 150px"
          (click)="onColumnHeaderClick('LastAttendingPhysician_Name_Employee')"
        >
          Last Att. Vet
        </th>
        <th
          style="width: 150px"
          (click)="onColumnHeaderClick('TotalRemainingAmount')"
        >
          Pending Balance
        </th>
        <th style="width: 10px">&nbsp;</th>

        <th style="width: 80px">New Tab</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let rowData of dataSource; index as i">
        <td (click)="Row_OnClick(rowData)">{{ rowData.Code }}</td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Name }}</td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.ContactNumbers }}</td>
        <td style="text-align: center">
          {{ rowData.LastAttendingPhysician_Name_Employee }}
        </td>

        <td style="text-align: right" (click)="Row_OnClick(rowData)">
          <span
            *ngIf="rowData.TotalRemainingAmount"
            class="text-danger text-bold"
            >{{ rowData.TotalRemainingAmount | number : "1.2-5" }}</span
          >
        </td>
        <td>
          <p
            class="text-success action-text"
            (click)="RowCellAction_CreateAppointment_OnClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Appointment
          </p>
          <p
            class="text-success action-text"
            (click)="RowCellAction_CreateBilling_OnClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Billing
          </p>
          <hr />
          <p
            class="text-success action-text"
            (click)="RowCellAction_CreatePet_OnClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Add Pet
          </p>
          <p
            class="text-success action-text"
            (click)="RowBtnActionMergeClientModal_onClick(rowData)"
          >
            <i class="fa fa-arrow-circle-right"></i> Merge To
          </p>
        </td>
        <td class="text-center">
          <button class="btn btn-default"
            (click)="openNewTab({
              'RouterName': 'Client',
              'ID_CurrentObject': rowData.ID
            })"
          >
            <i class="fas fa-external-link-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="LastAttendingPhysician_Name_Employee"
    caption="Last Attending Vet"
    [initialValue]="CurrentObject.LastAttendingPhysician_Name_Employee"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Code"
    caption="Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumbers"
    caption="Contact Number"
    [initialValue]="CurrentObject.ContactNumbers"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-checkbox
    name="IsDeleted"
    caption="Deleted"
    [initialValue]="CurrentObject.IsDeleted"
    (onModelChanged)="checkbox_onModelChanged($event)"
  >
  </admin-lte-checkbox>
</ng-template>

<merge-client-dialog #mergeclientdialog></merge-client-dialog>
