<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Item
      {{
        CurrentObject.ID_ItemType == ID_ItemType_Service
          ? "(" + CurrentObject.Name_ItemType + ")"
          : ""
      }}
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <p-tabView
        *ngIf="
          configOptions['ID_AppointmentSchedule'] != undefined &&
          configOptions['ID_AppointmentSchedule'] != null
        "
      >
        <p-tabPanel
          header="Apppointment Schedule"
          class="oid-control tab-panel-custom"
          *ngIf="
            configOptions['ID_AppointmentSchedule'] != undefined &&
            configOptions['ID_AppointmentSchedule'] != null
          "
        >
          <app-appointmentschedule-step-status
            #appointSchedStepStatus
            [ID_AppointmentSchedule]="
              this.configOptions['ID_AppointmentSchedule']
            "
          >
          </app-appointmentschedule-step-status>
        </p-tabPanel>
      </p-tabView>

      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-6">
                <p-fieldset legend="Information" class="with-caption">
                  <app-text-box
                    *ngIf="CurrentObject.Code"
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-auto-complete-box
                    [(ngModel)]="CurrentObject.Name"
                    name="Name"
                    caption="Name"
                    [readOnly]="false"
                    [required]="true"
                    labelPosition="top"
                    [dataList]="ItemList"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-auto-complete-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="false"
                    [(ngModel)]="CurrentObject.Name_ItemType"
                    name="Name_ItemType"
                    caption="Type"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-select-box
                    *ngIf="false"
                    #ID_ItemTyper_SelectBox
                    [(ngModel)]="CurrentObject.ID_ItemType"
                    name="ID_ItemType"
                    caption="Type"
                    [required]="false"
                    [option]="ID_ItemType_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="
                      ID_ItemType_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <app-select-box
                    #ID_ItemCategory_SelectBox
                    [(ngModel)]="CurrentObject.ID_ItemCategory"
                    name="ID_ItemCategory"
                    caption="Category"
                    [required]="true"
                    [option]="ID_ItemCategory_SelectBoxOption"
                    labelPosition="top"
                    (onValueChanged)="
                      ID_ItemCategory_SelectBox_ValueChanged($event)
                    "
                  >
                  </app-select-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="CurrentObject.ID_ItemType === ID_ItemType_Service"
                    [(ngModel)]="CurrentObject.SKUCode"
                    name="SKUCode"
                    caption="SKU Code"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div
                    *ngIf="CurrentObject.ID_ItemType === ID_ItemType_Service"
                    clwass="control-separator-bottom"
                  ></div>
                </p-fieldset>
              </div>
              <div
                *ngIf="CurrentObject.ID_ItemType === ID_ItemType_Inventoriable"
                class="col-lg-6"
              >
                <p-fieldset legend="Other Info" class="with-caption">
                  <app-date-box
                    [(ngModel)]="CurrentObject.OtherInfo_DateExpiration"
                    name="OtherInfo_DateExpiration"
                    caption="Date Expiration"
                    [readOnly]="false"
                    [show-time]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.RemainingBeforeExpired"
                    name="RemainingBeforeExpired"
                    caption="Remaining Before Expired"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>
                </p-fieldset>
              </div>
            </div>

            <div class="row">
              <div
                class="col-lg-6"
                *ngIf="CurrentObject.ID_ItemType === ID_ItemType_Inventoriable"
              >
                <p-fieldset legend="Inventory" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.SKUCode"
                    name="SKUCode"
                    caption="SKU Code"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.BarCode"
                    name="BarCode"
                    caption="Bar Code #"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject._CurrentInventoryCount"
                    name="_CurrentInventoryCount"
                    caption="Current Inventory Count"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.MinInventoryCount"
                    name="MinInventoryCount"
                    caption="Min Count"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.MaxInventoryCount"
                    name="MaxInventoryCount"
                    caption="Max Count"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-6">
                <p-fieldset legend="Pricing" class="with-caption">
                  <app-number-box
                    [(ngModel)]="CurrentObject.UnitCost"
                    name="UnitCost"
                    caption="Buying Price"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.UnitPrice"
                    name="UnitPrice"
                    [caption]="UnitPriceCaption"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel
            *ngIf="CurrentObject.ID_ItemType === ID_ItemType_Inventoriable"
            header="Supplier"
            class="oid-control tab-panel-custom"
          >
            <supplier-list
              [Item_Suppliers]="CurrentObject.Item_Supplier"
            ></supplier-list>
          </p-tabPanel>

          <p-tabPanel header="Comment" class="oid-control tab-panel-custom">
            <app-text-area
              [(ngModel)]="CurrentObject.Comment"
              name="Comment"
              caption="Comment"
              labelPosition="top"
            ></app-text-area>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<ng-template #addItemChildTemplate>
  <div class="row">
    <div class="col-lg-3" style="padding-top: 21px; padding-right: 0px">
      <button
        *ngIf="ItemInventory.IsAddInventory"
        (click)="btnTickAddInventory()"
        type="button"
        style="width: 100%; font-size: 12px"
        class="btn btn-primary"
      >
        <span class="fa fa-plus"></span> Add
      </button>
      <button
        *ngIf="ItemInventory.IsAddInventory == false"
        (click)="btnTickDeductInventory()"
        type="button"
        style="width: 100%; font-size: 12px"
        class="btn btn-danger"
      >
        <span class="fa fa-minus"></span> Deduct
      </button>
    </div>

    <div class="col-lg-9" style="padding-left: 6px">
      <app-number-box
        [(ngModel)]="ItemInventory.Quantity"
        name="Quantity"
        caption="Quantity"
        [required]="true"
        labelPosition="top"
        [ngStyle]="{
          'margin-bottom': '5px'
        }"
      >
      </app-number-box>
    </div>
  </div>

  <div class="control-separator-bottom"></div>

  <div class="control-separator-bottom"></div>

  <app-text-area
    [(ngModel)]="ItemInventory.Comment"
    name="Comment"
    caption="Note"
    [required]="true"
    labelPosition="top"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-area>

  <div class="control-separator-bottom"></div>
</ng-template>
<dialog-box-cmp
  #dialogbox
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="
    addItemInventoryDialogBox_onPositiveButtonClick($event)
  "
></dialog-box-cmp>

<loading-screen [isLoading]="isLoading"></loading-screen>
