<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >{{ title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body p-0">
    <ng-content></ng-content>
  </div>

  <div *ngIf="footerTemplate" class="modal-footer">
    <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </div>
</ng-template>
