<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      <span class="patient-detail-link" (click)="gotoPatientDetailView()">
        {{ patient.Name }}
      </span>
      / Dental Examination
    </div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <!-- <p-breadcrumb [hidden]="!showTitle" [model]="breadCrumbMenus" [home]="home"></p-breadcrumb> -->
        <!-- <button pButton label="Filter" icon="pi pi-filter"></button>
                <button pButton label="Clear" icon="mdi mdi-filter"></button> -->

        <!-- <button pButton type="button" label="Reset" class="ui-button-raised ui-button-secondary" (click)="clearFilter()"></button> -->
        <button
          pButton
          *ngIf="_IsSaving"
          type="button"
          class="ui-button-raised"
          icon="pi pi-times"
          (click)="btnCloseButton_onClick()"
        ></button>
      </div>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <div class="row" style="padding-top: 15px">
        <div class="col-6">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">
              <strong>Dental Exam #</strong>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                [(ngModel)]="selPatientDentalExam.Code"
                class="form-control"
                readonly
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">
              <strong>Date</strong>
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                [(ngModel)]="selPatientDentalExam.DateString"
                class="form-control"
                readonly
              />
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for=""
              ><strong>Dentist</strong></label
            >

            <div class="col-sm-8">
              <input
                type="text"
                [(ngModel)]="selPatientDentalExam.Doctor"
                class="form-control"
                placeholder=""
                readonly
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for=""
              ><strong>Status</strong></label
            >

            <div class="col-sm-8">
              <input
                type="text"
                [(ngModel)]="selPatientDentalExam.Name_FilingStatus"
                class="form-control"
                placeholder=""
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <app-tooth-info-dialog #toothInfoDialog></app-tooth-info-dialog>

      <p-tabView>
        <p-tabPanel header="Detail" class="tab-panel-custom">
          <app-dental-chart
            #dentalChart
            [isAllowClick]="isAllowClick"
            (onToothClick)="DentalChart_onToothClick($event)"
            (onToothStatusClick)="DentalChart_onToothStatusClick($event)"
            (onToothStatusBtnCloseClick)="
              DentalChart_onToothStatusBtnCloseClick($event)
            "
          >
          </app-dental-chart>

          <p-table
            styleClass="p-datatable-striped"
            rowHover="true"
            selectionMode="single"
            [value]="selPatientDentalExam.ToothInfos"
            [(selection)]="selectedToothInfo"
            sortField="ToothNumber_Tooth"
            sortMode="single"
            [scrollable]="true"
            scrollHeight="500px"
          >
            <ng-template pTemplate="caption">
              <div class="table-header">
                Tooth Condition / Treatment / Surgery
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 80px">No.</th>
                <th style="width: 80px">Loc.</th>
                <th style="width: 180px">Tooth Surfaces</th>
                <th style="width: 280px">Status</th>
                <th>Note</th>
                <th style="width: 160px; text-align: center">Action</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-toothInfo>
              <tr>
                <td style="width: 80px">{{ toothInfo.ToothNumber_Tooth }}</td>
                <td style="width: 80px">{{ toothInfo.Location_Tooth }}</td>
                <td style="width: 180px">
                  <h2
                    *ngFor="let toothSurface of toothInfo.ToothSurfaces"
                    class="badge badge-primary"
                    style="margin-right: 2px"
                  >
                    {{ toothSurface.Name }}
                  </h2>
                </td>
                <td style="width: 280px">{{ toothInfo.Name_ToothStatus }}</td>
                <td>{{ toothInfo.Comment.substring(0, 20) }}</td>
                <td style="width: 160px; text-align: center">
                  <button
                    *ngIf="selPatientDentalExam.ID_FilingStatus == 1"
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="dataGridToothInfo_BtnEdit_onClick(toothInfo)"
                  >
                    Edit
                  </button>

                  <button
                    *ngIf="selPatientDentalExam.ID_FilingStatus == 1"
                    type="button"
                    class="btn btn-outline-danger"
                    style="margin-left: 5px"
                    (click)="dataGridToothInfo_BtnDelete_onClick(toothInfo)"
                  >
                    Delete
                  </button>

                  <button
                    *ngIf="selPatientDentalExam.ID_FilingStatus != 1"
                    type="button"
                    class="btn btn-outline-info"
                    style="margin-left: 5px"
                    (click)="dataGridToothInfo_BtnView_onClick(toothInfo)"
                  >
                    View
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>

        <p-tabPanel header="Medical History" class="tab-panel-custom">
          <div class="row">
            <div
              class="col-md-6"
              *ngFor="let ParentQuestionaires of DivisionQuestionaires"
            >
              <div
                class="row"
                *ngFor="let parentQuestionaire of ParentQuestionaires"
              >
                <div class="col-lg-12">
                  <p
                    *ngIf="parentQuestionaire.ID > 0"
                    style="padding-bottom: 14px"
                  >
                    <strong>{{ parentQuestionaire.Comment }} <br /></strong>
                  </p>

                  <div
                    style="display: flex; width: 100%"
                    *ngFor="
                      let medicalHistory of parentQuestionaire.Questionaires
                    "
                  >
                    <div
                      style="display: block; width: 60%"
                      [ngStyle]="{
                        'padding-left':
                          parentQuestionaire.ID > 0 ? '20px' : '0px'
                      }"
                    >
                      {{ medicalHistory.Comment }}
                    </div>

                    <div style="display: block; float: right">
                      <div
                        class="form-group"
                        *ngIf="medicalHistory.ID_QuestionType == 1"
                      >
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="medicalHistory_{{
                              medicalHistory.ID_MedicalHistoryQuestionnaire
                            }}"
                            value="1"
                            id="medicalHistory_{{
                              medicalHistory.ID_MedicalHistoryQuestionnaire
                            }}_yes"
                            [(ngModel)]="medicalHistory.Answer"
                            (change)="medicalHistoryQuestion_YesNoValue($event)"
                          />
                          <label
                            class="form-check-label"
                            for="medicalHistory_{{
                              medicalHistory.ID_MedicalHistoryQuestionnaire
                            }}_yes"
                            >Yes</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="medicalHistory_{{
                              medicalHistory.ID_MedicalHistoryQuestionnaire
                            }}"
                            value="0"
                            id="medicalHistory_{{
                              medicalHistory.ID_MedicalHistoryQuestionnaire
                            }}_no"
                            [(ngModel)]="medicalHistory.Answer"
                            (change)="medicalHistoryQuestion_YesNoValue($event)"
                          />
                          <label
                            class="form-check-label"
                            for="medicalHistory_{{
                              medicalHistory.ID_MedicalHistoryQuestionnaire
                            }}_no"
                            >No</label
                          >
                        </div>
                      </div>
                      <div
                        class="form-group"
                        *ngIf="medicalHistory.ID_QuestionType == 2"
                      >
                        <textarea
                          class="form-control"
                          [(ngModel)]="medicalHistory.Answer"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Images" class="tab-panel-custom">
          <p-menubar
            [model]="imageMenu"
            [hidden]="
              selPatientDentalExam.ID_FilingStatus != Filed_ID_FilingStatus ||
              selPatientDentalExam.ID == null ||
              selPatientDentalExam.ID < 1
            "
          >
          </p-menubar>

          <div
            *ngFor="let image of selPatientDentalExam.Images"
            class="row"
            style="padding-top: 15px"
          >
            <div class="col-1"></div>

            <div class="col-3">
              <img
                src="{{ _imageURLPath }}Content/Image/{{ image.ImageValue }}"
                class="img-fluid"
                alt="{{ selPatientDentalExam.Comment }}"
              />
            </div>

            <div class="col-5">
              <app-text-area
                [(ngModel)]="image.Comment"
                name="Comment"
                caption=""
                labelPosition="top"
                [readOnly]="
                  selPatientDentalExam.ID_FilingStatus != Filed_ID_FilingStatus
                "
              >
              </app-text-area>
            </div>

            <div class="col-1">
              <button
                pButton
                *ngIf="_IsSaving"
                type="button"
                class="ui-button-raised"
                icon="pi pi-times"
                (click)="btnImagesCloseButton_onClick(image)"
              ></button>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Prescription" class="tab-panel-custom">
          <div class="row" style="padding-top: 15px">
            <div class="col-12">
              <app-text-area
                [(ngModel)]="selPatientDentalExam.Comment"
                name="Comment"
                caption=""
                labelPosition="top"
                [readOnly]="
                  selPatientDentalExam.ID_FilingStatus != Filed_ID_FilingStatus
                "
              >
              </app-text-area>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>

      <div style="height: 100px; display: block"></div>
    </perfect-scrollbar>
  </div>

  <div class="module-footer"></div>
</div>

<!-- Patient Image Dialog -->
<ng-template #PatientImageTemplate>
  <app-image-box
    #PatientImageBox
    [(ngModel)]="CurrentPatientImageFile.ImageFile"
    name="ImageFile"
    caption="Image"
    [required]="true"
    labelPosition="top"
  >
  </app-image-box>

  <app-text-area
    [(ngModel)]="CurrentPatientImageFile.Comment"
    name="Comment"
    caption="Comment"
    [required]="true"
    labelPosition="top"
  >
  </app-text-area>
</ng-template>
<dialog-box
  #PatientImageDialogBox
  [childTemplate]="PatientImageTemplate"
  (onPositiveButtonClick)="PatientImageDialogBox_onPositiveButtonClick($event)"
  (onClosed)="PatientImageDialogBox_onClosed()"
></dialog-box>
