<div *ngIf="readonly != true" class="form-group" style="position: relative">
  <label *ngIf="caption.length > 0" for="exampleInputEmail1">{{ caption }}</label>
  <input
    id="{{ this.id }}-input"
    [name]="name"
    placeholder="{{ placeholder }}"
    class="form-control"
    type="number"
    style="text-align: right"
    [(ngModel)]="value"
    (ngModelChange)="_onModelChanged($event)"
    (keyup)="onKey($event)"
    (focusout)="focusOut()"
    (focus)="focusIn()"
    [min]="min"
  />
  <span
    *ngIf="false"
    class="form-control"
    style="text-align: right; position: absolute; top: 25px; cursor: pointer"
    (click)="onClick()"
    >{{ value | number: format }}</span
  >
</div>

<div *ngIf="readonly" class="form-group" style="position: relative">
  <label for="exampleInputEmail1">{{ caption }}</label>

  <span class="form-control form-control-readonly" style="text-align: right">{{
    value | number: format
  }}</span>
</div>
