<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h3>{{ _options.title }}</h3>
  </div>
  <div
    class="modal-body"
    [ngStyle]="{
      height: mainboxHeight
    }"
  >
    <div
      class="row"
      style="margin-bottom: 10px"
      *ngIf="this._options.filterColumns.length > 0"
    >
      <div class="col-lg-4">
        <p-dropdown
          [options]="filterColumns"
          [(ngModel)]="selectedfilterColumn"
          optionLabel="name"
          (onChange)="dropDownfilterColumns_onKeyUp($event)"
        ></p-dropdown>
      </div>

      <div class="col-lg-8">
        <input
          type="text"
          pInputText
          [(ngModel)]="filterValue"
          placeholder="Search"
          (keyup)="txtSearch_onKeyUp($event)"
        />
      </div>
    </div>

    <div
      style="width: 100%; overflow: hidden; display: contents"
      [style.height]="_options.height"
      [style.max-height]="_options.height"
    >
      <p-table
        [value]="records"
        [scrollable]="true"
        [(selection)]="selectedRecords"
        dataKey="ID"
        class="p-datatable-striped table-scroll"
        [scrollHeight]="_options.height"
      >
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="_options.IsMultiple" style="width: 50px">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th
              *ngFor="let col of _options.columns; let i = index"
              [ngStyle]="{
                width: col.width
              }"
            >
              {{
                col.caption == undefined || col.caption == null
                  ? col.name
                  : col.caption
              }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
          <tr [pSelectableRow]="record" (click)="Row_onClick(modal, record)">
            <td
              *ngIf="_options.IsMultiple"
              style="width: 50px; text-align: center"
            >
              <p-tableCheckbox [value]="record"></p-tableCheckbox>
            </td>

            <td
              *ngFor="let col of _options.columns; let i = index"
              [ngStyle]="{
                width: col.width,
                'text-align': col.align
              }"
            >
              {{ record[col.name] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <p-paginator
    [rows]="pagingOption.DisplayCount"
    [totalRecords]="pagingOption.TotalRecord"
    (onPageChange)="paginate($event)"
  ></p-paginator>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="btnPositive_OnClick(modal)"
    >
      OK
    </button>
  </div>
</ng-template>
