<modal-dialog
  #modalDialog
  title="Permission From Administrator"
  size="sm"
  [footerTemplate]="footerDialogTemplate"

>
  <br />
  <div class="container">
    <ng-container [ngTemplateOutlet]="adjustInventoryTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <div class="row">
    <div class="col-md-12">
      <admin-lte-passwordbox
        name="Password"
        caption="Administrator Password"
        [initialValue]="CurrentObject.Password"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-passwordbox>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="loading != true"
    class="btn btn-primary"
    (click)="btnChange_onClick()"
  >
    <i class="fas fa-cubes"></i>&nbsp;Confirm
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
