<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">
          {{ title }}
          <ng-template [ngTemplateOutlet]="customTitleTemplate"></ng-template>
        </h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li
            *ngFor="let breadCrumbItem of breadCrumbItems"
            class="breadcrumb-item"
            (click)="breadCrumb_onClicked(breadCrumbItem)"
          >
            {{ breadCrumbItem.label }}
          </li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
