<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields">
         </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Purchase Order"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PurchaseOrder_fields">
       </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Details"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ReceivingReportDetails_fields">
         </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PurchaseOrder_fields>
  <admin-lte-data-lookupbox
    name="ID_PurchaseOrder"
    displayName="Code_PurchaseOrder"
    caption="PO #"
    [initialValue]="CurrentObject.ID_PurchaseOrder"
    [initialDisplayValue]="CurrentObject.Code_PurchaseOrder"
    [option]="ID_PurchaseOrder_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
  <admin-lte-texbox
    name="Name_Supplier"
    caption="Supplier"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_Supplier"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>


<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

  <drop-down-button
  title="Back"
  [isDropdownRight]="true"
  [items]="rightDropDownItems"
  (onMainButtonClick)="onClickBackButton()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</div>

</ng-template>

<ng-template #contentTemplate_ReceivingReportDetails_fields>
  <receiving-report-detail-table
    [CurrentObject]="CurrentObject"
    (onChanged)="ReceivingReportDetailTable_onChanged($event)"
  ></receiving-report-detail-table>
</ng-template>

<br /><br /><br /><br /><br /><br /><br /><br />
