<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 110px">Date</th>
          <th style="width: 110px">Pet Groom #</th>
          <th>Attend. Groomer</th>
          <th>Service</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">
            {{ rowData.Date | date : "MM/dd/yyyy" }}
          </td>
          <td class="text-center">{{ rowData.Code }}</td>
          <td class="text-left">
            {{ rowData.AttendingPhysician_Name_Employee }}
          </td>
          <td class="text-left">
            <p
              class="text-success action-text"
              *ngFor="let detail of rowData.Details"
              [title]="detail.Comment"
            >
              <i class="action-text"></i>
              {{ detail.Name_Item }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
