<div class="btn-group">
  <div class="btn btn-default">
    <span
      class="text-center WaitingStatus WS_{{
        selectedMenuItem.Name == null
          ? ''
          : selectedMenuItem.Name.replace(' ', '')
      }}"
    >
      {{ selectedMenuItem.Name }}
    </span>
  </div>

  <button
    type="button"
    class="btn btn-default dropdown-toggle dropdown-icon"
    data-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu" role="menu" style="">
    <div
      *ngFor="let menuItem of menuItems"
      class="dropdown-item"
      (click)="menuItem_onClick(menuItem)"
    >
      {{ menuItem.Name }}
    </div>
  </div>
</div>
