<div class="main-section">
    <div class="head-section">
        <div class="headLeft-section">
            <div class="headLeft-sub">
                <input type="text" [(ngModel)]="sender" name="search" placeholder="Search...">
                <button> <i class="fa fa-search"></i> </button>
            </div>
        </div>
        <div class="headRight-section">
            <div class="headRight-sub">
                <h3>{{ selectedRecipient.Recipient_Name_User }}</h3>
                <small>{{ datePipe.transform(selectedRecipient.LastDateSent, 'yyyy/MM/dd hh:mm a')  }}</small>
            </div>
        </div>
    </div>
    <div class="body-section">
        <div class="left-section mCustomScrollbar" data-mcs-theme="minimal-dark">
            <ul>
                <li 
                    *ngFor="let recipient of recipients"
                    [ngClass]="{'active': recipient.IsRead == false }"
                    (click)="Recipient_onClick(recipient)">
                    <div class="chatList">
                        <div class="img">
                            <img src="https://elmtestserver.vetservers.com/uploads/sample/user.png">
                        </div>
                        <div class="desc">
                            <small class="time">{{ datePipe.transform(recipient.LastDateSent, 'yyyy/MM/dd')  }}</small>
                            <h5 
                                style="font-size: 16px;">
                                {{ recipient.Recipient_Name_User.length > 20 ? recipient.Recipient_Name_User.substring(0, 20) : recipient.Recipient_Name_User }}
                            </h5>
                            <small>New Message</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right-section">
            <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
                <ul>
                    <li *ngFor="let msgThread of selectedRecipient.MessageThreads" class="msg-left">
                        <div class="msg-left-sub">
                            <img src="https://elmtestserver.vetservers.com/uploads/sample/user.png">
                            <div class="msg-desc">
                                {{ msgThread.Message }}
                            </div>
                            <small>{{ msgThread.DateSent }}</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-section-bottom">
                <div class="upload-btn">

                    <button class="btn"><i class="fa fa-photo"></i></button>
                    <input type="file" name="myfile" />
                </div>

                <input 
                    type="text" 
                    [(ngModel)]="_message" 
                    (keydown)="btnSend_onKeyDown($event)" 
                    name=""  placeholder="type here...">

                <button class="btn-send" (click)="btnSend_onClick()"><i class="fa fa-send"></i></button>
            </div>
        </div>
    </div>
</div>