<div class="ui-g">
  <div class="ui-g-4">
    <app-date-box
      [(ngModel)]="CurrentObject.DateStart"
      name="DateStart"
      caption="Date Start"
      [readOnly]="true"
      labelPosition="top"
      [show-time]="false"
    >
    </app-date-box>

    <div class="control-separator-bottom"></div>

    <app-date-box
      [(ngModel)]="CurrentObject.DateEnd"
      name="DateEnd"
      caption="Date End"
      [readOnly]="true"
      labelPosition="top"
      [show-time]="false"
    >
    </app-date-box>
  </div>
  <div class="ui-g-4">
    <app-text-box
      [(ngModel)]="CurrentObject.ScheduleType"
      name="ScheduleType"
      caption="Schedule Type"
      [readOnly]="true"
      labelPosition="top"
      [ngStyle]="{
        'margin-bottom': '5px'
      }"
    >
    </app-text-box>

    <div class="control-separator-bottom"></div>

    <app-text-box
      [(ngModel)]="CurrentObject.Name_ServiceType"
      caption="Kind Of Service"
      [readOnly]="true"
      labelPosition="top"
      [ngStyle]="{
        'margin-bottom': '5px'
      }"
    >
    </app-text-box>
  </div>
</div>

<p-fieldset legend="Status" class="with-caption">
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false">
  </p-steps>
</p-fieldset>

<!-- On Going -->
<ng-template #onGoingTemplate>
  <app-select-box
    [(ngModel)]="OngoingCurrentObject.AppointmentStatus_ID_FilingStatus"
    name="ID_ItemType"
    caption="Type"
    [required]="false"
    [option]="Ongoing_ID_AppointmentStatus_ID_FilingStatus_SelectBoxOption"
    labelPosition="top"
  >
  </app-select-box>
</ng-template>
<dialog-box
  #onGoingDialogBox
  [childTemplate]="onGoingTemplate"
  (onPositiveButtonClick)="OngoingDialogBox_onPositiveButtonClick($event)"
  (onClosed)="OngoingDialogBox_onClosed()"
></dialog-box>
