<menubar
  *ngIf="loading != true"
  [items]="menuItems"
  (onClick)="menubar_OnClick($event)"
>
</menubar>

<div class="card">
  <div class="card-body p-0">
    <admin-lte-list
      #listview
      [option]="listviewOption"
      [IsShowFilter]="false"
      [IsShowMenuBar]="false"
      (onRowSelected)="listview_onRowSelected($event)"
      (onDataSourceLoaded)="listview_onDataSourceLoaded($event)"
    ></admin-lte-list>
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
