<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="items.length > 0" class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-12"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <div
              *ngIf="!isListLoadedSuccess"
              style="margin: 10px; cursor: pointer"
              class="callout callout-danger"
              (click)="onBtnSearchClick($event)"
            >
              <i class="fas fa-times"></i>&nbsp;Unable to Load the result.
              Please try again...
            </div>

            <ng-container
              *ngIf="isListLoadedSuccess"
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-wrap">
    <thead>
      <tr>
        <th style="width: 100px" (click)="onColumnHeaderClick('Date')">Date</th>
        <th
          style="width: 200px"
          (click)="onColumnHeaderClick('Name_ExpensesCategory')"
        >
          Category
        </th>
        <th (click)="onColumnHeaderClick('Name')">Name</th>
        <th style="width: 150px">Expense</th>
        <th style="width: 150px">Remaining</th>
        <th style="width: 150px">Paid</th>
        <th
          style="width: 150px"
          (click)="onColumnHeaderClick('Payment_Name_FilingStatus')"
        >
          Status
        </th>
        <th style="width: 100px">Pay</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of dataSource; index as i">
        <td (click)="Row_OnClick(rowData)">
          {{ rowData.Date | date : "MM/dd/yyyy" }}
        </td>
        <td (click)="Row_OnClick(rowData)">
          {{ rowData.Name_ExpenseCategory }}
        </td>
        <td (click)="Row_OnClick(rowData)">
          {{ rowData.Name_Payable_Detail }}
        </td>
        <td (click)="Row_OnClick(rowData)" class="text-right">
          {{ rowData.TotalAmount | number : "1.2" }}
        </td>
        <td (click)="Row_OnClick(rowData)" class="text-right">
          {{ rowData.RemaningAmount | number : "1.2" }}
        </td>
        <td (click)="Row_OnClick(rowData)" class="text-right">
          {{ rowData.PaidAmount | number : "1.2" }}
        </td>
        <td
          (click)="Row_OnClick(rowData)"
          style="text-align: center"
          class="PayStatus PayStatus_{{
            rowData.Payment_Name_FilingStatus == null
              ? 'None'
              : rowData.Payment_Name_FilingStatus.replace(' ', '')
          }}"
        >
          {{ rowData.Payment_Name_FilingStatus }}
        </td>

        <th style="width: 100px">
          <button (click)="BtnPayment_OnClick(rowData)" class="btn btn-default">
            <span class="fas fa-money-bill-wave"></span>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-datebox
    name="DateStart_Date"
    caption="Date - Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_Date']"
    name="DateEnd_Date"
    caption="Date - End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_Payable_Detail"
    caption="Name"
    [initialValue]="CurrentObject.Name_Payable_Detail"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_ExpenseCategory"
    displayName="Name_ExpenseCategory"
    caption="Category"
    [initialValue]="CurrentObject.ID_ExpenseCategory"
    [initialDisplayValue]="CurrentObject.Name_ExpenseCategory"
    [option]="ID_ExpenseCategory_LookupboxOption"
    (onModelChanged)="control_onSelectedItemChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<payable-detail-dialog #payabledetaildialog></payable-detail-dialog>
<payment-dialog #paymentdialog></payment-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>
