<app-control #appContainer
  class="select-box-container"
  [cssClass]="getCssClass()"
  [clearButton]="false">
  <p-dropdown  [options]="items"
    #dropDown
    [(ngModel)]="itemSelected"
    optionLabel="{{displayKey}}"
    dataKey="{{propertyKey}}"
    appendTo="body"
    (keydown)="onKeyDown($event)"
    [autoDisplayFirst]="false"
    [baseZIndex]="5000"
    [filter]="true"
    [showClear]="!readOnly"
    [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
    [placeholder]="placeholder"
    (ngModelChange)="onDropdown_ValueChange($event)"
    [readonly]="readOnly">
  </p-dropdown>
</app-control>
