<content-header
  title="{{ CurrentObject.Name }} {{
    CurrentObject.IsDeceased ? '(Deceased)' : ''
  }}"
></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title=""
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Images_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Type"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Type_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Patient Medical Record"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_SOAPTable"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Wellness"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Wellness"
        >
        </card-container>
      </div>
      <div class="col-md-12">
        <card-container
          title="Pet Grooming"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PetGrooming"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Images_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="CustomCode"
    caption="Custom Code"
    [initialValue]="CurrentObject.CustomCode"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Microchip"
    caption="Microchip"
    [initialValue]="CurrentObject.Microchip"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-image-box
    name="ProfileImageFile"
    caption="Profile Image"
    [initialValue]="CurrentObject.ProfileImageFile"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>
</ng-template>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-textarea
    name="Comment"
    caption="Remarks"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Type_fields>
  <admin-lte-autocompletebox
    name="Species"
    caption="Breed - Species"
    [initialValue]="CurrentObject.Species"
    [dataList]="BreedSpecieList"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-autocompletebox>

  <admin-lte-data-lookupbox
    name="ID_Gender"
    displayName="Name_Gender"
    caption="Gender"
    [initialValue]="CurrentObject.ID_Gender"
    [initialDisplayValue]="CurrentObject.Name_Gender"
    [option]="ID_Gender_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-datebox
    name="DateBirth"
    caption="Date Birth"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateBirth"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Age"
    caption="Age"
    [readonly]="true"
    [initialValue]="CurrentObject.Age"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Color"
    caption="Color Markings"
    [initialValue]="CurrentObject.Color"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-checkbox
    name="IsNeutered"
    caption="Neutered"
    [initialValue]="CurrentObject.IsNeutered"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-checkbox>

  <div class="row">
    <div class="col-6" style="padding-top: 20px; vertical-align: text-top">
      <admin-lte-checkbox
        name="IsDeceased"
        caption="Deceased"
        [initialValue]="CurrentObject.IsDeceased"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-checkbox>
    </div>
    <div class="col-6">
      <admin-lte-datebox
        *ngIf="CurrentObject.IsDeceased"
        name="DateDeceased"
        caption="Date Deceased"
        format="MMM. dd, yyyy"
        [initialValue]="CurrentObject.DateDeceased"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>
    </div>
  </div>

  <admin-lte-texbox
    name="Idiosyncrasies"
    caption="Idiosyncrasies"
    [initialValue]="CurrentObject.Idiosyncrasies"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>

<ng-template #customTitleTemplate>
  {{ CurrentObject.Name }}
</ng-template>

<ng-template #contentTemplate_SOAPTable>
  <patient-soap-table
    #patientsoaptable
    [CurrentObject]="CurrentObject"
    [IsDirty]="isDirty"
  ></patient-soap-table>
</ng-template>

<ng-template #contentTemplate_Vaccination>
  <patient-vaccination-list
    #patientvaccinationlist
    [CurrentObject]="CurrentObject"
    [IsDirty]="isDirty"
  ></patient-vaccination-list>
</ng-template>

<ng-template #contentTemplate_Wellness>
  <patient-wellness-list
    #patientwellnesslist
    [CurrentObject]="CurrentObject"
    [IsDirty]="isDirty"
  ></patient-wellness-list>
</ng-template>

<ng-template #contentTemplate_PetGrooming>
  <patient-grooming-list
    #patientgroominglist
    [CurrentObject]="CurrentObject"
    [IsDirty]="isDirty"
  ></patient-grooming-list>
</ng-template>
