<report-viewer
  #reportviewer
  [IsShowBackButton]="false"
  [filterContentTemplate]="filterContentTemplate"
  (onbtnBackButton)="ononbtnBackButtonClick()"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
  (onbtnRightClick)="onbtnRightClick($event)"
  (onbtnExportPDFClick)="onbtnExportPDFClick()"
  (onbtnExportExcelClick)="onbtnExportExcelClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-texbox
    name="Name_Item"
    caption="Item"
    [initialValue]="CurrentObject.Name_Item"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="DateStart_DateTrail"
    caption="Date Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_DateTrail"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_DateTrail']"
    name="DateEnd_DateTrail"
    caption="Date End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_DateTrail"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>
</ng-template>
