<report-viewer
  #reportviewer
  [IsEnabledDefaultFilter]="false"
  [filterContentTemplate]="filterContentTemplate"
  (onbtnBackButton)="ononbtnBackButtonClick()"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
  (onbtnRightClick)="onbtnRightClick($event)"
  (onbtnExportPDFClick)="onbtnExportPDFClick()"
  (onbtnExportExcelClick)="onbtnExportExcelClick()"
></report-viewer>

<ng-template #filterContentTemplate>

  <admin-lte-texbox
    name="Name_Item"
    caption="Item / Services"
    [initialValue]="CurrentObject.Name_Item"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

</ng-template>
