<p-menubar *ngIf="menuItems.length > 0" [model]="menuItems"> </p-menubar>

<p-table
  [value]="Records"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="SelectedRecord"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="500px"
  [style]="{
    height: '500px',
    'background-color': 'gray'
  }"
  (onRowSelect)="recordGrid_onRowSelect()"
  (onRowUnselect)="recordGrid_onRowUnselect()"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 110px">Date</th>
      <th style="width: 250px">Medication / Service</th>
      <th style="min-width: 300px">Remarks</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr [pSelectableRow]="record" (click)="recordGrid_onDblClick(record)">
      <td style="width: 110px; text-align: center">
        {{ record.Date | date: "MM/dd/yyyy" }}
      </td>
      <td style="width: 250px">
        {{ record.Name_Item }}
      </td>
      <td style="min-width: 300px">{{ record.Comment }}&nbsp;</td>
    </tr>
  </ng-template>
</p-table>
