<div class="p-fluid">

    <div class="p-field">
        <label 
            for="fieldId"
            [style]="{ 

                'width': '100%'
            }">Recipient</label>
        <p-chips 
        [(ngModel)]="users" 
        [disabled]="true"
        (onAdd)="onAdd($event)"
        [style]="{ 

            'width': '90%'
        }">
            <ng-template let-item pTemplate="user">
                {{ item.Name }} - (active) <i class="pi pi-times"></i>
            </ng-template>
        </p-chips>
        <button 
        type="button" 
        class="btn btn-primary"
        (click)="btnSend_onClick()">Add</button>
    </div>

     <div class="p-field">
        <label 
            for="fieldId" 
            style="display: block;">Message</label>
        <textarea
            style="width: 100%; height: 150px;"></textarea>
    </div>
</div>

<div class="modal-footer">
    <button 
        type="button" 
        class="btn btn-primary"
        (click)="btnSend_onClick()">Send</button>
</div>