<div
  *ngIf="hasLogin"
  class="wrapper"
>
  <navbar></navbar>

  <sidemenu></sidemenu>

  <div class="content-wrapper">
    <router-outlet *ngIf="hasLogin"></router-outlet>
  </div>

  <control-sidebar></control-sidebar>
</div>

<router-outlet *ngIf="hasLogin != true"></router-outlet>
