<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar [items]="items" (onClick)="menubar_OnClick($event)" [contentTemplate]="contentTemplateMenubar">
        </menubar>
      </div>

      <div class="col-12 d-block d-md-none d-lg-none d-lg-none" *ngIf="showFilter">
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container [ngTemplateOutlet]="contentTemplateFilterForm"></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container [ngTemplateOutlet]="contentTemplateFilterFormFooter"></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-9" [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }">
        <div class="card">
          <div class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0" [ngStyle]="{
              height: gridHeight
            }">
            <div *ngIf="!isListLoadedSuccess" style="margin: 10px; cursor: pointer" class="callout callout-danger"
              (click)="onBtnSearchClick($event)">
              <i class="fas fa-times"></i>&nbsp;Unable to Load the result.
              Please try again...
            </div>

            <ng-container *ngIf="isListLoadedSuccess" [ngTemplateOutlet]="contentTemplateTable"></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left">Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination [TotalPageNumber]="pagingOption.TotalPageNumber" (pageNumber_OnClick)="onPageChange($event)">
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div class="col-3 d-none d-md-block d-lg-block d-xl-block" *ngIf="showFilter">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container [ngTemplateOutlet]="contentTemplateFilterForm"></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container [ngTemplateOutlet]="contentTemplateFilterFormFooter"></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateMenubar>
  <button class="btn btn-block btn-default btn-filter" type="button" (click)="btnfilter_OnClick()">
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th (click)="onColumnHeaderClick('Name')">Name</th>
        <th style="width: 70px" (click)="onColumnHeaderClick('Code')">Server Info</th>
        <th style="width: 70px" >Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of dataSource; index as i" (click)="Row_OnClick(rowData)">
        <td>{{ rowData.Name }}</td>
        <td>
          <span class="patient-detail">
            <b>Server Address</b>: {{ rowData.ServerAddress }}
          </span>

          <br/>
          <span class="patient-detail">
            <b>Sysman API Address</b>: {{ rowData.SysmanAPIAddress }}
          </span>

        </td>
        <td>
          <span class="patient-detail text-success">
            <b><i class="fa fa-check"></i> Google Drive Credentials</b>
          </span>

          <br />

          <span class="patient-detail text-warning">
            <b><i class="fa fa-exclamation"></i> Server Latency</b>
          </span>

          <br />

          <span class="patient-detail text-danger">
            <b><i class="fa fa-exclamation"></i> Storage Disk (12 Gb/100 Gb)</b>
          </span>

        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox name="Code" caption="Code" [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)" (onEnterKeyUp)="control_onEnterKeyUp($event)">
  </admin-lte-texbox>

  <admin-lte-texbox name="Name_Client" caption="Owner's Name" [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)" (onEnterKeyUp)="control_onEnterKeyUp($event)">
  </admin-lte-texbox>

  <admin-lte-texbox name="Name_Patient" caption="Patient" [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)" (onEnterKeyUp)="control_onEnterKeyUp($event)">
  </admin-lte-texbox>

  <admin-lte-texbox name="Name_FilingStatus" caption="Status" [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)" (onEnterKeyUp)="control_onEnterKeyUp($event)">
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
