<p-menubar
  [model]="menuItems"
  *ngIf="menuItems.length > 0"
  styleClass="d-flex justify-content-end"
>
</p-menubar>

<p-table
  [value]="Item_Suppliers"
  selectionMode="singl"
  styleClass="p-datatable-sm"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr style="text-align: center">
      <th>Name</th>
      <th *ngIf="!IsDisabled" style="width: 70px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item_supplier>
    <tr>
      <td>
        {{ item_supplier.Name_Supplier }}
      </td>

      <td *ngIf="!IsDisabled" style="text-align: center; width: 70px">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="onRowDeleting(item_supplier)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
