<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <card-container
          *ngIf="!IsShowClientForm"
          title="Client Information"
          [bodyStyle]="{
            'padding-top': '0px',
            height: '120px'
          }"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ClientInformation"
        >
        </card-container>

        <card-container
          [ngStyle]="{
            display: IsShowClientForm ? 'block' : 'none'
          }"
          title="Client Information"
          [bodyStyle]="{
            'padding-top': '0px',
            height: '120px'
          }"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ClientForm"
        >
        </card-container>
      </div>

      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-MedicalRecord-tab"
                  data-toggle="pill"
                  href="#content-MedicalRecord"
                  role="tab"
                  aria-controls="tab-MedicalRecord"
                  aria-selected="true"
                  >Medical Record
                  <span
                    *ngIf="PatientSOAPCount"
                    class="badge badge-info right"
                    >{{ PatientSOAPCount }}</span
                  ></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-BillingInvoice-tab"
                  data-toggle="pill"
                  href="#tab-BillingInvoice"
                  role="tab"
                  aria-controls="tab-BillingInvoice"
                  >Billing Invoice
                  <span
                    *ngIf="BillingInvoiceCount"
                    class="badge badge-info right"
                    >{{ this.BillingInvoiceCount }}</span
                  ></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-Vaccination-tab"
                  data-toggle="pill"
                  href="#tab-Vaccination"
                  role="tab"
                  aria-controls="tab-Vaccination"
                  >Vaccination History
                  <span
                    *ngIf="VaccinationCount"
                    class="badge badge-info right"
                    >{{ this.VaccinationCount }}</span
                  ></a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-Confinement-tab"
                  data-toggle="pill"
                  href="#tab-Confinement"
                  role="tab"
                  aria-controls="tab-Confinement"
                  >Confinement History
                  <span
                    *ngIf="ConfinementCount"
                    class="badge badge-info right"
                    >{{ this.ConfinementCount }}</span
                  ></a
                >
              </li>
            </ul>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="tab-MedicalRecord">
              <div
                class="tab-pane fade show active"
                id="content-MedicalRecord"
                role="tabpanel"
                aria-labelledby="content-MedicalRecord"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_MedicalRecords"
                ></ng-container>
              </div>

              <div
                class="tab-pane fade show"
                id="tab-BillingInvoice"
                role="tabpanel"
                aria-labelledby="tab-BillingInvoice"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_BillingInvoice"
                ></ng-container>
              </div>
              <div
                class="tab-pane fade show"
                id="tab-Vaccination"
                role="tabpanel"
                aria-labelledby="tab-Vaccination"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Vaccination"
                ></ng-container>
              </div>
              <div
                class="tab-pane fade show"
                id="tab-Confinement"
                role="tabpanel"
                aria-labelledby="tab-Confinement"
              >
                <ng-container
                  [ngTemplateOutlet]="contentTemplate_Confinement"
                ></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplate_ClientInformation>
  <div class="row">
    <div class="col-12">
      <menubar
        *ngIf="loading != true"
        [items]="menuItems"
        (onClick)="menubar_OnClick($event)"
        (onClick)="menu_OnClick($event)"
      >
      </menubar>
    </div>
    <div class="col-lg-6">
      <admin-lte-data-lookupbox
        name="ID_Client"
        displayName="Name_Client"
        caption="Client"
        [initialValue]="CurrentObject.ID_Client"
        [initialDisplayValue]="CurrentObject.Name_Client"
        [option]="ID_Client_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>
    </div>
    <div class="col-lg-6">
      <admin-lte-data-lookupbox
        #ID_Patient_Lookupbox
        name="ID_Patient"
        displayName="Name_Patient"
        caption="Patient"
        [initialValue]="CurrentObject.ID_Patient"
        [initialDisplayValue]="CurrentObject.Name_Patient"
        [option]="ID_Patient_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_ClientForm>
  <app-client-form
    #clientform
    (onAfterSaved)="clientform_onAfterSaved($event)"
    (onCancel)="clientform_onCancel($event)"
  ></app-client-form>
</ng-template>

<ng-template #contentTemplate_MedicalRecords>
  <medical-record-list
    #MedicalRecordList
    (onDataSourceLoaded)="MedicalRecordList_onDataSourceLoaded($event)"
  ></medical-record-list>
</ng-template>

<ng-template #contentTemplate_Vaccination>
  <vaccination-list
    #VaccinationList
    (onDataSourceLoaded)="VaccinationList_onDataSourceLoaded($event)"
  ></vaccination-list>
</ng-template>

<ng-template #contentTemplate_Confinement>
  <confinement-list
    #ConfinementList
    (onDataSourceLoaded)="ConfinementList_onDataSourceLoaded($event)"
  ></confinement-list>
</ng-template>

<ng-template #contentTemplate_BillingInvoice>
  <billing-invoice-list
    #BillingInvoiceList
    (onDataSourceLoaded)="BillingInvoiceList_onDataSourceLoaded($event)"
  ></billing-invoice-list>
</ng-template>
