.card-primary  {
  border-top: 3px solid #008080 !important;
}
.card-ebarangay  {
  border-top: 3px solid #008080 !important;
}


.btn-primary {
  background-color: #008080;
  border-color: #008080;
}
