<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Patient Wellness&nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-3">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    name="Name_FilingStatus"
                    caption="Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>

                <div class="control-separator-bottom"></div>
              </div>

              <div class="col-lg-4">
                <p-fieldset legend="Patient Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Client_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="ID_Client"
                    caption="Client"
                    [required]="true"
                    [option]="ID_Client_LookupBoxOption"
                    (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    "
                    (onRemoveSelectedItem)="
                      ID_Client_LookUpBox_onRemoveSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Patient"
                    name="ID_Patient"
                    caption="Patient"
                    [option]="ID_Patient_LookupBoxOption"
                    [required]="true"
                    (onSelectedItem)="
                      ID_Patient_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Weight"
                    name="Weight"
                    caption="Weight"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Temperature"
                    name="Temperature"
                    caption="Temperature"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #AttendingPhysician_ID_Employee__LookUpBox
                    *ngIf="attendingPersonelLenCount == 0"
                    [required]="true"
                    [(ngModel)]="CurrentObject.AttendingPhysician_ID_Employee"
                    name="AttendingPhysician_ID_Employee"
                    caption="Attending Personnel"
                    [option]="AttendingPhysician_ID_Employee_LookupBoxOption"
                    (onSelectedItem)="
                      AttendingPhysician_ID_Employee_LookUpBox_onSelectedItem(
                        $event
                      )
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    *ngIf="attendingPersonelLenCount > 0"
                    [(ngModel)]="CurrentObject.AttendingPhysician"
                    name="AttendingPhysician"
                    caption="Attending Physician"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Remarks" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-12" style="height: 260px">
                <app-text-area
                  [(ngModel)]="CurrentObject.Comment"
                  name="Comment"
                  caption="Remarks"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-text-area>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel header="Detail" class="oid-control tab-panel-custom">
            <detail-list
              [Wellnesss]="CurrentObject.Patient_Wellness_Detail"
              [IsDisabled]="appForm.isDisabled"
            ></detail-list>
          </p-tabPanel>

          <p-tabPanel header="Schedule" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-12">
                <schedule-list
                  [Wellnesss]="CurrentObject.Patient_Wellness_Schedule"
                  [IsDisabled]="appForm.isDisabled"
                ></schedule-list>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
