<report-viewer
  #reportviewer
  [IsShowBackButton]="false"
  [filterContentTemplate]="filterContentTemplate"
  (onbtnBackButton)="ononbtnBackButtonClick()"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
  (onbtnRightClick)="onbtnRightClick($event)"
  (onbtnExportPDFClick)="onbtnExportPDFClick()"
  (onbtnExportExcelClick)="onbtnExportExcelClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-texbox
    name="Name_Item"
    caption="Item"
    [initialValue]="CurrentObject.Name_Item"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_InventoryStatus"
    displayName="Name_InventoryStatus"
    caption="Status"
    [initialValue]="CurrentObject.ID_InventoryStatus"
    [initialDisplayValue]="CurrentObject.Name_InventoryStatus"
    [option]="ID_InventoryStatus_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>
