<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Personal Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PersonalInfomation_fields"
        >
        </card-container>
      </div>
      <div class="col-md-4">
        <card-container
          title="Contact Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ContactInfomation_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name"
    caption="Name"
    [readonly]="true"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_Position"
    displayName="Name_Position"
    caption="Position"
    [initialValue]="CurrentObject.ID_Position"
    [initialDisplayValue]="CurrentObject.Name_Position"
    [option]="ID_Position_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="PRCLicenseNumber"
    caption="PRC License #"
    [initialValue]="CurrentObject.PRCLicenseNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="DatePRCExpiration"
    caption="PRC Date Expiration"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DatePRCExpiration"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="PTR"
    caption="PTR"
    [initialValue]="CurrentObject.PTR"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="S2"
    caption="S2"
    [initialValue]="CurrentObject.S2"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="TINNumber"
    caption="TIN #"
    [initialValue]="CurrentObject.TINNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PersonalInfomation_fields>
  <admin-lte-texbox
    name="LastName"
    caption="Last Name"
    [initialValue]="CurrentObject.LastName"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="FirstName"
    caption="First Name"
    [initialValue]="CurrentObject.FirstName"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="MiddleName"
    caption="Middle Name"
    [initialValue]="CurrentObject.MiddleName"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_ContactInfomation_fields>
  <admin-lte-textarea
    name="FullAddress"
    caption="Address"
    [initialValue]="CurrentObject.FullAddress"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>

  <admin-lte-texbox
    name="Email"
    caption="Email"
    [initialValue]="CurrentObject.Email"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumber"
    caption="Contact #"
    [initialValue]="CurrentObject.ContactNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <drop-down-button
    [isDropdownRight]="true"
    title="Back"
    style="position: absolute; right: 0px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="onClickBackButton()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</ng-template>

<change-user-account-dialog-box
  #changeuseraccountdialogbox
></change-user-account-dialog-box>
