<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Terms And Conditions&nbsp;
    </div>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <p-fieldset legend="Information" class="with-caption">
        <p>VetCloud Terms and Conditions</p>

        <p>
          THIS SOFTWARE AS A SERVICE AGREEMENT (AGREEMENT) GOVERNS YOUR USE OF
          OUR SAAS SERVICES. This Agreement is effective between You and
          VetCloud System under United Software Services as of the date You paid
          the subscription.
        </p>

        <p>
          I. Use of Service Vetcloud will - (i) Provide technical support for
          the Purchased Services to your clinic at no additional charge (ii) Use
          commercially reasonable efforts to make the Purchased Services
          available 24 hours a day, 7 days a week, except for: (a) Downtime for
          maintenance which We shall schedule to the extent practicable during
          the weekend hours; or (b) Any unavailability caused by circumstances
          beyond Our reasonable control, including without limitation, acts of
          God, floods, fires, earthquakes, civil unrest, acts of terror, strikes
          or other labor problems (other than those involving Our employees),
          Internet service provider failures or delays, or denial of service
          attacks; with the Receiving Party containing protections no less
          stringent than those herein. II. Subscription Price The subscription
          price is 1,499 per month subject to change for add-on purchased. II.
          Data Ownership: Confidentiality All of your data disclosed to Vetcloud
          in connection with the performance of this Agreement and residing on
          Vetcloud server will be held as confidential by Vetcloud. III.
          Cancellation of the Service You will not be locked in during this term
          of subscription. Upon request made within ten (10) business days after
          the effective date of termination of a Purchased Services
          subscription, we will send your files via pdf or excel sheet on your
          clinic email. Upon non-payment of the service, Vetcloud has the right
          to terminate the subscription and use of the service. IV. Termination
          Vetcloud reserves the right to suspend or terminate a User&rsquo;s
          access to the System and the Services with or without notice and to
          exercise any other remedy available under law, in cases where, 1. Such
          User breaches any terms and conditions of the Agreement; 2. A third
          party reports violation of any of its right as a result of your use of
          the Services; 3. Vetcloud is unable to verify or authenticate any
          information provide to Vetcloud by a User; 4. Vetcloud has reasonable
          grounds for suspecting any illegal, fraudulent or abusive activity on
          part of such User; or 5. Vetcloud believes in its sole discretion that
          User&rsquo;s actions may cause legal liability for such User, other
          Users or for Vetcloud or are contrary to the interests of the System.
        </p>

        <p>
          Once temporarily suspended, indefinitely suspended or terminated, the
          User may not continue to use the System under the same account, a
          different account or re-register under a new account. On termination
          of an account due to the reasons mentioned herein, such User shall no
          longer have access to data, messages, files and other material kept on
          the Website by such User.
        </p>

        <p>
          V.LIMITATION OF LIABILITY In no event, including but not limited to
          negligence, shall Vetcloud, or any of its directors, officers,
          employees, agents or content or service providers (collectively, the
          &ldquo;Protected Entities&rdquo;) be liable for any direct, indirect,
          special, incidental, consequential, exemplary or punitive damages
          arising from, or directly or indirectly related to, the use of, or the
          inability to use, the System or the content, materials and functions
          related thereto, the Services, User&rsquo;s provision of information
          via the System, lost business or lost End-Users, even if such
          Protected Entity has been advised of the possibility of such damages.
          In no event shall the Protected Entities be liable for: i. provision
          of or failure to provide all or any service by Practitioners to End-
          Users contacted or managed through the System; ii. any unauthorized
          access to or alteration of your transmissions or data; or iii. any
          other matter relating to the System or the Service.
        </p>

        <p>
          The printing of the payment document is solely for user’s reference.
        </p>

        <p>
          In no event shall the total aggregate liability of the Protected
          Entities to a User for all damages, losses, and causes of action
          (whether in contract or tort, including, but not limited to,
          negligence or otherwise) arising from this Agreement or a User&rsquo;s
          use of the System or the Services.
        </p>

        <p>
          VI.INDEMNITY User agrees to indemnify and hold harmless Vetcloud, its
          affiliates, officers, directors, employees, consultants, licensors,
          agents, and representatives from any and all third party claims,
          losses, liability, damages, and/or costs (including reasonable
          attorney fees and costs) arising from User&rsquo;s access to or use of
          Service, violation of this Agreement, or infringement, or infringement
          by any other User of his/her/its account, of any intellectual property
          or other right of any person or entity. We will notify you promptly of
          any such claim, loss, liability, or demand, and in addition to your
          foregoing obligations, you agree to provide us with reasonable
          assistance, at your expense, in defending any such claim, loss,
          liability, damage, or cost.
        </p>

        <p>
          The parties are independent contractors. This Agreement does not
          create a partnership, franchise, joint venture, agency, fiduciary or
          employment relationship between the parties.
        </p>
      </p-fieldset>
    </perfect-scrollbar>
  </div>
</div>
