<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Help Desk Video Tutorials And Demo&nbsp;
    </div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <p-table
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="body" let-record>
                    <tr class="row-detail">
                      <td style="width: 160px" class="text-center">
                        <img
                          (click)="btnWatch_onClick(record)"
                          style="height: 80px"
                          src="https://img.youtube.com/vi/dAuyykDW6Zo/1.jpg"
                        />
                      </td>

                      <td>
                        <h5
                          style="font-weight: bold; padding-bottom: 10px"
                          (click)="btnWatch_onClick(record)"
                        >
                          {{ record.Name }}
                        </h5>
                        <p style="padding-bottom: 10px">{{ record.Comment }}</p>
                        <p>
                          <button
                            type="button"
                            class="btn btn-sm btn-light"
                            (click)="btnWatch_onClick(record)"
                          >
                            <i class="fas fa-video"></i> Watch
                          </button>
                        </p>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  (onAfterContentInit)="appForm_onAfterContentInit($event)"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="SearchTag"
                      [transitionOptions]="'0ms'"
                      header="Search part or whole"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.SearchTag"
                          name="SearchTag"
                          caption="Search Tag"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<help-desk-video-dialog #helpdeskvideodialog></help-desk-video-dialog>

<loading-screen [isLoading]="isLoading"></loading-screen>
<pre>{{ model | json }}</pre>
