<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0" style="margin-bottom: 15px" *ngIf="IsShowMenuBar">
      <menubar
        *ngIf="loading != true"
        [items]="menuItems"
        (onClick)="menubar_OnClick($event)"
      >
      </menubar>
    </div>
    <div class="col-12 p-0" style="margin-bottom: 15px" *ngIf="IsShowFilter">
      <div *ngIf="option" class="input-group">
        <div class="input-group-append">
          <select
            class="custom-select"
            [(ngModel)]="filterColumnValue"
            (ngModelChange)="selectColumn_onModelChanged($event)"
          >
            <option
              *ngFor="let column of option.columns"
              value="{{ column.name }}"
            >
              {{ column.caption != undefined ? column.caption : column.name }}
            </option>
          </select>
        </div>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="filterValue"
          (keyup)="txtFilterValue_onKey($event)"
        />

        <div class="input-group-append">
          <button class="btn btn-info" (click)="btnSearch_OnClick()">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="card">
        <div
          class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
          [ngStyle]="{
            height: '60vh'
          }"
        >
          <ng-container
            [ngTemplateOutlet]="contentTemplateTable"
          ></ng-container>
        </div>

        <div class="card-footer" style="text-align: center">
          <div class="card-tools">
            <ngb-pagination #ngbpagination
              class="d-flex justify-content-center"
              [maxSize]="5"
              [rotate]="true"
              [boundaryLinks]="true"
              [collectionSize]="pagingOption.TotalRecord"
              (pageChange)="onPageChange($event)"
            ></ngb-pagination>
          </div>
        </div>

        <div *ngIf="loading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateTable>
  <table *ngIf="option" class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 50px" *ngIf="ismultiple">Select</th>
        <th *ngFor="let column of option.columns">
          {{ column.caption ? column.caption : column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        (click)="row_onClick(rowData)"
      >
        <th
          style="width: 50px"
          *ngIf="ismultiple"
          for="{{ valueMember }}-{{ rowData[valueMember] }}"
        >
          <div class="custom-control custom-checkbox">
            <input
              class="custom-control-input"
              type="checkbox"
              [checked]="rowData.IsSelected"
              id="{{ valueMember }}-{{ rowData[valueMember] }}"
              value="{{ rowData[valueMember] }}"
              (change)="selectCheckbox_onChange(rowData, $event.target)"
            />
            <label
              for="{{ valueMember }}-{{ rowData[valueMember] }}"
              class="custom-control-label"
            ></label>
          </div>
        </th>
        <td
          *ngFor="let column of option.columns"
          [ngStyle]="column.style"
          class="text-{{ column | adminltelistcolumnalign }}"
        >
          {{ rowData[column.name] | adminltelistdataformat: column }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <!-- <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumber"
    caption="Contact Number"
    [initialValue]="CurrentObject.ContactNumber"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  ></admin-lte-texbox> -->
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <!-- <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button> -->
</ng-template>
