<p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)"> </p-menubar>

<p-table
  [value]="Records"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="SelectedRecord"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="400px"
  [style]="{
    height: '400px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 110px">Date</th>
      <th style="width: 110px">Code</th>
      <th style="width: 150px">Type</th>
      <th style="min-width: 250px">Primary Complaint / History</th>
      <!-- <th style="width: 150px">Subjective (OLD)</th> -->
      <th style="width: 100px">Status</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Patient_SOAP>
    <tr [pSelectableRow]="Patient_SOAP" (click)="recordGrid_onDblClick()">
      <td style="width: 110px; text-align: center">
        {{ Patient_SOAP.Date | date: "MM/dd/yyyy" }}
      </td>
      <td style="width: 110px">{{ Patient_SOAP.Code }}</td>

      <td style="width: 150px">{{ Patient_SOAP.Name_SOAPType }}</td>

      <td style="min-width: 150px">
        <div [outerHTML]="Patient_SOAP.HistoryHTML"></div>
      </td>

      <!-- <td style="width: 150px">
      {{ Patient_SOAP.Subjective }}&nbsp;
    </td> -->
      <td
        class="FilingStatus FS_{{
          Patient_SOAP.Name_FilingStatus == null
            ? 'None'
            : Patient_SOAP.Name_FilingStatus.replace(' ', '')
        }}"
        style="width: 100px; text-align: center"
      >
        {{ Patient_SOAP.Name_FilingStatus }}
      </td>
    </tr>
  </ng-template>
</p-table>
