<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">Text Blast &nbsp;</div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <div
                  *ngIf="!isListLoadedSuccess"
                  class="text center"
                  style="
                    margin: 6px;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: bold;
                  "
                >
                  <i class="fas fa-times text-danger"></i>&nbsp;Unable to Load
                  the result. Please try again...
                </div>

                <p-table
                  *ngIf="isListLoadedSuccess"
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th
                        (click)="tableHeader_onClick('Date')"
                        style="width: 100px"
                      >
                        <span>Date</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Code')"
                        style="width: 100px"
                      >
                        <span>Code</span>
                      </th>
                      <th (click)="tableHeader_onClick('Message')">
                        <span>Message</span>
                      </th>
                      <th
                        (click)="tableHeader_onClick('Name_FilingStatus')"
                        style="width: 100px"
                      >
                        <span>Status</span>
                      </th>
                      <th style="width: 80px">Open Tab</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (dblclick)="tableRowDetail_onClick(record)"
                    >
                      <td class="text-center" style="width: 100px">
                        {{ record.Date | date : "MM/dd/yyyy" }}
                      </td>
                      <td class="text-center" style="width: 100px">
                        {{ record.Code }}
                      </td>
                      <td>{{ record.Message }}</td>
                      <td
                        style="width: 100px; text-align: center"
                        class="FilingStatus FS_{{
                          record.Name_FilingStatus == null
                            ? ''
                            : record.Name_FilingStatus.replace(' ', '')
                        }}"
                      >
                        {{ record.Name_FilingStatus }}
                      </td>
                      <td
                        style="width: 80px; text-align: center"
                        (click)="btnNewTab_OnClick(record)"
                      >
                        <button type="button" class="btn btn-sm btn-light">
                          <span class="pi pi-sign-in"></span>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  (onAfterContentInit)="appForm_onAfterContentInit($event)"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="Date"
                      [transitionOptions]="'0ms'"
                      header="Date"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Date"
                          name="Date"
                          caption="Date"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Code"
                      [transitionOptions]="'0ms'"
                      header="Code"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Code"
                          name="Code"
                          caption="Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
