/deep/ .combo-box-container .info {
  right: 35px !important;
}

/deep/ .dropdown-toggle::after {
  display: none;
}

.input-group>.input-group-append>.btn {
  border-radius: 0px;
}

.btn-dropdown-toggle:focus {
  border-width: 1px;
  box-shadow: none;
}

/deep/ .dropdown-menu {
  border-radius: 0; //width: 500px;
  padding: 0px;
  font-size: 12px;
}

.grid-dropdown {
  height: 350px;
  background: #fff;
}

.flexbox-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  /* Extra space in Cross Axis */
  background: rgba(255, 255, 255, .1);
}

.flexbox-item {
  // padding: 5px;
}

.flexbox-item-grow {
  flex: 1;
  /* same as flex: 1 1 auto; */
}

.flexbox-item.header {
  //background: rgba(255, 0, 0, .1);
  padding: 2px;

  .btn {
    margin-right: 2px;
    border: none;
  }
}

.flexbox-item.footer {
  background: grey;
  padding: 8px;
  color: #fff;
}

.flexbox-item.content {
  //background: rgba(0, 0, 255, .1);
}

.fill-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align items in Main Axis */
  align-items: stretch;
  /* align items in Cross Axis */
  align-content: stretch;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  /* Extra space in Cross Axis */
}

.fill-area-content {
  background: rgba(0, 0, 0, .3);
  border: 1px solid #ced4da;
  /* Needed for when the area gets squished too far and there is content that can't be displayed */
  overflow: auto;
}

.form-control-sm.parent {
  padding: 0px;
}

input.form-control-sm {
  border: none;
  height: 29px;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 0.20rem .5rem;
  border: none;
  height: auto !important;
  box-shadow: none;
}