.menu-open {
  .nav-link {
    background-color: transparent !important;
  }
}

.sidebar {
  overflow-x: hidden;
}

.main-sidebar {
  overflow-y: unset!important;
  background-color: #008080;
}

.btn-sidebar,
.form-control-sidebar {
  background-color: #fff;
  border: 1px solid #56606a;
  color: rgb(58, 58, 58);
}

.close-sidemenu:hover {
  cursor: pointer;
}
