<div id="divchart">
  <div class="year-filter">
    <select #selectboxYear class="form-control" [(ngModel)]="CurrentObject.Year" (ngModelChange)="_onModelChanged($event)" name="year">
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>

  <canvas id="myChart"> </canvas>
</div>
