<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Items; index as i" style="cursor: pointer">
          <td class="text-left">{{ item.Name_Item }}</td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteItem_OnClick(item)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
