<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Pet's Name</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let detail of CurrentObject.Patient_Confinement_Patient; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">{{ detail.Name_Patient }}</td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeletePatientDetail_OnClick(detail)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
