th {
  text-align: center;
}

.form-control-number {
  text-align: right;
}

td > input {
  font-weight: bold;
}

.form-control-transparent {
  background-color: transparent;
  border-color: transparent;
}

.text-bold {
  font-weight: bold;
}

.card-primary {
  border-top: 3px solid #930627 !important;
}

.card-outline-tabs {
  .card-header {
    .nav-tabs {
      .nav-item {
        .active {
          border-top: 3px solid #930627;
        }
        .nav-link {
          color: rgb(33, 37, 41);
        }
      }
    }
  }
}

.rightDownMenuContainer drop-down-button, .rightDownMenuContainer button {
    float:right;
}

.rightDownMenuContainerbutton drop-down-button{
  margin-left: 10px;
}

