<modal-dialog
  #modalDialog
  title="Merge Pet"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #formTemplate>
  <div class="row">
    <div class="col-md-12">
      <admin-lte-texbox
        name="Name"
        caption="From"
        [initialValue]="SourcePatient.Name"
        [readonly]="true"
      >
      </admin-lte-texbox>
    </div>
    <div class="col-12">
      <admin-lte-data-lookupbox
        name="ID_Patient_Destination"
        caption="To"
        [initialValue]="CurrentObject.ID_Patient_Destination"
        [initialDisplayValue]="CurrentObject.Name_Patient_Destination"
        [option]="ID_Pet_Pet_LookupboxOption"
        (onModelChanged)="ID_Patient_Destination_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="loading != true"
    class="btn btn-primary"
    (click)="btnSubmit_onClick()"
  >
    <i class="fas fa-cubes"></i>&nbsp;Apply
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
