<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
        <!--
        <card-container
          title="User Acccount"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_UserAccount_fields"
        >
        </card-container> -->
      </div>

      <div class="col-md-8">
        <card-container
          title="Patient"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PatientTable"
        >
        </card-container>

        <card-container
          title="Remarks"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Remarks"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Billing Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_BillingInvoiceTable"
        >
        </card-container>
      </div>
      <div class="col-md-12">
        <card-container
          title="Credit Trail"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_CreditTrail"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-numberbox
    name="CurrentCreditAmount"
    caption="Current Credit Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.CurrentCreditAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="TotalRemainingAmount"
    caption="Pending Balance"
    [readonly]="true"
    [initialValue]="CurrentObject.TotalRemainingAmount"
  >
  </admin-lte-numberbox>

  <admin-lte-textarea
    name="Address"
    caption="Address"
    [initialValue]="CurrentObject.Address"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>

  <admin-lte-texbox
    name="Email"
    caption="Email"
    [initialValue]="CurrentObject.Email"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumber"
    caption="Contact # (PH)"
    [initialValue]="CurrentObject.ContactNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="ContactNumber2"
    caption="Contact # 2"
    [initialValue]="CurrentObject.ContactNumber2"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-image-box
    name="ProfileImageFile"
    caption="Profile Image"
    [initialValue]="CurrentObject.ProfileImageFile"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>
</ng-template>

<ng-template #contentTemplate_UserAccount_fields>
  <admin-lte-texbox
    name="Username"
    [readonly]="true"
    caption="Username"
    [initialValue]="CurrentObject.Username"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Password"
    [readonly]="true"
    caption="Password"
    [initialValue]="CurrentObject.Password"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>

<ng-template #contentTemplate_PatientTable>
  <client-patient-table #clientpatienttable></client-patient-table>
</ng-template>

<ng-template #contentTemplate_Remarks>
  <admin-lte-textarea
    name="Comment"
    caption="Comment"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_BillingInvoiceTable>
  <client-billing-invoice-table
    #clientbillinginvoicetable
    [CurrentObject]="CurrentObject"
  ></client-billing-invoice-table>
</ng-template>

<ng-template #contentTemplate_CreditTrail>
  <credit-trail-list
    #credittraillist
    [CurrentObject]="CurrentObject"
  ></credit-trail-list>
</ng-template>

<adjust-credit-dialog #adjustcreditdialog></adjust-credit-dialog>
