<custom-dialog-box
  #CustomDialogBox
  size="md"
  [title]="title"
  [closeOnPositiveButton]="false"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
  [childTemplate]="addItemChildTemplate"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
  </p-menubar>

  <div class="control-separator-bottom"></div>
  <app-form #appForm [CurrentObject]="CurrentObject">
    <p-tabView>
      <p-tabPanel header="Information" class="oid-control tab-panel-custom">
        <div class="control-separator-bottom"></div>
        <app-date-box
          [(ngModel)]="CurrentObject.Date"
          name="Date"
          caption="Date"
          labelPosition="top"
          [show-time]="false"
          [required]="true"
        ></app-date-box>

        <div class="control-separator-bottom"></div>

        <app-select-box
          #ID_ExpenseCategory_SelectBox
          [(ngModel)]="selectedPayableDetail.ID_ExpenseCategory"
          name="ID_ExpenseCategory"
          caption="Category"
          [option]="ID_ExpenseCategory_SelectBoxOption"
          labelPosition="top"
          [required]="true"
        >
        </app-select-box>

        <div class="control-separator-bottom"></div>

        <app-text-box
          [(ngModel)]="selectedPayableDetail.Name"
          name="Name"
          caption="Name"
          labelPosition="top"
          [required]="true"
        ></app-text-box>

        <div class="control-separator-bottom"></div>

        <app-number-box
          [(ngModel)]="selectedPayableDetail.Amount"
          name="Amount"
          caption="Amount"
          labelPosition="top"
          [required]="true"
        >
        </app-number-box>

        <div class="control-separator-bottom"></div>
      </p-tabPanel>

      <p-tabPanel header="Paid History" class="oid-control tab-panel-custom">
        <payable-payment-table
          [ID_Payable]="CurrentObject.ID"
        ></payable-payment-table>
      </p-tabPanel>
    </p-tabView>
  </app-form>
</ng-template>
