<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-3">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_GeneralInfo_fields"
        >
        </card-container>
      </div>

      <div class="col-md-3">
        <card-container
          title="Referral Info"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Type of Referral Desired"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ReferralTypeCheckBoxes_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="History"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_History_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Treatment"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Treatment_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Concerns"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Concern_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. Veterinarian"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_GeneralInfo_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_History_fields>
  <admin-lte-textarea
    name="History"
    caption=""
    [initialValue]="CurrentObject.History"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Treatment_fields>
  <admin-lte-textarea
    name="Treatment"
    caption=""
    [initialValue]="CurrentObject.Treatment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_Concern_fields>
  <admin-lte-textarea
    name="Concerns"
    caption=""
    [initialValue]="CurrentObject.Concerns"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplate_ReferralTypeCheckBoxes_fields>
  <referral-type-check-boxes
    #referraltypecheckboxes
    [MainCurrentObject]="CurrentObject"
    [patientReferralReferralTypes]="CurrentObject.PatientReferral_ReferralType"
    (onChanged)="referraltypecheckboxes_onChanged($event)"
  ></referral-type-check-boxes>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      style="position: absolute; right: 12px; top: -17px"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>
