<report-viewer
  #reportviewer
  [IsEnabledDefaultFilter]="false"
  [filterContentTemplate]="filterContentTemplate"
  (onbtnBackButton)="ononbtnBackButtonClick()"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
  (onbtnRightClick)="onbtnRightClick($event)"
  (onbtnExportPDFClick)="onbtnExportPDFClick()"
  (onbtnExportExcelClick)="onbtnExportExcelClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-datebox
    name="DateStart_BillingInvoice"
    caption="Date Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_BillingInvoice']"
    name="DateEnd_BillingInvoice"
    caption="Date End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-data-lookupbox
    name="ID_ItemType"
    displayName="Name_ItemType"
    caption="Item Type"
    [initialValue]="CurrentObject.ID_ItemType"
    [initialDisplayValue]="CurrentObject.Name_ItemType"
    [option]="ID_ItemType_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="Name_Item"
    caption="Item / Services"
    [initialValue]="CurrentObject.Name_Item"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-texbox
    name="AttendingPhysician_Name_Employee"
    caption="Attnd. Personnel"
    [initialValue]="CurrentObject.AttendingPhysician_Name_Employee"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>
</ng-template>
