<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 100px">Medication / Service</th>
          <th>Remarks</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of Details; index as i" style="cursor: pointer">
          <td>
            <admin-lte-datebox
              name="Date"
              caption=""
              [initialValue]="detail.Date"
              (onModelChanged)="detail_onModelChanged(detail, $event)"
            >
            </admin-lte-datebox>
          </td>

          <td class="text-center">
            <admin-lte-textarea
              name="Comment"
              caption=""
              rows="5"
              [initialValue]="detail.Comment"
              (onModelChanged)="detail_onModelChanged(detail, $event)"
            >
            </admin-lte-textarea>
          </td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteDetail_OnClick(detail)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
