<app-control
  #appContainer
  [cssClass]="getCssClass()"
  [clearButton]="isEmptyString() == false"
>
  <div class="ui-inputtext" style="padding: 10px">
    <div
      class="form-check"
      *ngFor="let item of listDataSource; let i = index"
      style="padding-top: 5px"
    >
      <input
        class="form-check-input"
        type="radio"
        id="{{ name + '_' + i + '' }}"
        [name]="name"
        [value]="item.value"
        [(ngModel)]="value"
        (ngModelChange)="onTextBox_ValueChange($event)"
      />
      <label class="form-check-label" for="{{ name + '_' + i + '' }}">
        {{ item.label }}
      </label>
    </div>
  </div>
  <p
    [title]="titleTooltip"
    *ngIf="readOnly"
    class="ui-inputtext"
    style="padding: 6px; font-size: 12px; background-color: whitesmoke"
  >
    {{ value }}&nbsp;
  </p>
</app-control>
