.tooth-container{
    position: relative;
    width: 256px;
    height: 195px;
    margin-left: 3%;
    margin-top: 3px;
}

.tooth-container-small{
    position: relative;
    width: 64px;
    height: 51px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}


.tooth-base{

    width: inherit;
    height: inherit;
}

.top:hover,
.left:hover,
.middle:hover,
.bottom:hover,
.right:hover {
    
    background-color: #31ffe342;
    cursor: pointer;
}

.top{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    clip-path: polygon(16% 15%, 31% 30%, 37% 26%, 44% 23%, 46% 23%, 51% 23%, 56% 23%, 63% 25%, 68% 29%, 69% 30%, 84% 15%, 79% 11%, 73% 8%, 67% 4%, 63% 4%, 62% 3%, 58% 3%, 49% 2%, 49% 2%, 46% 2%, 36% 4%, 30% 7%, 25% 9%, 22% 11%);

    .label{

        width: 24%;
        padding: 1px;
        margin: 16px auto 1px auto;
        text-align: center;
        background-color: white;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        font-weight: 600;
        border-radius: 42px;
    }
}

.left{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    left: 0px;
    clip-path: polygon(15% 85%, 31% 69%, 25% 61%, 23% 54%, 23% 45%, 26% 37%, 30% 31%, 16% 16%, 11% 22%, 8% 26%, 4% 33%, 2% 40%, 1% 53%, 1% 55%, 2% 61%, 5% 70%, 8% 76%, 11% 80%);
    
    .label{

        position: absolute;
        top: 44%;
        left: 1%;
        width: 25%;
  
        text-align: center;
        background-color: white;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        font-weight: 600;
        padding: 1px;
        border-radius: 42px;
    }

}

.middle{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    clip-path: ellipse(27% 26% at 50.3% 50%);

    .label{

        position: absolute;
        top: 45%;
        left: 38%;
        width: 24%;
        padding: 1px;

        text-align: center;
        background-color: white;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        font-weight: 600;
        border-radius: 42px;
    }
} 

.bottom{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    bottom: 0px;
    clip-path: polygon(70% 70%, 85% 86%, 84% 87%, 78% 92%, 73% 95%, 69% 97%, 58% 100%, 49% 102%, 38% 99%, 35% 98%, 30% 96%, 24% 93%, 19% 89%, 15.7% 86%, 31% 71%, 33% 72%, 39% 76%, 48% 78%, 54% 78%, 63% 75%, 67% 73%);

    .label{

        position: absolute;
        bottom: 1%;
        left: 38%;
        width: 24%;
        padding: 1px;
        margin: 0px auto 10px auto;
    
        text-align: center;
        background-color: white;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        font-weight: 600;
        border-radius: 42px;
    }
} 

.right{

    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    top: 0px;
    right: 0px;
    clip-path: polygon(70% 31%, 86% 16%, 91% 22%, 96% 30%, 99% 39%, 101% 54%, 100% 59%, 98% 66%, 94% 74%, 90% 81%, 86% 84%, 71% 69%, 75% 63%, 79% 52%, 78% 44%, 75% 36%);

    .label{

        position: absolute;
        top: 44%;
        right: 1%;
        width: 25%;
        padding: 1px;

        text-align: center;
        background-color: white;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        font-weight: 600;
        border-radius: 42px;
    }
}