<div 
    class="tooth-container{{ isSmall ? '-small' : '' }} border"
    (click)="toothContainer_onCLick()" 
>
    <div
        class="tooth-base"  
        [ngStyle]="
            {
                'background' : 'url(assets/dental/toothsurface'+ (isSmall ? '-small' : '' )+'.png)',
                'background-repeat' : 'no-repeat'
            }"
     >

    </div>

    <div 
        class="top" 
        [ngStyle]="{'background-color' : toothSurfaceSection_Top.getBgColor()}"
        (click)="toothSurfaceSection_onClick(0)" 
    >
        <div class="label" *ngIf="!isSmall"> 
            {{ toothSurfaceSection_Top.toothSurface.Name }}
        </div> 
    </div> 

    <div 
        class="left" 
        [ngStyle]="{'background-color' : toothSurfaceSection_Left.getBgColor()}"
        (click)="toothSurfaceSection_onClick(1)"
    >
        <div class="label" *ngIf="!isSmall"> 
            {{ toothSurfaceSection_Left.toothSurface.Name }}
        </div> 
    </div> 

    <div 
        class="middle" 
        [ngStyle]="{'background-color' : toothSurfaceSection_Middle.getBgColor()}"
        (click)="toothSurfaceSection_onClick(2)"
    >
        <div class="label" *ngIf="!isSmall"> 
            {{ toothSurfaceSection_Middle.toothSurface.Name }}
        </div> 
    </div> 


    <div 
        class="bottom" 
        [ngStyle]="{'background-color' : toothSurfaceSection_Bottom.getBgColor()}"
        (click)="toothSurfaceSection_onClick(3)"
    >
        <div class="label" *ngIf="!isSmall"> 
            {{ toothSurfaceSection_Bottom.toothSurface.Name }}
        </div> 
    </div>

     
    <div 
        class="right" 
        [ngStyle]="{'background-color' : toothSurfaceSection_Right.getBgColor()}"
        (click)="toothSurfaceSection_onClick(4)"
    >
        <div class="label" *ngIf="!isSmall"> 
            {{ toothSurfaceSection_Right.toothSurface.Name }}
        </div> 
    </div> 

</div>