
<p-blockUI [baseZIndex]="100000" [target]="target" [blocked]="isLoading">
  <div *ngIf="isLoading" class="text-center loading-container">
    <img class="fa-spin" src="../assets/loading-paw.png" alt="" />
  </div>
  
</p-blockUI>
