.loading-container {
    position: absolute;
    top: 10px;
    width: inherit;
    height: inherit;
    z-index: 100000;
    padding: 0px;
    margin: 0px;
    background-color: rgba(99, 96, 96, 0.398);
}

img {
  width: 166px;
  margin: 71px;
}
