<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-9"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <div
              *ngIf="!isListLoadedSuccess"
              style="margin: 10px; cursor: pointer"
              class="callout callout-danger"
              (click)="onBtnSearchClick($event)"
            >
              <i class="fas fa-times"></i>&nbsp;Unable to Load the result.
              Please try again...
            </div>

            <ng-container
              *ngIf="isListLoadedSuccess"
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left"
              >Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 120px">Date</th>
        <th style="width: 120px">Reference No</th>
        <th (click)="tableHeader_onClick('Name_Client')">
          <span>Owner's Name</span>
        </th>
        <th (click)="tableHeader_onClick('Name_Patient')">
          <span>Pet's Name</span>
        </th>
        <th
          (click)="tableHeader_onClick('BillingInvoice_Name_FilingStatus')"
          style="width: 120px"
        >
          <span>Bill. Status</span>
        </th>
        <th
          (click)="tableHeader_onClick('BillingInvoice_Name_FilingStatus')"
          style="width: 170px"
        >
          <span>Record</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of dataSource; index as i">
        <td class="text-center" (click)="Row_OnClick(rowData)">
          {{ rowData.Date | date : "MM/dd/yyyy" }}
        </td>
        <td class="text-center" (click)="Row_OnClick(rowData)">
          {{ rowData.RefNo }}
        </td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Name_Client }}</td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Name_Patient }}</td>
        <td
          class="text-center text-success FilingStatus FS_{{
            rowData.BillingInvoice_Name_FilingStatus == null
              ? ''
              : rowData.BillingInvoice_Name_FilingStatus.replace(' ', '')
          }}"
          (click)="Row_OnClick(rowData)"
        >
          {{ rowData.BillingInvoice_Name_FilingStatus }}
        </td>
        <td class="text-center">
          <p
            class="text-success  action-text  FilingStatus FS_{{
              rowData.BillingInvoice_Name_FilingStatus == null
                ? ''
                : rowData.BillingInvoice_Name_FilingStatus.replace(' ', '')
            }}"
            (click)="colAction_CreateBillingInvoice_onClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Billing Invoice
          </p>
          <p
            *ngFor="let bi of rowData.BillingInvoices"
            class="action-text FilingStatus FS_{{
              bi.Status == null ? '' : bi.Status.replace(' ', '')
            }}"
            (click)="colAction_ViewBillingInvoice_onClick(bi)"
          >
            {{ bi.Code }} - {{ bi.Status }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="RefNo"
    caption="Reference No"
    [initialValue]="CurrentObject.RefNo"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Owner's Name"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="BillingInvoice_Name_FilingStatus"
    caption="Bill. Status"
    [initialValue]="CurrentObject.BillingInvoice_Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
