@import "./palette.less";

html{

  font-size: 14px;
}

.fc-event-title{

  font-weight: 0 !important;
}

.fc-daygrid-event{

  color: white !important;
  cursor: pointer;
}

.fc-daygrid-event-patientwellness{

  background-color: #560daa !important;
}

.fc-daygrid-event-patientsoap{

  background-color: #116fbf !important;
}
.fc-daygrid-event-patientappointment{

  background-color: rgb(218 72 3) !important;
}
