<modal-dialog
  #modalDialog
  title="Change User Account"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <ng-container [ngTemplateOutlet]="adjustInventoryTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <div class="row">
    <div class="col-md-12">
      <label for="exampleInputEmail1">Username</label>
      <div class="row">
        <!-- <div class="col-md-5">
          <admin-lte-texbox
            name="Code_Company"
            caption=""
            [readonly]="true"
            [initialValue]="CurrentObject.Code_Company"
            (onModelChanged)="control_onModelChanged($event)"
          >
          </admin-lte-texbox>
        </div> -->
        <div class="col-md-12">
          <admin-lte-texbox
            name="Username"
            caption=""
            [initialValue]="CurrentObject.Username"
            (onModelChanged)="control_onModelChanged($event)"
          >
          </admin-lte-texbox>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <admin-lte-passwordbox
        name="NewPassword"
        caption="Retype New Password"
        [initialValue]="CurrentObject.NewPassword"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-passwordbox>
      <admin-lte-passwordbox
        name="RetypeNewPassword"
        caption="Retype New Password"
        [initialValue]="CurrentObject.RetypeNewPassword"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-passwordbox>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="loading != true"
    class="btn btn-primary"
    (click)="btnChange_onClick()"
  >
    <i class="fas fa-cubes"></i>&nbsp;Change
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
