<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 120px">Date</th>
          <th>Remarks</th>
          <th style="width: 150px">Date Sent</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let schedule of Schedules; index as i"
          style="cursor: pointer"
        >
          <td class="text-center">
            <admin-lte-datetimebox
              name="Date"
              caption=""
              [initialValue]="schedule.Date"
              (onModelChanged)="schedule_onModelChanged(schedule, $event)"
            >
            </admin-lte-datetimebox>
          </td>
          <td class="text-center">
            <admin-lte-textarea
              name="Comment"
              caption=""
              rows="5"
              [initialValue]="schedule.Comment"
              (onModelChanged)="schedule_onModelChanged(schedule, $event)"
            >
            </admin-lte-textarea>
          </td>
          <td> {{ schedule.DateSent | date: "MM/dd/Y hh:mm a" }} </td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteSchedule_OnClick(schedule)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
