<div class="d-flex flex-column expand" [ngClass]="{'hide-filter' : this.showFilterBox !== true }">
    <div class="module-header" style="height: auto;">
        <p-toolbar [hidden]="showHeader !== true">
            <div class="ui-toolbar-group-left">
                <div class="title" [style.opacity]="!(gridOption?.caption?.length > 2) ? 0 : 100">
                    {{gridOption?.caption}}
                </div>
            </div>
            <div class="ui-toolbar-group-right">

            </div>
        </p-toolbar>
        <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">

            <div class="filter-buttons" [hidden]="filterControls.length == 0">

                <button pButton type="button" class="ui-button-raised" icon="pi pi-filter"
                    (click)="toggeFilterBox()"></button>

            </div>

        </p-menubar>
    </div>
    <div class="d-flex flex-fill module-content" style="height:1px;">
        <div class="expand" style="overflow-y: auto;overflow-x: hidden">

            <div class="p-grid expand" style="margin: 0px;">
                <div class="main-box p-col-9">
                    <div #vc></div>
                </div>
                <div class="filter-box p-col-3" style="height: 100%;">

                    <div class="d-flex flex-column expand">

                        <div class="p-grid expand" style="overflow-x: hidden;overflow-y: auto;">
                            <div class="p-col-12">
                                <h5 style="font-weight: bold;margin-bottom: 8px;"><span class="mdi mdi-filter"></span> Filters</h5>
                                <div #vcFilter></div>
                            </div>
                        </div>

                        <div class="d-flex flex-fill filter-buttons" style="padding: 3px;">
                            <button pButton type="button" label="Clear" class="ui-button-raised ui-button-secondary"
                                (click)="clearFilter()"></button>
                            <button pButton type="button" label="Search" class="ui-button-raised ui-button-success"
                                (click)="searchFilter()"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>