<div class="card">
  <menubar
    *ngIf="loading != true"
    [items]="menuItems"
    (onClick)="initmenubar_OnClick($event)"
  >
  </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Patient</th>
          <th>Gender</th>
          <th>Breed / Species</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-left">{{ rowData.Name }}</td>
          <td class="text-left">{{ rowData.Name_Gender }}</td>
          <td class="text-left">{{ rowData.Species }}</td>
        </tr>
      </tbody>
    </table>
    <br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
