<modal-dialog #modalDialog title="Select Record">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <admin-lte-list
          #listview
          [option]="listviewOption"
          [ismultiple]="ismultiple"
          (onRowSelected)="listview_onRowSelected($event)"
          (onDataSourceLoaded)="listview_onDataSourceLoaded($event)"
        ></admin-lte-list>
      </div>
    </div>
  </div>
</modal-dialog>
