<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <div class="row">
      <div class="col-md-9">
        <ng-container [ngTemplateOutlet]="table"></ng-container>
      </div>
      <div class="col-md-3">
        <ng-container [ngTemplateOutlet]="filter"></ng-container>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #table>
  <table
    class="table table-striped table-bordered table-hover"
    style="background-color: white"
  >
    <thead>
      <tr>
        <th style="width: 150px">Item</th>
        <th style="width: 180px">Current Inventory</th>
        <th style="width: 300px">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        style="cursor: pointer"
        (click)="onRowClick(rowData)"
      >
        <td class="text-center">{{ rowData.Name_Item }}</td>
        <td class="text-center">{{ rowData.CurrentInventoryCount }}</td>
        <td class="text-center">{{ rowData.Name_InventoryStatus }}</td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #filter>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Filter</h3>
    </div>

    <div class="card-body">
      <ng-container
        [ngTemplateOutlet]="contentTemplateFilterForm"
      ></ng-container>
    </div>

    <div class="card-footer clearfix">
      <ng-container
        [ngTemplateOutlet]="contentTemplateFilterFormFooter"
      ></ng-container>
    </div>

    <div *ngIf="loading" class="overlay">
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </div>
</ng-template>
\
<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="Name_Item"
    caption="Item"
    [initialValue]="CurrentObject.Name_Item"
    (onModelChanged)="FilterField_onModelChanged($event)"
    (onEnterKeyUp)="FilterField_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_InventoryStatus"
    displayName="Name_InventoryStatus"
    caption="Inventory Status"
    [initialValue]="CurrentObject.ID_InventoryStatus"
    [initialDisplayValue]="CurrentObject.Name_InventoryStatus"
    [option]="ID_InventoryStatus_LookupboxOption"
    (onModelChanged)="FilterField_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="btnFilterRefresh_OnClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="BtnClearFilter_OnClick($event)" class="btn btn-link">
    Clear
  </button>
</ng-template>
