<modal-dialog
  #modalDialog
  [title]="title"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="menuItems.length > 0">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="menubar_OnClick($event)"
        >
        </menubar>
        <br />
      </div>
      <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active nav-link-active': currentTabIndex == 0 }"
                  (click)="navlink_onClick(0)"
                >
                  Info
                </a>
              </li>

              <li class="nav-item" *ngIf="CurrentObject.ID > 0">
                <a
                  class="nav-link"
                  [ngClass]="{ 'active nav-link-active': currentTabIndex == 1 }"
                  (click)="navlink_onClick(1)"
                  >Payment History</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content" id="tab-1">
              <div
                class="tab-pane"
                [ngClass]="{ 'active tab-pane-active': currentTabIndex == 0 }"
              >
                <ng-container
                  [ngTemplateOutlet]="adjustInventoryTemplate"
                ></ng-container>
              </div>

              <div
                class="tab-pane"
                [ngClass]="{ 'active tab-pane-active': currentTabIndex == 1 }"
              >
                <ng-container
                  [ngTemplateOutlet]="payablepaymenttable_template"
                ></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    [readonly]="
      this.CurrentObject.Payment_ID_FilingStatus != this.Pending_FilingStatus
    "
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-data-lookupbox
    name="ID_ExpenseCategory"
    displayName="Name_ExpenseCategory"
    caption="Type"
    [initialValue]="selectedPayableDetail.ID_ExpenseCategory"
    [initialDisplayValue]="selectedPayableDetail.Name_ExpenseCategory"
    [option]="ID_ExpenseCategory_LookupboxOption"
    [readonly]="
      this.CurrentObject.Payment_ID_FilingStatus != this.Pending_FilingStatus
    "
    (onModelChanged)="selectedPayableDetail_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="selectedPayableDetail.Name"
    [readonly]="
      this.CurrentObject.Payment_ID_FilingStatus != this.Pending_FilingStatus
    "
    (onModelChanged)="selectedPayableDetail_onModelChanged($event)"
  ></admin-lte-texbox>

  <admin-lte-numberbox
    name="Amount"
    caption="Amount"
    [readonly]="
      this.CurrentObject.Payment_ID_FilingStatus != this.Pending_FilingStatus
    "
    [initialValue]="selectedPayableDetail.Amount"
    (onModelChanged)="selectedPayableDetail_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #payablepaymenttable_template>
  <payable-payment-table #payablepaymenttable></payable-payment-table>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="
      this.CurrentObject.Payment_ID_FilingStatus == this.Pending_FilingStatus
    "
    class="btn btn-primary"
    (click)="btnChange_onClick()"
  >
    <i class="fas fa-cubes"></i>&nbsp;Save
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
