<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 150px;">Date</th>
          <th style="width: 180px;">Medication / Service</th>
          <th style="width: 300px;">Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">
            {{ rowData.Date | date: "MM/dd/yyyy hh:mm a" }}
          </td>
          <td class="text-center">{{ rowData.Name_Item }}</td>
          <td class="text-left">{{ rowData.Comment }}</td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
