<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-8">
        <card-container
          title="Roles"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_role_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Name_Employee"
    caption="Employee"
    [initialValue]="CurrentObject.Name_Employee"
    [readonly]="true"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_role_fields>
  <ng-container [ngTemplateOutlet]="userRoles"></ng-container>
</ng-template>

<ng-template #userRoles>
  <user-roles-table
    [userRoles]="this.CurrentObject.User_Roles"
    (onModelChanged)="useruserrolestable_onModelChanged()"
  ></user-roles-table>
</ng-template>


<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

  <drop-down-button
  title="Back"
  [isDropdownRight]="true"
  [items]="rightDropDownItems"
  (onMainButtonClick)="onClickBackButton()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</div>

</ng-template>
