<div class="form-group">
  <label *ngIf="caption.length > 0" for="exampleInputEmail1">{{
    caption
  }}</label>
  <input
    [name]="name"
    *ngIf="readonly != true"
    type="time"
    placeholder="{{ placeholder }}"
    class="form-control"
    [(ngModel)]="value"
    (ngModelChange)="_onModelChanged($event)"
    (keyup)="onKey($event)"
    [min]="_min"
  />
  <span *ngIf="readonly" class="form-control form-control-readonly">{{
    value | date: format
  }}</span>
</div>
