<div class="content">
  <div class="container-fluid">
    <div *ngIf="isShowComponent" class="row">
      <div class="col-sm-12">
        <menubar [items]="menuItems" (onClick)="menubar_OnClick($event)">
        </menubar>
      </div>

      <div class="col-sm-3" style="margin-bottom: 15px">
        <daily-sales-small-box #dailysalessmallbox></daily-sales-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <monthly-sales-small-box
          #monthlysalessmallbox
        ></monthly-sales-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <daily-payments-small-box
          #dailypaymentssmallbox
        ></daily-payments-small-box>
      </div>
      <div class="col-sm-3" style="margin-bottom: 15px">
        <monthly-payments-small-box
          #monthlypaymentssmallbox
        ></monthly-payments-small-box>
      </div>
      <div class="col-sm-6" style="margin-bottom: 15px">
        <daily-client-count-small-box
          #dailyclientcountsmallbox
        ></daily-client-count-small-box>
      </div>
      <div class="col-sm-6" style="margin-bottom: 15px">
        <monthly-total-client-small-box
          #monthlytotalclientsmallbox
        ></monthly-total-client-small-box>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Monthly Sales"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Sales_Chart"
        >
        </card-container>
      </div>
      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Services Distribution"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Services_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="New Clients"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_MonthlyClient_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Revisit Clients"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_MonthlyRevisitClient_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Top Selling Items"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_TopSellingItems_Chart"
        >
        </card-container>
      </div>

      <div class="col-md-6" style="margin-bottom: 15px">
        <card-container
          title="Top Billed Clients"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_TopBilledClient_Chart"
        >
        </card-container>
      </div>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  <ng-template #contentTemplate_Sales_Chart>
    <dashboard-sales-chart #dashboardsaleschart> </dashboard-sales-chart>
  </ng-template>

  <ng-template #contentTemplate_Services_Chart>
    <dashboard-services-chart #dashboardserviceschart>
    </dashboard-services-chart>
  </ng-template>
  <ng-template #contentTemplate_MonthlyClient_Chart>
    <dashboard-monthlyclient-chart #dashboardmonthlyclientchart>
    </dashboard-monthlyclient-chart>
  </ng-template>

  <ng-template #contentTemplate_MonthlyRevisitClient_Chart>
    <dashboard-revisit-client-chart #dashboardrevisitclientchart>
    </dashboard-revisit-client-chart>
  </ng-template>

  <ng-template #contentTemplate_TopSellingItems_Chart>
    <dashboard-top-selling-items-chart
      #dashboardtopsellingitemschart
    ></dashboard-top-selling-items-chart>
  </ng-template>

  <ng-template #contentTemplate_TopBilledClient_Chart>
    <dashboard-top-billed-client
      #dashboardtopbilledclient
    ></dashboard-top-billed-client>
  </ng-template>
</div>
