<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Missed Appointment (Waiting List) &nbsp;
    </div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <div
                  *ngIf="!isListLoadedSuccess"
                  class="text center"
                  style="
                    margin: 6px;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: bold;
                  "
                >
                  <i class="fas fa-times text-danger"></i>&nbsp;Unable to Load
                  the result. Please try again...
                </div>

                <p-table
                  *ngIf="isListLoadedSuccess"
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="UniqueID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 150px">Date</th>

                      <th style="width: 100px">
                        <span>From</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Client')">
                        <span>Owner's Name</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Patient')">
                        <span>Pet's Name</span>
                      </th>
                      <th (click)="tableHeader_onClick('Description')">
                        <span>Description</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick('WaitingStatus_Name_FilingStatus')
                        "
                        style="width: 120px"
                      >
                        <span>Waiting Status</span>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (dblclick)="tableRowDetail_onClick(record)"
                    >
                      <td style="width: 150px" class="text-center">
                        <span *ngIf="record.IsQueued">
                          {{ record.DateStart | date : "MM/dd/yyyy hh:mm a" }}
                        </span>

                        <span *ngIf="!record.IsQueued">
                          {{ record.DateStart | date : "MM/dd/yyyy" }}
                        </span>
                      </td>

                      <td style="width: 100px; text-align: center">
                        <p class="action-text text-center">
                          {{ record.ReferenceCode }}
                        </p>
                      </td>
                      <td>
                        {{ record.Name_Client }}
                      </td>
                      <td>
                        {{ record.Name_Patient }}
                      </td>

                      <td>
                        {{ record.Description }}
                      </td>

                      <td
                        style="width: 120px; text-align: center"
                        class="Waiting-Status WaitingStatus WS_{{
                          record.WaitingStatus_Name_FilingStatus == null
                            ? ''
                            : record.WaitingStatus_Name_FilingStatus.replace(
                                ' ',
                                ''
                              )
                        }}"
                        (click)="colWaitingStatus_onClick(record)"
                      >
                        {{ record.WaitingStatus_Name_FilingStatus }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  (onAfterContentInit)="appForm_onAfterContentInit($event)"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                    <p-accordionTab
                      id="DateStart"
                      [transitionOptions]="'0ms'"
                      header="Date"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-date-box
                          [(ngModel)]="CurrentObject.DateStart"
                          name="DateStart"
                          caption="Date"
                          labelPosition="top"
                          [show-time]="false"
                          [filterMode]="true"
                        ></app-date-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ReferenceCode"
                      [transitionOptions]="'0ms'"
                      header="Ref. Code"
                      (click)="accordionfilterClick($event)"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.ReferenceCode"
                          name="ReferenceCode"
                          caption="Ref. Code"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Client"
                      [transitionOptions]="'0ms'"
                      header="Owner's Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Client"
                          name="Name_Client"
                          caption="Owner's Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Patient"
                      [transitionOptions]="'0ms'"
                      header="Pet's Name"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Patient"
                          name="Name_Patient"
                          caption="Pet's Name"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

<change-waiting-status-patient-waiting-list-dialog
  #changewaitingstatuspatientwaitinglistdialog
></change-waiting-status-patient-waiting-list-dialog>
