<p-menubar
  [model]="menuItems"
  *ngIf="CurrentObject.ID_Client && menuItems.length > 0"
>
</p-menubar>

<p-table
  [value]="_patients"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="selectedRecord"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="300px"
  [style]="{
    height: '300px',
    'background-color': 'gray'
  }"
>
  <ng-template pTemplate="header">
    <tr style="text-align: center">
      <th pSortableColumn="Name">Pet's Name</th>
      <th style="width: 80px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-confinePatient>
    <tr [pSelectableRow]="confinePatient">
      <td>{{ confinePatient.Name_Patient }}</td>
      <td style="text-align: center; width: 80px">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          (click)="onRowDeleting(confinePatient)"
          class="p-button-rounded p-button-text"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>


<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>