<modal-dialog
  #modalDialog
  [title]="title"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ng-container
          [ngTemplateOutlet]="adjustInventoryTemplate"
        ></ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-numberbox
    name="RemaningAmount"
    caption="Remaning Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.RemaningAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="CashAmount"
    caption="Amount"
    [initialValue]="CurrentObject.CashAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="loading != true || !isHideSaveButton"
    class="btn btn-primary"
    (click)="btnChange_onClick()"
  >
    <i class="fas fa-cubes"></i>&nbsp;Pay
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
