<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Patient Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PatientInfomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title=""
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Comment_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-datetimebox
    name="DateStart"
    caption="Date"
    [initialValue]="CurrentObject.DateStart"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox>

  <!-- <admin-lte-datetimebox
    name="DateEnd"
    caption="Date End"
    [initialValue]="CurrentObject.DateEnd"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox> -->

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Filing Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PatientInfomation_fields>
  <admin-lte-data-lookupbox
    name="ID_SOAPType"
    displayName="Name_SOAPType"
    caption="Type"
    [initialValue]="CurrentObject.ID_SOAPType"
    [initialDisplayValue]="CurrentObject.Name_SOAPType"
    [option]="ID_SOAPType_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. Veterinarian"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="Groomer_ID_Employee"
    displayName="Groomer_Name_Employee"
    caption="Groomer"
    [initialValue]="CurrentObject.Groomer_ID_Employee"
    [initialDisplayValue]="CurrentObject.Groomer_Name_Employee"
    [option]="Groomer_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Comment_fields>
  <admin-lte-textarea
    name="Comment"
    caption="Comment"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>
