<div class="card">
  <menubar
    *ngIf="loading != true"
    [items]="menuItems"
    (onClick)="initmenubar_OnClick($event)"
  >
  </menubar>

  <div class="card-body">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>BI #</th>
          <th>Total Amount</th>
          <th>Remaining Amount</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">{{ rowData.Date | date : "MM/dd/yyyy" }}</td>
          <td class="text-center">{{ rowData.Code }}</td>
          <td class="text-right">{{ rowData.NetAmount | number : "1.2-5" }}</td>
          <td class="text-right">
            {{ rowData.RemainingAmount | number : "1.2-5" }}
          </td>
          <td
            style="text-align: center"
            class="FilingStatus FS_{{
              rowData.Status == null ? '' : rowData.Status.replace(' ', '')
            }}"
          >
            {{ rowData.Status }}
          </td>
        </tr>
        <tr style="height: 200px">
          <td colspan="5"></td>
        </tr>
        <tr>
          <td class="text-left text-bold">Total Count: {{ BillingCount }}</td>
          <td class="text-center"></td>
          <td class="text-right text-bold">
            {{ TotalBillingAmount | number : "1.2-5" }}
          </td>
          <td class="text-right text-danger text-bold">
            {{ TotalRemainingAmount | number : "1.2-5" }}
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
