<div class="module-footer" style="position: relative">
  <p-toolbar>
    <div class="ui-toolbar-group-left">
      <div class="footer-message" [innerHTML]="footerLeftMessageHtml"></div>
    </div>

    <div class="ui-toolbar-group-right">
      <div class="footer-message" [innerHTML]="footerRightMessageHtml"></div>
    </div>
  </p-toolbar>

  <div
    class=""
    style="
      position: absolute;
      z-index: 10000;
      margin-left: 44%;
      top: 6px;
      width: 139px;
      cursor: pointer;
      font-weight: bold;
    "
  >
    <div
      class="footer-message"
      routerLink="../../Main/TermsAndConditions"
      *ngIf="isShowTermsAndCondition"
      innerHTML=""
    >
      Terms and Conditions
    </div>
  </div>
</div>
