<admin-lte-small-box
  [title]="CurrentObject.title"
  [iconClass]="'fas fa-money-bill-wave'"
  [subtitle]="CurrentObject.subtitle"
  [bgClass]="'bg-info'"
></admin-lte-small-box>

<div class="icon-container" (click)="iconContainer_OnClicked()">
  <span><i class="fa fa-calendar" style="font-size: 9px"></i></span>
</div>

<modal-dialog #modalDialog title="Daily Sales" size="sm">
  <div class="row" style="padding: 12px">
    <div class="col-lg-12">
      <admin-lte-datebox #adminltedateboxDate
        name="Date"
        caption="Date"
        format="MMM. dd, yyyy"
        [initialValue]="CurrentObject.Date"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>
      <p class="text-right">
        <button class="btn btn-primary" (click)="btnFilter_OnClicked()">Filter</button>
        &nbsp;
        <button class="btn btn-danger" (click)="btnReset_OnClicked()">Reset</button>
      </p>
    </div>
  </div>
</modal-dialog>
