<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Pricing"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Pricing_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="_Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject._Code"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="CustomCode"
    caption="Custom Code"
    [initialValue]="CurrentObject.CustomCode"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_ItemCategory"
    displayName="Name_ItemCategory"
    caption="Category"
    [initialValue]="CurrentObject.ID_ItemCategory"
    [initialDisplayValue]="CurrentObject.Name_ItemCategory"
    [option]="ID_ItemCategory_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <admin-lte-texbox
    name="SKUCode"
    caption="SKU Code"
    [initialValue]="CurrentObject.SKUCode"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-numberbox
    name="UnitCost"
    caption="Buying Price"
    [initialValue]="CurrentObject.UnitCost"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="UnitPrice"
    caption="Service Fee"
    [initialValue]="CurrentObject.UnitPrice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>
