<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-8">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Images"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Images_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="SMS Template"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_SMSTemplate_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <div class="row">
    <div class="col-md-6">
      <admin-lte-texbox
        name="Name"
        caption="Name"
        [readonly]="true"
        [initialValue]="CurrentObject.Name"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-textarea
        name="Address"
        caption="Address"
        [initialValue]="CurrentObject.Address"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-textarea>
    </div>

    <div class="col-md-6">
      <admin-lte-texbox
        name="ContactNumber"
        caption="Contact Number"
        [initialValue]="CurrentObject.ContactNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-texbox
        name="Email"
        caption="Email"
        [initialValue]="CurrentObject.Email"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>
    </div>
  </div>
</ng-template>
<ng-template #contentTemplate_SMSTemplate_fields>
  <div class="row">
    <div class="col-md-6">
      <admin-lte-textarea
        name="SOAPPlanSMSMessage"
        caption="SMS Template"
        [initialValue]="CurrentObject.SOAPPlanSMSMessage"
        (onModelChanged)="control_onModelChanged($event)"
        helptext="{{ SOAPPlanSMSMessageStringCount }}"
      >
      </admin-lte-textarea>
    </div>
    <div class="col-md-6">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Preview</label
      >
      <div
        [innerHTML]="SOAPPlanSMSMessageHTML"
        class="SOAPPlanSMSMessageHTML"
      ></div>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_Images_fields>
  <admin-lte-image-box
    name="ImageHeaderFilename"
    caption="Header"
    [initialValue]="CurrentObject.ImageHeaderFilename"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>

  <admin-lte-image-box
    name="ImageLogoFilename"
    caption="Logo"
    [initialValue]="CurrentObject.ImageLogoFilename"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-image-box>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>
