<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields">
       </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Billing Invoice"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_BillingInvoice_fields">
        </card-container>
      </div>

      <div class="col-md-4">&nbsp;</div>

      <div class="col-md-4">
        <card-container
          title="Mode Of Payment"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ModeOfPayment_fields"
        >
        </card-container>
      </div>
      <div class="col-md-4">
        <card-container
          title="Totals"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Totals_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_BillingInvoice_fields>
  <admin-lte-data-lookupbox
    name="ID_BillingInvoice"
    displayName="Code_BillingInvoice"
    caption="BI #"
    [initialValue]="CurrentObject.ID_BillingInvoice"
    [initialDisplayValue]="CurrentObject.Code_BillingInvoice"
    [option]="ID_BillingInvoice_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
  <admin-lte-texbox
    name="Name_Client"
    caption="Client"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
  <admin-lte-texbox
    name="Name_Patient"
    caption="Patient"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_ModeOfPayment_fields>
  <admin-lte-data-lookupbox
    name="ID_PaymentMethod"
    displayName="Name_PaymentMethod"
    caption="Payment Method"
    [initialValue]="CurrentObject.ID_PaymentMethod"
    [initialDisplayValue]="CurrentObject.Name_PaymentMethod"
    [option]="ID_PaymentMethod_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-numberbox
    name="RemainingAmount"
    caption="Remaining Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.RemainingAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <ng-container [ngTemplateOutlet]="paymentTemplate"></ng-container>
</ng-template>

<ng-template #contentTemplate_Totals_fields>
  <admin-lte-numberbox
    name="PayableAmount"
    caption="Payable Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.PayableAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="PaymentAmount"
    caption="Payment Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.PaymentAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="ChangeAmount"
    caption="Change Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.ChangeAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #paymentCashTemplate>
  <admin-lte-numberbox
    name="CashAmount"
    caption="Cash Amount"
    [initialValue]="CurrentObject.CashAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #paymentGCashTemplate>
  <admin-lte-texbox
    name="ReferenceTransactionNumber"
    caption="Ref No."
    [initialValue]="CurrentObject.ReferenceTransactionNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-numberbox
    name="GCashAmount"
    caption="G Cash"
    [initialValue]="CurrentObject.GCashAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #paymentDebitCreditTemplate>
  <admin-lte-data-lookupbox
    name="ID_CardType"
    displayName="Name_CardType"
    caption="Card Type"
    [initialValue]="CurrentObject.ID_CardType"
    [initialDisplayValue]="CurrentObject.Name_CardType"
    [option]="ID_CardType_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
  <admin-lte-texbox
    name="CardNumber"
    caption="Card Number"
    [initialValue]="CurrentObject.CardNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="CardHolderName"
    caption="Card Holder Name"
    [initialValue]="CurrentObject.CardHolderName"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-numberbox
    name="CardAmount"
    caption="Card Amount"
    [initialValue]="CurrentObject.CardAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #paymentCheckTemplate>
  <admin-lte-texbox
    name="CheckNumber"
    caption="Check Number"
    [initialValue]="CurrentObject.CheckNumber"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-numberbox
    name="CheckAmount"
    caption="Check Amount"
    [initialValue]="CurrentObject.CheckAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>


<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

  <drop-down-button
  title="Back"
  [isDropdownRight]="true"
  [items]="rightDropDownItems"
  (onMainButtonClick)="onClickBackButton()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</div>

</ng-template>

<ng-template #contentTemplate_ReceivingReportDetails_fields> </ng-template>

<br /><br /><br /><br /><br /><br /><br /><br />
