<div class="card">
  <div class="card-body p-0">
    <menubar
      *ngIf="loading != true || menuItems.length > 0"
      [items]="menuItems"
      (onClick)="initmenubar_OnClick($event)"
    >
    </menubar>

    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 100px">Date</th>
          <th style="width: 100px">Ref #</th>
          <th>Patient</th>
          <th style="width: 150px">Amount</th>
          <th style="width: 60px"></th>
          <th style="width: 60px" *ngIf="isAllowedToCancel"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
        >
          <td *ngIf="rowData.Code != 'Remaining'" class="text-center">
            {{ rowData.Date | date : "MM/dd/yyyy" }}
          </td>
          <td *ngIf="rowData.Code != 'Remaining'" class="text-center">
            {{ rowData.Code }}
          </td>
          <td *ngIf="rowData.Code != 'Remaining'" class="text-left">
            {{ rowData.Name_Patient }}
          </td>
          <td *ngIf="rowData.Code != 'Remaining'" class="text-right">
            {{ rowData.DepositAmount | number : "1.2" }}
          </td>
          <td style="text-align: center; width: 60px">
            <button
              *ngIf="rowData.ID"
              type="button"
              (click)="onRowPrintRecord(rowData)"
              class="btn btn-block btn-default"
            >
              <span class="fa fa-print"></span>
            </button>
          </td>
          <td
            style="text-align: center; width: 60px"
            *ngIf="isAllowedToCancel && rowData.Code != 'Remaining'"
          >
            <button
              *ngIf="rowData.ID"
              type="button"
              (click)="onRowDeletingRecord(rowData)"
              class="btn btn-block btn-danger"
            >
              <span class="fa fa-times"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>

  <br /><br /><br /><br /><br /><br /><br />
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<adjust-credit-dialog #adjustcreditdialog></adjust-credit-dialog>
