<content-header [title]="headerTitle"></content-header>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

  <drop-down-button
  title="Back"
  [isDropdownRight]="true"
  [items]="rightDropDownItems"
  (onMainButtonClick)="onClickBackButton()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</div>

</ng-template>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>
      <div class="col-md-4">
        <card-container
          title=""
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_TransferFrom_fields">
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>


<ng-template #contentTemplate_TransferFrom_fields>
  <admin-lte-data-lookupbox
      name="ID_Patient_From"
      displayName=""
      caption="From"
      [initialValue]="CurrentObject.ID_Patient_From"
      [initialDisplayValue]="CurrentObject.Name_ClientPet_From"
      [option]="ID_Client_Pet_LookupboxOption"
      (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_Patient_To"
    displayName=""
    caption="To"
    [initialValue]="CurrentObject.ID_Patient_To"
    [initialDisplayValue]="CurrentObject.Name_ClientPet_To"
    [option]="ID_Client_Pet_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
>
</admin-lte-data-lookupbox>



<br /><br /><br /><br /><br /><br /><br /><br />
