<app-control #appContainer (cssClass)="getCssClass()">
  
  <p-fileUpload #fileUpload [name]="this.name" 
      accept="image/*"
      [showUploadButton]="false"
      [showCancelButton]="false" 
      (onSelect)="onFileUploader_Select($event)"
      [customUpload]="true"
      chooseIcon=""
      chooseLabel="Choose..."
      style="text-align: center;"
      (onRemove)="onFileUploader_Remove($event)">
      <ng-template pTemplate="content" >
        <img style="cursor: pointer;" *ngIf="imgUrl != null" src="{{imgUrl}}" (click)="_onImageClick($event)"/>
    </ng-template>
  </p-fileUpload>
</app-control>