<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 150px">Price</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let Supplier of ItemSuppliers; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">{{ Supplier.Name_Supplier }}</td>
          <td class="text-center">
            <admin-lte-numberbox
              name="UnitCost"
              caption=""
              [initialValue]="Supplier.UnitCost"
              (onModelChanged)="Item_Supplier_onModelChanged(Supplier, $event)"
            >
            </admin-lte-numberbox>
          </td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteItem_Supplier_OnClick(Supplier)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
