<div class="d-flex flex-column expand" style="margin-top: 0px; background-color: #fff">
    <div class="module-header" style="height: auto">
        <div class="module-title" style="padding-left: 6px">
            Patient Medical Record&nbsp;
            <span class="clickableheader" (click)="clientName_OnClick()">{{
        CurrentObject.Name_Client != null
          ? " " + CurrentObject.Name_Client
          : " "
      }}</span>
            <span class="clickableheader" (click)="patientName_OnClick()">{{
        CurrentObject.Name_Patient != null
          ? " / " + CurrentObject.Name_Patient
          : " "
      }}</span>
        </div>

        <p-menubar [model]="menuItems">
            <button *ngIf="hasBackLinkConfigOption" type="button" class="btn btn-primary btn-sm" (click)="btnBack_onClick()">
        Back
      </button>

            <cssdropdown *ngIf="gotoMenuItems.length > 0" icon="pi pi-chevron-down" style="margin-left: 4px" [model]="gotoMenuItems"></cssdropdown>
        </p-menubar>
    </div>

    <div class="d-flex flex-fill module-content" style="height: 1px; background-color: #fff">
        <perfect-scrollbar style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      ">
            <app-form #appForm [CurrentObject]="CurrentObject" [style.margin-bottom.px]="50">
                <p-tabView>
                    <p-tabPanel header="General" class="oid-control tab-panel-custom">
                        <div class="row">
                            <div class="col-lg-4">
                                <p-fieldset legend="Information" class="with-caption">
                                    <app-text-box [(ngModel)]="CurrentObject.Code" name="Code" caption="Code" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-date-box [(ngModel)]="CurrentObject.Date" name="Date" caption="Date" [required]="true" labelPosition="top" [show-time]="false" [maxDate]="maxDate">
                                    </app-date-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-text-box [(ngModel)]="CurrentObject.Name_FilingStatus" name="Name_FilingStatus" caption="Status" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>
                                </p-fieldset>
                            </div>

                            <div class="col-lg-4">
                                <p-fieldset legend="Patient Info" class="with-caption">
                                    <app-text-box *ngIf="IsPatientConfinement" [(ngModel)]="CurrentObject.Name_SOAPType" name="Name_SOAPType" caption="Type" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-box>

                                    <app-select-box #ID_SOAPType_SelectBox *ngIf="!IsPatientConfinement" [(ngModel)]="CurrentObject.ID_SOAPType" name="ID_SOAPType" caption="Type" [required]="true" [option]="ID_SOAPType_SelectBoxOption" labelPosition="top" (onValueChanged)="
                      ID_SOAPType_SelectBox_ValueChanged($event)
                    ">
                                    </app-select-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-lookup-box #AttendingPhysician_ID_Employee__LookUpBox [required]="true" [(ngModel)]="CurrentObject.AttendingPhysician_ID_Employee" name="AttendingPhysician_ID_Employee" caption="Attending Personnel" [option]="AttendingPhysician_ID_Employee_LookupBoxOption"
                                        (onSelectedItem)="
                      AttendingPhysician_ID_Employee_LookUpBox_onSelectedItem(
                        $event
                      )
                    " labelPosition="top">
                                    </app-lookup-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-lookup-box #ID_Client_LookUpBox [(ngModel)]="CurrentObject.ID_Client" [titleTooltip]="CurrentObject.Comment_Client" name="ID_Client" caption="Owner's Name" [required]="true" [option]="ID_Client_LookupBoxOption" (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    " (onRemoveSelectedItem)="
                      ID_Client_LookUpBox_onRemoveSelectedItem()
                    " labelPosition="top">
                                    </app-lookup-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-text-box [(ngModel)]="CurrentObject.ContactNumber_Client" name="ContactNumber_Client" caption="Contact Number" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-box>
                                    <div class="control-separator-bottom"></div>

                                    <div (dblclick)="btnNewTab_OnClick()">
                                        <app-lookup-box #ID_Patient_LookUpBox [titleTooltip]="CurrentObject.Comment_Patient" [(ngModel)]="CurrentObject.ID_Patient" name="ID_Patient" caption="Pet's Name" [required]="true" [option]="ID_Patient_LookupBoxOption" labelPosition="top" (onSelectedItem)="
                        ID_Patient_LookUpBox_onSelectedItem($event)
                      " (onRemoveSelectedItem)="
                        ID_Patient_LookUpBox_onRemoveSelectedItem()
                      ">
                                        </app-lookup-box>
                                    </div>

                                    <div class="control-separator-bottom"></div>

                                    <app-text-box [(ngModel)]="CurrentObject.Age_Patient" name="Age_Patient" caption="Age" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>

                                    <!-- <app-data-lookup-box
                  name="ID_Client"
                  [(ngModel)]="CurrentObject.ID_Client"
                  [displayValue]="CurrentObject.Name_Client"
                  caption="Client"
                  [readOnly]="true"
                  labelPosition="top"
                  [ngStyle]="{
                    'margin-bottom': '5px'
                  }"
                >
                </app-data-lookup-box>

                <div class="control-separator-bottom"></div> -->

                                    <app-auto-complete-box [(ngModel)]="CurrentObject.CaseType" name="CaseType" caption="Case Type" labelPosition="top" [dataList]="CaseTypeList" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-auto-complete-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-text-box [(ngModel)]="CurrentObject.Weight" name="Weight" caption="Weight" labelPosition="top" [readOnly]="false">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>
                                </p-fieldset>
                            </div>

                            <div class="col-lg-4" *ngIf="IsPatientConfinement">
                                <p-fieldset legend="Confiment Info." class="with-caption">
                                    <app-text-box [(ngModel)]="CurrentObject.Code_Patient_Confinement" name="Code_Patient_Confinement" caption="Code" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }" (click)="Code_Patient_Confinement_Textbox_onCLick()">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-date-box [(ngModel)]="CurrentObject.Date_Patient_Confinement" name="Date_Patient_Confinement" caption="Date of Confinement" [readOnly]="true" labelPosition="top" [show-time]="false">
                                    </app-date-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-text-box [(ngModel)]="
                      CurrentObject.Name_FilingStatus_Patient_Confinement
                    " name="Name_FilingStatus_Patient_Confinement" caption="Status" [readOnly]="true" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-box>

                                    <div class="control-separator-bottom"></div>

                                    <app-date-box *ngIf="
                      CurrentObject.ID_FilingStatus_Patient_Confinement ==
                      FILINGSTATUS_DISCHARGE
                    " [(ngModel)]="
                      CurrentObject.DateDischarge_Patient_Confinement
                    " name="DateDischarge_Patient_Confinement" caption="Date of Discharged" [readOnly]="true" labelPosition="top" [show-time]="false">
                                    </app-date-box>
                                    <div class="control-separator-bottom"></div>
                                </p-fieldset>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>

                <div class="row">
                    <div class="col-md-6">
                        <p-tabView>
                            <p-tabPanel header="Primary Complaint / History" class="oid-control tab-panel-custom">
                                <p-menubar [model]="detailMenuPrimaryComplaint" *ngIf="detailMenuPrimaryComplaint.length > 0">
                                </p-menubar>

                                <app-text-area [(ngModel)]="CurrentObject.History" name="History" caption="" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-6">
                        <p-tabView>
                            <p-tabPanel header="Clinical Exam" class="oid-control tab-panel-custom">
                                <p-menubar [model]="ClinicalExaminationMenuItems" *ngIf="ClinicalExaminationMenuItems.length > 0">
                                </p-menubar>

                                <app-text-area [(ngModel)]="CurrentObject.ClinicalExamination" name="ClinicalExamination" caption="" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-12" *ngIf="
              CurrentObject.Subjective != null && CurrentObject.Subjective != ''
            ">
                        <p-tabPanel header="Subjective" class="oid-control tab-panel-custom">
                            <app-text-area [(ngModel)]="CurrentObject.Subjective" name="Subjective" caption="" labelPosition="top" [ngStyle]="{
                  'margin-bottom': '5px'
                }">
                            </app-text-area>
                        </p-tabPanel>
                    </div>

                    <div class="col-md-12">
                        <p-tabView>
                            <p-tabPanel header="Laboratory / Interpretation" class="oid-control tab-panel-custom" [ngStyle]="{
                  'background-color': 'whitesmoke'
                }">
                                <p-menubar [model]="labMenuItems" *ngIf="labMenuItems.length > 0" styleClass="d-flex justify-content-end">
                                </p-menubar>

                                <p-fieldset *ngFor="let LabImage of CurrentObject.LabImages" legend="" class="with-caption">
                                    <div class="row">
                                        <div *ngIf="1 == 0" class="col-sm-3" style="text-align: center">
                                            <a href="{{
                          imageOrgPath +
                            CurrentObject['LabImageFilePath' + LabImage.ImageNo]
                        }}" target="_blank">
                                                <img src="{{
                            imagePath +
                              CurrentObject[
                                'LabImageFilePath' + LabImage.ImageNo
                              ]
                          }}" />
                                            </a>
                                        </div>
                                        <div *ngIf="1 == 1" class="col-sm-3" style="text-align: center">
                                            <app-image-box [(ngModel)]="
                          CurrentObject['LabImageFilePath' + LabImage.ImageNo]
                        " [(name)]="'LabImageFilePath' + LabImage.ImageNo" caption="Upload" labelPosition="top">
                                            </app-image-box>
                                        </div>

                                        <div class="col-sm-7">
                                            <div class="control-separator-bottom"></div>

                                            <button *ngIf="1 == 1" type="button" class="btn btn-link" style="
                          position: relative;
                          float: right;
                          top: -9px;
                          right: 17.4%;
                          font-size: 13px;
                          z-index: 9;
                        " (click)="btnfillTemplate_OnClick(LabImage)">
                        Fill Template
                      </button>

                                            <app-text-area [(ngModel)]="
                          CurrentObject['LabImageRemark' + LabImage.ImageNo]
                        " [(name)]="'LabImageRemark' + LabImage.ImageNo" caption="Remarks" labelPosition="top" [ngStyle]="{
                          'margin-bottom': '5px',
                          width: '100%'
                        }" [readOnly]="this.appForm.isDisabled">
                                            </app-text-area>

                                            <app-text-box *ngIf="false" [(ngModel)]="
                          CurrentObject['LabImageRowIndex' + LabImage.ImageNo]
                        " value="{{ LabImage.RowIndex }}" [(name)]="'LabImageRowIndex' + LabImage.ImageNo" [readOnly]="this.appForm.isDisabled">
                                            </app-text-box>
                                        </div>
                                        <div class="col-sm-2" style="padding-top: 22px">
                                            <button *ngIf="1 == 1" type="button" class="btn btn-danger btn-sm" (click)="btnLabImageRemove(LabImage)">
                        Remove
                      </button>
                                        </div>
                                    </div>
                                </p-fieldset>

                                <p-fieldset>
                                    <app-text-area [(ngModel)]="CurrentObject.Interpretation" name="Interpretation" caption="Interpretation" labelPosition="top" [ngStyle]="{
                      'margin-bottom': '5px'
                    }">
                                    </app-text-area>
                                </p-fieldset>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                    <div class="col-md-12">
                        <p-tabView>
                            <p-tabPanel header="Plan" class="oid-control tab-panel-custom">
                                <p-menubar [model]="planMenuItems" *ngIf="planMenuItems.length > 0" styleClass="d-flex justify-content-end">
                                </p-menubar>

                                <p-table [value]="CurrentObject.Patient_SOAP_Plan" selectionMode="singl" styleClass="p-datatable-sm" [(selection)]="selPatient_SOAP_Plan" dataKey="ID" [scrollable]="true" rowHover="true" scrollHeight="300px" [style]="{
                    height: '300px',
                    'background-color': 'gray'
                  }">
                                    <ng-template pTemplate="header">
                                        <tr style="text-align: center">
                                            <th style="width: 220px" pSortableColumn="DateReturn">
                                                Date Return
                                            </th>
                                            <th pSortableColumn="Name_Item">Service</th>
                                            <th style="width: 40%" pSortableColumn="Comment">
                                                Reason for Return
                                            </th>
                                            <th style="width: 200px" pSortableColumn="DateSent">
                                                SMS Date Sent
                                            </th>
                                            <th *ngIf="!appForm.isDisabled" style="width: 70px"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-patient_SOAP_Plan>
                                        <tr>
                                            <td pEditableColumn class="text-center" style="width: 220px">
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <app-date-box [(ngModel)]="patient_SOAP_Plan.DateReturn" name="DateReturn" caption="" [show-time]="true" [readOnly]="appForm.isDisabled" labelPosition="top" (onControlValue_Changed)="
                                Plan_onControlValueChanged()
                              ">
                                                        </app-date-box>
                                                    </ng-template>

                                                    <ng-template pTemplate="output">
                                                        <span class="required-color">
                              {{
                                patient_SOAP_Plan.DateReturn
                                  | date: "MM/dd/yyyy hh:mm a"
                              }}
                            </span>
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td>
                                                {{ patient_SOAP_Plan.Name_Item }}
                                            </td>
                                            <td pEditableColumn class="text-left" style="width: 40%">
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <app-text-box [(ngModel)]="patient_SOAP_Plan.Comment" name="Comment" caption="" labelPosition="top" [readOnly]="appForm.isDisabled" (onControlValue_Changed)="
                                Plan_onControlValueChanged()
                              ">
                                                        </app-text-box>
                                                    </ng-template>

                                                    <ng-template pTemplate="output">
                                                        <span class="editable-color">
                              {{ patient_SOAP_Plan.Comment }}
                            </span>
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td style="width: 200px; text-align: center">
                                                {{ patient_SOAP_Plan.DateSent | date: "MM/dd/yyyy hh:mm a" }}
                                            </td>
                                            <td *ngIf="!appForm.isDisabled" style="text-align: center; width: 70px">
                                                <button pButton type="button" icon="pi pi-times" (click)="
                            Patient_SOAP_Plan_onRowDeleting(patient_SOAP_Plan)
                          " class="p-button-rounded p-button-text"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <app-text-area [(ngModel)]="CurrentObject.Planning" name="Planning" caption="" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }" *ngIf="
                    CurrentObject.Old_soap_id != null &&
                    CurrentObject.Old_soap_id != undefined &&
                    CurrentObject.Old_soap_id != 0
                  ">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-12">
                        <p-tabView>
                            <p-tabPanel header="Wellness" class="oid-control tab-panel-custom">
                                <patient-wellness-list #patientwellnesslist [CurrentObject]="CurrentObject" [IsDirty]="appForm.isDirty" [IsDisabled]="appForm.isDisabled"></patient-wellness-list>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-6">
                        <p-tabView>
                            <p-tabPanel header="Diagnosis" class="oid-control tab-panel-custom">
                                <p-menubar [model]="DiagnosisMenuItems" *ngIf="DiagnosisMenuItems.length > 0">
                                </p-menubar>

                                <app-text-area [(ngModel)]="CurrentObject.Diagnosis" name="Diagnosis" caption="" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-6">
                        <p-tabView>
                            <p-tabPanel header="Client Communication" class="oid-control tab-panel-custom">
                                <p-menubar> </p-menubar>

                                <app-text-area [(ngModel)]="CurrentObject.ClientCommunication" name="ClientCommunication" caption="" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-12">
                        <p-tabView>
                            <p-tabPanel header="Treatment" class="oid-control tab-panel-custom">
                                <treatment-table [Treatments]="CurrentObject.Patient_SOAP_Treatment" (onChanged)="TreatmentTable_onChanged($event)"></treatment-table>
                                <br />
                                <app-text-area [(ngModel)]="CurrentObject.Treatment" name="Treatment" caption="" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>

                    <div class="col-md-12">
                        <p-tabView>
                            <p-tabPanel header="Prescription" class="oid-control tab-panel-custom">
                                <p-menubar [model]="prescriptionMenuItems" *ngIf="prescriptionMenuItems.length > 0" styleClass="d-flex justify-content-end">
                                </p-menubar>

                                <p-table [value]="CurrentObject.Patient_SOAP_Prescription" selectionMode="singl" styleClass="p-datatable-sm" [(selection)]="selPatient_SOAP_Prescription" dataKey="ID" [scrollable]="true" rowHover="true" scrollHeight="300px" [style]="{
                    height: '330px',
                    'background-color': 'gray'
                  }">
                                    <ng-template pTemplate="header">
                                        <tr style="text-align: center">
                                            <th style="width: 40%" pSortableColumn="Name_Item">
                                                Item
                                            </th>
                                            <th style="width: 80px" pSortableColumn="Quantity">
                                                Quantity
                                            </th>
                                            <th pSortableColumn="Comment">Remarks</th>
                                            <th style="width: 70px">Charged</th>
                                            <th *ngIf="!appForm.isDisabled" style="width: 70px"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-patient_SOAP_Prescription>
                                        <tr>
                                            <td style="width: 40%">
                                                {{ patient_SOAP_Prescription.Name_Item }}
                                            </td>
                                            <td style="width: 80px" pEditableColumn class="text-center">
                                                <p-cellEditor>
                                                    <ng-template pTemplate="input">
                                                        <app-number-box [(ngModel)]="patient_SOAP_Prescription.Quantity" name="Quantity" caption="" labelPosition="top" [ngStyle]="{
                                'margin-bottom': '5px'
                              }" [readOnly]="appForm.isDisabled" (onControlValue_Changed)="
                                Prescription_onControlValueChanged()
                              ">
                                                        </app-number-box>
                                                    </ng-template>

                                                    <ng-template pTemplate="output">
                                                        <span [ngClass]="
                                patient_SOAP_Prescription.Quantity == 0
                                  ? 'required-color'
                                  : 'editable-color'
                              ">{{ patient_SOAP_Prescription.Quantity }}</span
                            >
                          </ng-template>
                        </p-cellEditor>
                      </td>
                      <td pEditableColumn class="text-left">
                        <p-cellEditor>
                          <ng-template pTemplate="input">
                            <app-text-area
                              [(ngModel)]="patient_SOAP_Prescription.Comment"
                              name="Comment"
                              caption=""
                              labelPosition="top"
                              [readOnly]="appForm.isDisabled"
                              (onControlValue_Changed)="
                                Prescription_onControlValueChanged()
                              "
                            >
                            </app-text-area>
                          </ng-template>

                          <ng-template pTemplate="output">
                            <span class="editable-color">
                              {{ patient_SOAP_Prescription.Comment }}
                            </span>
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td class="text-center" style="width: 70px">
                                                <app-check-box [(ngModel)]="patient_SOAP_Prescription.IsCharged" name="IsCharged" caption="" labelPosition="top" [readOnly]="appForm.isDisabled" (onControlValue_Changed)="
                            Prescription_onControlValueChanged()
                          ">
                                                </app-check-box>
                                            </td>
                                            <td *ngIf="!appForm.isDisabled" style="text-align: center; width: 70px">
                                                <button pButton type="button" icon="pi pi-times" (click)="
                            Patient_SOAP_Prescription_onRowDeleting(
                              patient_SOAP_Prescription
                            )
                          " class="p-button-rounded p-button-text"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                                <br />

                                <app-text-area [(ngModel)]="CurrentObject.Prescription" name="Prescription" caption="Other Prescription" labelPosition="top" [ngStyle]="{
                    'margin-bottom': '5px'
                  }">
                                </app-text-area>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </div>
            </app-form>
        </perfect-scrollbar>
    </div>

    <app-detail-view-footer #detailviewfooter [CurrentObject]="CurrentObject" [model]="model"></app-detail-view-footer>
</div>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>

<generate-soap-plan-recurring-schedule #generatesoapplanrecurringschedule></generate-soap-plan-recurring-schedule>

<loading-screen [isLoading]="isLoading"></loading-screen>