<admin-lte-small-box
  [title]="CurrentObject.title"
  [iconClass]="'fas fa-money-bill-wave'"
  [subtitle]="CurrentObject.subtitle"
  [bgClass]="'bg-info'"
></admin-lte-small-box>

<div class="icon-container" (click)="iconContainer_OnClicked()">
  <span><i class="fa fa-calendar" style="font-size: 9px"></i></span>
</div>

<modal-dialog #modalDialog title="Monthly Clients" size="sm">
  <div class="row" style="padding: 12px">
    <div class="col-lg-6">
      <select
        #selectboxMonth
        class="form-control"
        [(ngModel)]="CurrentObject.Month"
        (ngModelChange)="control_onModelChanged($event)"
        name="month"
      >
        <option *ngFor="let month of months" [value]="month.Number">{{ month.Name }}</option>
      </select>
    </div>
    <div class="col-lg-6">
      <select
        #selectboxYear
        class="form-control"
        [(ngModel)]="CurrentObject.Year"
        (ngModelChange)="control_onModelChanged($event)"
        name="year"
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div class="col-lg-12">
      <p class="text-right" style="padding-top: 12px">
        <button class="btn btn-primary" (click)="btnFilter_OnClicked()">Filter</button>
        &nbsp;
        <button class="btn btn-danger" (click)="btnReset_OnClicked()">Reset</button>
      </p>
    </div>
  </div>
</modal-dialog>
