<custom-dialog-box
  #CustomDialogBox
  size="md"
  title="{{ this.adjustCreditOption }}"
  [closeOnPositiveButton]="false"
  [childTemplate]="addItemChildTemplate"
  (onPositiveButtonClick)="onPositiveButtonClick($event)"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <div class="row">
    <div class="col-lg-3" style="padding-top: 21px; padding-right: 0px">
      <button
        *ngIf="IsDeposit"
        type="button"
        style="width: 100%; font-size: 12px"
        class="btn btn-primary"
        (click)="btn_onClick()"
      >
        <span class="fa fa-plus"></span> Deposit
      </button>
      <button
        *ngIf="IsDeposit != true"
        type="button"
        style="width: 100%; font-size: 12px"
        class="btn btn-danger"
        (click)="btn_onClick()"
      >
        <span class="fa fa-minus"></span> Withdraw
      </button>
    </div>

    <div class="col-lg-9" style="padding-left: 6px">
      <app-number-box
        [(ngModel)]="CurrentObject.CreditAmount"
        name="CreditAmount"
        caption="Credit Amount"
        [required]="true"
        labelPosition="top"
        [ngStyle]="{
          'margin-bottom': '5px'
        }"
      >
      </app-number-box>
    </div>
  </div>

  <div class="control-separator-bottom"></div>

  <app-lookup-box
    #ID_Patient_LookUpBox
    [(ngModel)]="CurrentObject.ID_Patient"
    name="ID_Patient"
    caption="Pet's Name"
    [option]="ID_Patient_LookupBoxOption"
    labelPosition="top"
    [required]="true"
  >
  </app-lookup-box>

  <div class="control-separator-bottom"></div>

  <app-text-area
    [(ngModel)]="CurrentObject.Comment"
    name="Comment"
    caption="Note"
    [required]="true"
    labelPosition="top"
    [ngStyle]="{
      'margin-bottom': '5px'
    }"
  >
  </app-text-area>

  <div class="control-separator-bottom"></div>
</ng-template>
