<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-9"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <ng-container
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left"
              >Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination
              [currentPageNumber]="pagingOption.PageNumber"
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 70px" (click)="onColumnHeaderClick('Code')">Code</th>

        <th style="width: 250px" (click)="onColumnHeaderClick('Name_Client')">
          Owner's Name
        </th>

        <th (click)="onColumnHeaderClick('Name')">Patient</th>

        <th
          style="width: 50px"
          (click)="onColumnHeaderClick('DateLastVisited')"
        >
          Last Visit
        </th>

        <th style="width: 80px" class="text-center"></th>
        <th style="width: 80px">New Tab</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowData of dataSource; index as i">
        <td class="text-center" (click)="Row_OnClick(rowData)">
          {{ rowData.Code }} <br />
          <div
            *ngIf="
              rowData.WaitingStatus_ID_FilingStatus != FILINGSTATUS_CANCELLED
            "
            style="font-size: 12px"
            class="text-center WaitingStatus WS_{{
              rowData.WaitingStatus_Name_FilingStatus == null
                ? ''
                : rowData.WaitingStatus_Name_FilingStatus.replace(' ', '')
            }}"
          >
            {{ rowData.WaitingStatus_Name_FilingStatus }}
          </div>
        </td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Name_Client }}</td>
        <td (click)="Row_OnClick(rowData)">
          <span style="font-weight: bold">{{ rowData.Name }}</span
          >&nbsp;<span
            *ngIf="rowData.IsDeceased == true"
            [title]="
              rowData.DateDeceased
                ? (rowData.DateDeceased | date : 'MM/dd/y')
                : ''
            "
            style="color: red"
            >(Deceased)</span
          >

          <br *ngIf="rowData.DateBirth" />
          <span
            class="patient-detail"
            *ngIf="rowData.DateBirth"
            [title]="rowData.DateBirth | date : 'MM/dd/y'"
          >
            Age: {{ rowData.Age }}
          </span>

          <br *ngIf="rowData.Name_Gender" />
          <span class="patient-detail" *ngIf="rowData.Name_Gender">
            Gender: {{ rowData.Name_Gender }}
          </span>

          <br *ngIf="rowData.Species" />
          <span class="patient-detail" *ngIf="rowData.Species">
            Species: {{ rowData.Species }}
          </span>

          <br *ngIf="rowData.Color" />
          <span class="patient-detail" *ngIf="rowData.Color">
            Color Marking: {{ rowData.Color }}
          </span>

          <br *ngIf="rowData.Idiosyncrasies" />
          <span class="patient-detail" *ngIf="rowData.Idiosyncrasies">
            Idiosyncrasies: {{ rowData.Idiosyncrasies }}
          </span>

          <br *ngIf="rowData.Microchip" />
          <span class="patient-detail" *ngIf="rowData.Microchip">
            Microchip: {{ rowData.Microchip }}
          </span>
        </td>
        <td style="text-align: center">
          {{ rowData.DateLastVisited | date : "MM/dd/yyyy" }}
        </td>
        <td>
          <p
            *ngIf="
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_WAITING ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_PENDING ||
              rowData.WaitingStatus_ID_FilingStatus == null ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_CANCELLED ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_DONE ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_RESCHEDULE
            "
            class="text-danger text-center action-text"
            (click)="RowBtnActionWaitingStatus_onClick(rowData)"
          >
            {{ rowData.LabelActionQueue }}
          </p>

          <hr
            *ngIf="
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_WAITING ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_PENDING ||
              rowData.WaitingStatus_ID_FilingStatus == null ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_CANCELLED ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_DONE ||
              rowData.WaitingStatus_ID_FilingStatus == FILINGSTATUS_RESCHEDULE
            "
          />

          <p
            class="text-success action-text"
            (click)="RowBtnActionCreateSOAP_onClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Medical Record
          </p>
          <p
            class="text-success action-text"
            (click)="RowBtnActionCreateConfinement_onClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Confinement
          </p>
          <p
            class="text-success action-text"
            (click)="RowBtnActionCreateAppointment_onClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Appointment
          </p>
          <p
            class="text-success action-text"
            (click)="RowBtnActionCreateWellness_onClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Wellness
          </p>
          <p
            class="text-success action-text"
            (click)="RowBtnActionCreatePetGrooming_onClick(rowData)"
          >
            <i class="fas fa-plus action-text"></i> Create Pet Grooming
          </p>
          <hr />
          <p
            class="text-success action-text"
            (click)="RowBtnActionMergePetModal_onClick(rowData)"
          >
            <i class="fa fa-arrow-circle-right"></i> Merge To
          </p>
        </td>

        <td class="text-center">
          <button class="btn btn-default" (click)="openNewTab(rowData)">
            <i class="fas fa-external-link-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Owner's Name"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name"
    caption="Patient"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Species"
    caption="Species"
    [initialValue]="CurrentObject.Species"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Microchip"
    caption="Microchip"
    [initialValue]="CurrentObject.Microchip"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Gender"
    caption="Gender"
    [initialValue]="CurrentObject.Name_Gender"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="LastAttendingPhysician_Name_Employee"
    caption="Last Attending Vet"
    [initialValue]="CurrentObject.LastAttendingPhysician_Name_Employee"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-checkbox
    name="IsDeleted"
    caption="Deleted"
    [initialValue]="CurrentObject.IsDeleted"
    (onModelChanged)="checkbox_onModelChanged($event)"
  >
  </admin-lte-checkbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<merge-pet-dialog #mergepetdialog></merge-pet-dialog>
