<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          *ngIf="defaultFormFilterValue.length == 0"
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0">
        <div class="main-box p-col-9">
          <form #form method="POST" target="reportviewer"></form>
          <iframe
            #reportView
            (onload)="onLoad($event)"
            name="reportviewer"
            class="expand"
            frameBorder="0"
            style="background-color: dimgray"
          ></iframe>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  (onAfterContentInit)="appForm_onAfterContentInit($event)"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion
                    #filterAccordioView
                    [multiple]="true"
                  >
                    <p-accordionTab
                      *ngIf="!isHideDate_PaymentTransaction"
                      id="Date_PaymentTransaction"
                      [transitionOptions]="'0ms'"
                      header="Paid Date"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-date-box
                          [(ngModel)]="CurrentObject.Date_PaymentTransaction"
                          name="Date_PaymentTransaction"
                          caption="Date"
                          oid_Control="undefined"
                          labelPosition="top"
                          [show-time]="false"
                          [filterMode]="true"
                          (onControl_ValueChanged)="filterOnChange($event)"
                        ></app-date-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="ID_PaymentMethod"
                      [transitionOptions]="'0ms'"
                      header="Payment Method"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-select-box
                          #ID_PaymentMethod_SelectBox
                          [(ngModel)]="CurrentObject.ID_PaymentMethod"
                          name="ID_PaymentMethod"
                          caption="Payment Method"
                          [option]="ID_PaymentMethod_SelectBoxOption"
                          labelPosition="top"
                          [filterMode]="true"
                          (onValueChanged)="filterOnChange($event)"
                        >
                        </app-select-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Code_PaymentTransaction"
                      [transitionOptions]="'0ms'"
                      header="PT #"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Code_PaymentTransaction"
                          name="Code_PaymentTransaction"
                          caption="PT #"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="AttendingPhysician_ID_Employee"
                      [transitionOptions]="'0ms'"
                      header="Attnding Veterinarian"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-lookup-box
                          #AttendingPhysician_ID_Employee__LookUpBox
                          [(ngModel)]="
                            CurrentObject.AttendingPhysician_ID_Employee
                          "
                          name="AttendingPhysician_ID_Employee"
                          caption="Attending Personnel"
                          [option]="
                            AttendingPhysician_ID_Employee_LookupBoxOption
                          "
                          (onSelectedItem)="
                            AttendingPhysician_ID_Employee_LookUpBox_onSelectedItem(
                              $event
                            )
                          "
                          (onRemoveSelectedItem)="
                            AttendingPhysician_ID_Employee_LookUpBox_onRemoveSelectedItem(
                              $event
                            )
                          "
                          labelPosition="top"
                          [filterMode]="true"
                        >
                        </app-lookup-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Client"
                      [transitionOptions]="'0ms'"
                      header="Client"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Client"
                          name="Name_Client"
                          caption="Client"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                    <p-accordionTab
                      id="Name_Patient"
                      [transitionOptions]="'0ms'"
                      header="Patient"
                    >
                      <div style="margin-bottom: 5px" class="oid-control">
                        <app-text-box
                          [(ngModel)]="CurrentObject.Name_Patient"
                          name="Name_Patient"
                          caption="Patient"
                          labelPosition="top"
                          [filterMode]="true"
                          (keyup)="filterOnKeyUp($event)"
                        ></app-text-box>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
