<ul
  class="pagination pagination-sm m-0 float-right"
  *ngIf="_TotalPageNumber > 1"
>
  <li class="page-item">
    <button
      type="button"
      class="btn btn-default"
      (click)="btnFistPage_onClicked()"
    >
      &laquo; &laquo;
    </button>
  </li>
  <li class="page-item">
    <button type="button" class="btn btn-default" (click)="btnPrev_onClicked()">
      &laquo;
    </button>
  </li>

  <div class="form-group">
    <select
      class="form-control"
      [(ngModel)]="currentPageNumber"
      (ngModelChange)="_selectBox_ModelChange()"
    >
      <option
        *ngFor="let pageNumber of pagesCount"
        [ngValue]="pageNumber"
        class="page-item"
      >
        <span class="page-link">{{ pageNumber }}</span>
      </option>
    </select>
  </div>

  <li class="page-item">
    <button type="button" class="btn btn-default" (click)="btnNext_onClicked()">
      &raquo;
    </button>
  </li>
  <li class="page-item">
    <button
      type="button"
      class="btn btn-default"
      (click)="btnLastPage_onClicked()"
    >
      &raquo; &raquo;
    </button>
  </li>
</ul>
