<div class="card">
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Date Paid</th>
          <th>Amount</th>
          <th style="width: 30px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
        >
          <td class="text-center">{{ rowData.Date | date : "MM/dd/yyyy" }}</td>
          <td class="text-right">
            {{ rowData.TotalAmount | number : "1.2-5" }}
          </td>
          <td class="text-center">
            <button class="btn btn-danger" (click)="btnCancelPayment(rowData)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
