<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.Date"
                    name="Date"
                    caption="Date"
                    [required]="true"
                    labelPosition="top"
                  >
                  </app-date-box>
                  <div class="control-separator-bottom"></div>

                  <app-number-box
                    [(ngModel)]="CurrentObject.ValidityDayCount"
                    name="ValidityDayCount"
                    caption="Validity Days"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-number-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    name="Name_FilingStatus"
                    caption="Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-4">
                <p-fieldset legend="Patient Info" class="with-caption">
                  <div class="control-separator-bottom"></div>
                  <app-lookup-box
                    #AttendingPhysician_ID_Employee__LookUpBox
                    [required]="true"
                    [(ngModel)]="CurrentObject.AttendingPhysician_ID_Employee"
                    name="AttendingPhysician_ID_Employee"
                    caption="Attending Personnel"
                    [option]="AttendingPhysician_ID_Employee_LookupBoxOption"
                    (onSelectedItem)="
                      AttendingPhysician_ID_Employee_LookUpBox_onSelectedItem(
                        $event
                      )
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Client_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="ID_Client"
                    caption="Client"
                    [required]="true"
                    [option]="ID_Client_LookupBoxOption"
                    (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    "
                    (onRemoveSelectedItem)="
                      ID_Client_LookUpBox_onRemoveSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Patient"
                    name="ID_Patient"
                    caption="Patient"
                    [required]="true"
                    [option]="ID_Patient_LookupBoxOption"
                    (onSelectedItem)="
                      ID_Patient_LookUpBox_onSelectedItem($event)
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Color"
                    name="Color"
                    caption="Color"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Weight"
                    name="Weight"
                    caption="Weight"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-4">
                <p-fieldset legend="" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-area
                    [(ngModel)]="CurrentObject.DestinationAddress"
                    name="DestinationAddress"
                    caption="Destination Address"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-area>
                </p-fieldset>
              </div>

              <div class="col-lg-12">
                <p-fieldset legend="Vaccination Info" class="with-caption">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="control-separator-bottom"></div>
                      <app-lookup-box
                        #ID_Item_LookUpBox
                        [(ngModel)]="CurrentObject.ID_Item"
                        name="ID_Item"
                        caption="Vaccination"
                        [option]="ID_Item_LookupBoxOption"
                        (onSelectedItem)="
                          ID_Item_LookUpBox_onSelectedItem($event)
                        "
                        labelPosition="top"
                      >
                      </app-lookup-box>

                      <div class="control-separator-bottom"></div>

                      <app-text-box
                        [(ngModel)]="CurrentObject.LotNumber"
                        name="LotNumber"
                        caption="Serial / Lot Number"
                        labelPosition="top"
                        [ngStyle]="{
                          'margin-bottom': '5px'
                        }"
                      >
                      </app-text-box>

                      <div class="control-separator-bottom"></div>

                      <app-auto-complete-box
                        [(ngModel)]="CurrentObject.CaseType"
                        name="CaseType"
                        caption="Case Type"
                        labelPosition="top"
                        [dataList]="CaseTypeList"
                        [ngStyle]="{
                          'margin-bottom': '5px'
                        }"
                      >
                      </app-auto-complete-box>

                      <div class="control-separator-bottom"></div>

                      <app-date-box
                        [(ngModel)]="CurrentObject.DateVaccination"
                        name="DateVaccination"
                        caption="Date"
                        labelPosition="top"
                        [show-time]="false"
                      >
                      </app-date-box>
                      <div class="control-separator-bottom"></div>
                    </div>
                    <div class="col-lg-8">
                      <app-radio-button-list
                        [(ngModel)]="CurrentObject.ID_VaccinationOption"
                        [required]="true"
                        [listDataSource]="VaccinationOption_ListDataSource"
                        name="ID_VaccinationOption"
                        caption="Vaccination Option"
                        labelPosition="top"
                        [ngStyle]="{
                          'margin-bottom': '5px'
                        }"
                      >
                      </app-radio-button-list>
                    </div>
                  </div>
                </p-fieldset>
                <div class="control-separator-bottom"></div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>
