<custom-dialog-box
  #CustomDialogBox
  size="md"
  title="Record By QR Code"
  [IsShowBtnPositive]="false"
  [closeOnPositiveButton]="false"
  [closeOnNegativeButton]="true"
  captionNegativeButton="Close"
  [childTemplate]="addItemChildTemplate"
>
</custom-dialog-box>

<ng-template #addItemChildTemplate>
  <div class="row">
    <div class="col-lg-2"></div>
    <div
      class="col-lg-8 text-center"
    >
      <!-- <zxing-scanner
        #scanner
        [enabled]=""
        [cssClass]="'video'"
        (scanSuccess)="scanSuccessHandler($event)"
      >
      </zxing-scanner> -->
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="control-separator-bottom"></div>
</ng-template>
