<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 300px">Item</th>
          <th style="width: 80px">Quantity</th>
          <th style="width: 110px">Price</th>
          <th style="width: 110px">Amount</th>
          <th style="width: 20px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let detail of CurrentObject.ReceivingReport_Detail; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">{{ detail.Name_Item }}</td>
          <td class="text-center">
            <admin-lte-numberbox
              name="Quantity"
              caption=""
              [initialValue]="detail.Quantity"
              (onModelChanged)="
                ReceivingReportDetail_onModelChanged(detail, $event)
              "
            >
            </admin-lte-numberbox>
          </td>
          <td class="text-right">
            <admin-lte-numberbox
              name="UnitPrice"
              caption=""
              [initialValue]="detail.UnitPrice"
              (onModelChanged)="
                ReceivingReportDetail_onModelChanged(detail, $event)
              "
            >
            </admin-lte-numberbox>
          </td>
          <td class="text-right">{{ detail.Amount | number: "1.2-5" }}</td>
          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteReceivingReportDetail_OnClick(detail)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Subtotal</span
            >
          </td>
          <td>
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{ CurrentObject.SubTotal | number: "1.2-5" }}</span
            >
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Discount Rate (%)</span
            >
          </td>
          <td>
            <input
              class="form-control text-right"
              [(ngModel)]="CurrentObject.DiscountRate"
              type="number"
              (ngModelChange)="ReceivingReport_onModelChanged('DiscountRate', $event)"
              min="0"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Discount Amount</span
            >
          </td>
          <td>
            <input
              class="form-control text-right"
              [(ngModel)]="CurrentObject.DiscountAmount"
              type="number"
              (ngModelChange)="ReceivingReport_onModelChanged('DiscountAmount', $event)"
              min="0"
            />
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Total Amount</span
            >
          </td>
          <td>
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{ CurrentObject.TotalAmount | number: "1.2-5" }}</span
            >
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
