<modal-dialog
  #modalDialog1
  title="Adjust Credit"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <ng-container [ngTemplateOutlet]="adjustInventoryTemplate"></ng-container>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <div class="row">
    <div class="col-3">
      <button
        *ngIf="IsDeposit == true"
        type="button"
        style="margin-top: 27px"
        class="btn btn-block bg-gradient-info btn-md"
      >
        <i class="fa fa-plus"></i>&nbsp;Deposit
      </button>
      <button
        *ngIf="IsDeposit != true"
        type="button"
        style="margin-top: 27px"
        class="btn btn-block bg-gradient-danger btn-md"
      >
        <i class="fa fa-minus"></i>&nbsp;Withdraw
      </button>
    </div>
    <div class="col-9">
      <admin-lte-numberbox
        name="CreditAmount"
        caption="Credit Amount"
        [min]="1"
        [initialValue]="CurrentObject.CreditAmount"
        (onModelChanged)="CreditAmount_onModelChanged($event)"
      >
      </admin-lte-numberbox>
    </div>

    <div class="col-md-12">
      <admin-lte-data-lookupbox
        #ID_Patient_Lookupbox
        name="ID_Patient"
        displayName="Name_Patient"
        caption="Patient"
        [initialValue]="CurrentObject.ID_Patient"
        [initialDisplayValue]="CurrentObject.Name_Patient"
        [option]="ID_Patient_LookupboxOption"
        (onModelChanged)="ID_Patient_Lookupbox_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>
      <admin-lte-textarea
        name="Comment"
        caption="Note"
        [initialValue]="CurrentObject.Comment"
        (onModelChanged)="Comment_onModelChanged($event)"
      >
      </admin-lte-textarea>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="loading != true"
    class="btn btn-primary"
    (click)="btnAdjust_onClick()"
  >
    <i class="fas fa-cubes"></i>&nbsp;{{ Caption }}
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
