.fc-daygrid-dot-event .fc-event-title {
    border: 1px solid #3a87ad; /* default BORDER color */
    background-color: #3a87ad; /* default BACKGROUND color */
    color: #fff;               /* default TEXT color */
    font-size: 50px;             /* EDIT HERE */
    cursor: default;
}
