tr{

    height: 50px;
}

th{

    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

td{
    word-wrap:break-word;
    font-size: 11px;
}

.row-detail{

    cursor: pointer;
}

.col-id{

    width: 100px;
    text-align: center;
}

.footer-text{

    padding-left: 3px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: bold;
}
