<div class="calendar" (click)="(refresh)">
  <div class="header" style="text-align: center">
    <button class="btn btn-info" style="float: left" (click)="previousMonth()">
      Previous
    </button>
    <span>{{ monthNames[month] }} {{ year }}</span>
    <button class="btn btn-info" style="float: right;" (click)="nextMonth()">
      Next
    </button>
    <button class="btn btn-info" style="float: right; margin-right: 15px;" (click)="todayMonth()">
      Today
    </button>
  </div>
  <div class="day-headers">
    <div *ngFor="let day of dayHeaders" class="day-header">{{ day }}</div>
  </div>
  <div class="days">
    <div *ngFor="let day of daysInMonth" class="day" (click)="refresh()">
      <span *ngIf="day" class="day-number">{{ day.getDate() }}</span>
      <ul *ngIf="day" class="task-list">
        <li
          *ngFor="
            let task of tasks[
              getDateString(day.getFullYear(), day.getMonth(), day.getDate())
            ]
          "
          class="task-item {{ task.className }}"
          title="{{ task.tooltip }}"
          (click)="tack_onClick(task)"
        >
          {{ task.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
