.calendar {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
/* Add styles for day headers */
.day-headers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px; /* Add padding for spacing */
  background-color: #f0f0f0; /* Set background color */
}

.day-header {
  flex-basis: calc(100% / 7);
  text-align: center;
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set text color */
  padding: 5px; /* Add padding for spacing */
}

/* Add border to separate day headers */
.day-header:not(:last-child) {
  border-right: 1px solid #ccc;
}
.days {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 7);
  min-height: 100px;
  position: relative;
  border: 1px solid #ddd;
}

.day:hover {
  background-color: #f5f5f5;
}

.day-number {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.add-task-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.task-list .task-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin-left: 1px;
  margin-right: 1px;
  font-size: 11px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
}

.task-list .task-item-patient-soap {
  background-color: #c59c2b; /* White background color */
}

.task-list .task-item-patient-soap:hover {
  background-color: #705917; /* White background color */
}

.task-list .task-item:hover {
  cursor: pointer;
}

.task-list .task-item-title {
  font-weight: bold;
}

.task-list .task-item-due-date {
  color: #666;
}

/* Add margin between task items within task list */
.task-list .task-item + .task-item {
  margin-top: 1px;
}
