<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>
      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Status"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PatientTable"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Patient"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Pricing_fields"
        >
        </card-container>

        <card-container
          title="Billing Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_BillingInvoice_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Deposit"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Deposit"
        >
        </card-container>
      </div>

      <div class="col-12">
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-soaplist-tab"
                  data-toggle="pill"
                  href="#content-soaplist"
                  role="tab"
                  aria-controls="tab-soaplist"
                  aria-selected="true"
                  >Patient Medical Record</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-itemsservices-tab"
                  data-toggle="pill"
                  href="#tab-items"
                  role="tab"
                  aria-controls="tab-items"
                  >Medications</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-services-tab"
                  data-toggle="pill"
                  href="#tab-services"
                  role="tab"
                  aria-controls="tab-services"
                  >Services</a
                >
              </li>
            </ul>
          </div>
          <div class="card-body p-0">
            <div class="tab-content" id="tab-soaplist">
              <div
                class="tab-pane fade show active"
                id="content-soaplist"
                role="tabpanel"
                aria-labelledby="content-soaplist"
              >
                <ng-container [ngTemplateOutlet]="SOAPList"></ng-container>
              </div>
              <div
                class="tab-pane fade show"
                id="tab-items"
                role="tabpanel"
                aria-labelledby="tab-items"
              >
                <ng-container [ngTemplateOutlet]="Items"></ng-container>
              </div>
              <div
                class="tab-pane fade show"
                id="tab-services"
                role="tabpanel"
                aria-labelledby="tab-services"
              >
                <ng-container [ngTemplateOutlet]="Services"></ng-container>
              </div>
            </div>
          </div>
          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    name="Date"
    caption="Date"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_BillingInvoice_fields>
  <admin-lte-texbox
    *ngIf="CurrentObject.ID_BillingInvoice"
    name="Code_BillingInvoice"
    caption="BI #"
    [readonly]="true"
    [initialValue]="CurrentObject.Code_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    *ngIf="CurrentObject.ID_BillingInvoice"
    name="Status_BillingInvoice"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Status_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-numberbox
    name="SubTotal"
    caption="Total Conf. Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.SubTotal"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    *ngIf="CurrentObject.ID_BillingInvoice"
    name="SubTotal"
    caption="Initial Billing Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.SubTotal"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    *ngIf="CurrentObject.ID_BillingInvoice"
    name="TotalAmount_BillingInvoice"
    caption="Final Billing Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.TotalAmount_BillingInvoice"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datebox
    *ngIf="CurrentObject.ID_FilingStatus == FILINGSTATUS_DISCHARGE"
    name="DateDischarge"
    caption="Date Discharge"
    format="MM/dd/yyyy"
    [readonly]="true"
    [initialValue]="CurrentObject.DateDischarge"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject.ID_FilingStatus == FILINGSTATUS_CANCELLED"
    name="DateCanceled"
    caption="Date Canceled"
    format="MM/dd/yyyy"
    [readonly]="true"
    [initialValue]="CurrentObject.DateCanceled"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>
</ng-template>

<ng-template #contentTemplate_PatientTable>
  <patient-table [CurrentObject]="CurrentObject"></patient-table>
</ng-template>

<ng-template #contentTemplate_Deposit>
  <confinement-client-deposit-list
    #confinementclientdepositlist
    [CurrentObject]="CurrentObject"
  ></confinement-client-deposit-list>
</ng-template>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

    <drop-down-button
    title="Back"
    [isDropdownRight]="true"
    [items]="rightDropDownItems"
    (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>

</ng-template>


<ng-template #SOAPList>
  <confinement-soap-list #confinementsoaplist></confinement-soap-list>
</ng-template>

<ng-template #Items>
  <confinement-items-services-table
    [ItemServiceMode]="ConfimentItemServiceModeEnum_Item"
    [itemsServices]="this.CurrentObject.Patient_Confinement_ItemsServices"
    (onModelChanged)="confinementitemsservicestable_onModelChanged()"
  ></confinement-items-services-table>
</ng-template>

<ng-template #Services>
  <confinement-items-services-table
    [ItemServiceMode]="ConfimentItemServiceModeEnum_Service"
    [itemsServices]="this.CurrentObject.Patient_Confinement_ItemsServices"
    (onModelChanged)="confinementitemsservicestable_onModelChanged()"
  ></confinement-items-services-table>
</ng-template>

<adjust-credit-dialog #adjustcreditdialog></adjust-credit-dialog>
