<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-6">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.CreatedBy"
                    name="Code"
                    caption="Client Name"
                    [readOnly]="true"
                    [required]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                 

                  <div class="control-separator-bottom"></div>
                
                

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>



              <div class="col-lg-6">
                <app-text-area
                [(ngModel)]="CurrentObject.Comment"
                name="Message"
                [readOnly]="true"
                caption="Message"
                labelPosition="top"
                [ngStyle]="{
                  'margin-bottom': '5px'
                }"
              >
              </app-text-area>
              <div class="control-separator-bottom"></div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>
