<div class="form-group">
  <label *ngIf="caption">{{ caption }}</label>

  <div class="form-control">
    <div
      class="form-check"
      *ngFor="let item of listDateSource; let i = index"

    >
      <input
        [id]="name + '_' + idTag + '_' + i"
        class="form-check-input"
        type="radio"
        [name]="name"
        [value]="item.value"
        [(ngModel)]="value"
        (ngModelChange)="_onModelChanged($event)"
      />
      <label
        class="form-check-label"
        for="{{ name + '_' + idTag + '_' + i }}"
        >{{ item.label }}</label
      >
    </div>
  </div>
</div>
