<div class="card">
  <menubar
    *ngIf="loading != true"
    [items]="menuItems"
    (onClick)="initmenubar_OnClick($event)"
  >
  </menubar>

  <div class="card-body">
    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>Date</th>
          <th>Ref #</th>
          <th>Pet</th>
          <th>Comment</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td class="text-center">
            {{ rowData.Date | date : "MM/dd/yyyy" }}
          </td>
          <td class="text-center" [title]="rowData.Name_FilingStatus">
            {{ rowData.Code }}
            <span *ngIf="rowData.Code_Patient_Confinement">
              ({{ rowData.Code_Patient_Confinement }})</span
            >
          </td>
          <td class="text-center">
            <span *ngIf="rowData.Name_Patient">{{ rowData.Name_Patient }}</span>
          </td>
          <td>{{ rowData.Comment }}</td>
          <td style="width: 110px" class="text-right">
            {{ rowData.CreditAmount | number : "1.2" }}
          </td>
        </tr>

        <tr>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td></td>
          <td style="width: 110px" class="text-right">
            {{ TotalCreditAmount | number : "1.2-5" }}
          </td>
        </tr>
      </tbody>
    </table>

    <br />

    <br /><br /><br /><br /><br /><br /><br />
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<adjust-credit-dialog #adjustcreditdialog></adjust-credit-dialog>
