<div class="small-box {{ bgClass }}">
  <div class="inner">
    <h3>{{ title }}</h3>

    <p>{{ subtitle }}</p>
  </div>
  <div class="icon">
    <i class="{{ iconClass }}"></i>
  </div>
  <!-- <a href="#" class="small-box-footer"
    >More info <i class="fas fa-arrow-circle-right"></i
  ></a> -->
</div>
