<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Client Appointment Request&nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset legend="Information" class="with-caption">
                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.DateStart"
                    name="DateStart"
                    caption="Date Start Time"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="true"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-date-box
                    [(ngModel)]="CurrentObject.DateEnd"
                    name="DateEnd"
                    caption="Date Time End"
                    [required]="true"
                    labelPosition="top"
                    [show-time]="true"
                  >
                  </app-date-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_FilingStatus"
                    name="Status"
                    caption="Status"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <!-- <div class="control-separator-bottom"></div>

                  <app-lookup-box
                    #ID_Patient_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Patient"
                    name="ID_Patient"
                    caption="Patient"
                    [required]="true"
                    [option]="ID_Patient_LookupBoxOption"
                    labelPosition="top"
                  >
                  </app-lookup-box> -->

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-lg-4">
                <p-fieldset legend="Appointment Details" class="with-caption">
                  <app-text-box
                    [(ngModel)]="CurrentObject.Name_SOAPType"
                    name="Name_SOAPType"
                    caption="Type"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <app-lookup-box
                    #ID_Client_LookUpBox
                    [(ngModel)]="CurrentObject.ID_Client"
                    name="ID_Client"
                    caption="Client"
                    [required]="true"
                    [option]="ID_Client_LookupBoxOption"
                    labelPosition="top"
                    (onSelectedItem)="
                      ID_Client_LookUpBox_onSelectedItem($event)
                    "
                    (onRemoveSelectedItem)="
                      ID_Client_LookUpBox_onRemoveSelectedItem($event)
                    "
                  >
                  </app-lookup-box>
                  <div class="control-separator-bottom"></div>
                  <app-lookup-box
                    #AttendingPhysician_ID_Employee__LookUpBox
                    [required]="true"
                    [(ngModel)]="CurrentObject.AttendingPhysician_ID_Employee"
                    name="AttendingPhysician_ID_Employee"
                    caption="Attending Veterinarian"
                    [option]="AttendingPhysician_ID_Employee_LookupBoxOption"
                    (onSelectedItem)="
                      AttendingPhysician_ID_Employee_LookUpBox_onSelectedItem(
                        $event
                      )
                    "
                    labelPosition="top"
                  >
                  </app-lookup-box>
                </p-fieldset>
              </div>
            </div>
          </p-tabPanel>

          <div class="control-separator-bottom"></div>

          <p-tabPanel header="Remarks" class="oid-control tab-panel-custom">
            <app-text-area
              [(ngModel)]="CurrentObject.Comment"
              name="Comment"
              caption=""
              labelPosition="top"
            >
            </app-text-area>
          </p-tabPanel>
        </p-tabView>
        <p-tabView>
          <p-tabPanel header="Patient" class="oid-control tab-panel-custom">
            <div class="control-separator-bottom"></div>

            <client-appointment-table
              #clientappointmenttable
              [CurrentObject]="CurrentObject"
              [IsDirty]="appForm.isDirty"
              [IsDisabled]="appForm.isDisabled"
            ></client-appointment-table>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<ng-template #InformationField> </ng-template>
<ng-template #StatusField> </ng-template>

<ng-template #SOAPTable>
  <confinement-soap-table
    #confinementsoaptable
    [ID_FilingStatus]="CurrentObject.ID_FilingStatus"
    [configOptions]="configOptions"
  ></confinement-soap-table>
</ng-template>

<ng-template #Items>
  <confinement-items-services
    [ItemServiceMode]="ConfimentItemServiceModeEnum_Item"
    [patients]="CurrentObject.Patient_Confinement_Patient"
    [itemsandservices]="CurrentObject.Patient_Confinement_ItemsServices"
    [IsDisabled]="appForm.isDisabled"
    (onChanged)="ConfinementItem_onChanged()"
  ></confinement-items-services>
</ng-template>

<ng-template #Services>
  <confinement-items-services
    [ItemServiceMode]="ConfimentItemServiceModeEnum_Service"
    [itemsandservices]="CurrentObject.Patient_Confinement_ItemsServices"
    [patients]="CurrentObject.Patient_Confinement_Patient"
    [IsDisabled]="appForm.isDisabled"
    (onChanged)="ConfinementService_onChanged()"
  ></confinement-items-services>
</ng-template>

<confinement-items-services-dialog></confinement-items-services-dialog>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>

<client-credit-adjustment-dialogbox
  #clientcreditadjustmentdialogbox
></client-credit-adjustment-dialogbox>

<loading-screen [isLoading]="isLoading"></loading-screen>
