    /* Default Less For Custom Detail View (START) */
    
    /deep/ fieldset {
      .ui-fieldset-legend {
        width: auto!important;
        font-size: 10px;
      }
    }
    
    /deep/ .ui-tabview {
      font-size: 12px!important;
    }
    
    /deep/ .no-caption {
      fieldset {
      border:none;
      }
      legend.ui-fieldset-legend {
        display: none!important;
      }
    }
    /deep/ .with-caption {
      legend.ui-fieldset-legend {
        display: block!important;
        font-size: 13px;
        width: auto;
        margin-bottom: 0px;
      }
      legend {
        margin-left: 10px;
      }
      .ui-fieldset {
        padding-top: 0px;
      }
      .ui-corner-all {
        border-radius: 0px;
      }
      .ui-menuitem {
        font-size: 12px;
      }
      .ui-menubar {
        background-color:#fafafa;
      }
    }
    
    .control-holder {
      margin-bottom: 5px;
    }
    
    /deep/ .tab-panel-custom {
      display: block;
    }
    
    app-form {
      display: block;
    }
    
    /deep/ .detail-menubar {
      .ui-menuitem {
        //background-color: lightgray;
        a {
          padding: 10px!important;
          font-size: 12px;
          // padding-left: 10px;
          // padding-right: 10px;
        }
      } 
    }
    
    /deep/ .detail-grid  .ui-toolbar {
      padding: 0px;
      border-radius: 0px;
      border-color: transparent;
      background-color: transparent;
    }
    
    /deep/ .ui-breadcrumb.ui-widget {
      padding: 0px;
      border:none;
      .ui-menuitem-link {
        font-size: 11px!important;
      }
    }
    
    /deep/ .ui-card, /deep/ .ui-card-body, /deep/ .ui-card-content {
      height: 100%!important;
    }
    p-scrollPanel {
      min-width: 100%!important;
    }
    
    .module-footer {
      /deep/ .ui-toolbar {
        font-size: 11px!important;
      }
      /deep/ .ui-corner-all {
        border-radius: 0px;
      }
    }

  .control-separator-bottom{

      margin-bottom: 10px;
  }

  .detail-menu{

    .ui-menubar{

      p-menubarsub{

        ul{
          float: right;
        }
      }
    }
  }

  .required-color{

    color: red;
    font-weight: bold;
  }

  .editable-color{

    color: #007ad9;
    font-weight: bold;
    cursor: pointer;
  }


  th{

    text-align: center;
  }

  td, th{

    font-size: 13px;
  }


  /* Default Less For Custom Detail View (END) */

