<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-8">
        <card-container
          title="Inventory and Pricing"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Pricing_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Other Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_OtherInfo_fields"
        >
        </card-container>
      </div>
      <div class="col-md-8">
        <card-container
          title="Supplier"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Supplier"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="_Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject._Code"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="CustomCode"
    caption="Custom Code"
    [initialValue]="CurrentObject.CustomCode"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name"
    caption="Name"
    [initialValue]="CurrentObject.Name"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-data-lookupbox
    name="ID_ItemCategory"
    displayName="Name_ItemCategory"
    caption="Category"
    [initialValue]="CurrentObject.ID_ItemCategory"
    [initialDisplayValue]="CurrentObject.Name_ItemCategory"
    [option]="ID_ItemCategory_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <div class="row">
    <div class="col-md-6">
      <admin-lte-numberbox
        name="UnitCost"
        caption="Buying Price"
        [initialValue]="CurrentObject.UnitCost"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-numberbox>

      <admin-lte-numberbox
        name="UnitPrice"
        caption="Selling Price"
        [initialValue]="CurrentObject.UnitPrice"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-numberbox>
    </div>
    <div class="col-md-6">
      <admin-lte-texbox
        name="SKUCode"
        caption="SKU Code"
        [initialValue]="CurrentObject.SKUCode"
      >
      </admin-lte-texbox>

      <admin-lte-numberbox
        name="BarCode"
        caption="Bar Code"
        [readonly]="true"
        [initialValue]="CurrentObject.BarCode"
      >
      </admin-lte-numberbox>


      <div class="row">
        <div class="col-sm-11">
          <admin-lte-numberbox
          name="CurrentInventoryCount"
          caption="Current Inventory Count"
          [readonly]="true"
          [initialValue]="CurrentObject.CurrentInventoryCount"
        >
        </admin-lte-numberbox>
        </div>
        <div class="col-sm-1">
          <button style="
            position: absolute;
            bottom: 15px;
            right: 0px;
          " class="btn btn-success"
            (click)="btnRefreshInventory_OnClick()"
          >
            <i class="fa fa-sync" [ngClass]="{'fa-spin': loading}"></i>
          </button>
        </div>

      </div>



      <admin-lte-numberbox
        name="MinInventoryCount"
        caption="Min Count"
        [initialValue]="CurrentObject.MinInventoryCount"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-numberbox>

      <admin-lte-numberbox
        name="MaxInventoryCount"
        caption="Max Count"
        [initialValue]="CurrentObject.MaxInventoryCount"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-numberbox>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_Inventory_fields> </ng-template>

<ng-template #contentTemplate_OtherInfo_fields>
  <admin-lte-datebox
    name="OtherInfo_DateExpiration"
    caption="Date Expiration"
    [initialValue]="CurrentObject.OtherInfo_DateExpiration"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="RemainingBeforeExpired"
    caption="Remaining Before Expired"
    [readonly]="true"
    [initialValue]="CurrentObject.RemainingBeforeExpired"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_Supplier>
  <supplier [ItemSuppliers]="CurrentObject.Item_Supplier"></supplier>
</ng-template>

<adjust-inventory-dialog #adjustinventorydialog></adjust-inventory-dialog>

<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
    <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>
</ng-template>
