<modal-dialog
  #modalDialog
  title="Change Time"
  size="sm"
  [footerTemplate]="footerDialogTemplate"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ng-container
          [ngTemplateOutlet]="adjustInventoryTemplate"
        ></ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #adjustInventoryTemplate>
  <div class="row">
    <div class="col-md-6">
      <admin-lte-datetimebox
        name="DateStart"
        [readonly]="true"
        caption="Previous Time"
        format="hh:mm a"
        [initialValue]="CurrentObject.DateStart"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datetimebox>
    </div>
    <div class="col-md-6">
      <admin-lte-timebox
        name="DateStart"
        caption="New Time"
        [initialValue]="CurrentObject.DateStart"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-timebox>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button class="btn btn-primary" (click)="onPositiveButtonClick()">
    <i class="fas fa-cubes"></i>&nbsp;Save
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
