<p-table
  class="flexcolumn"
  [value]="dataSource"
  selectionMode="single"
  dataKey="ID"
  [scrollable]="true"
  [responsive]="false"
  scrollHeight="height: 300px"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="Date" style="width: 80px">
        <span>Date Paid</span>
      </th>

      <th pSortableColumn="TotalAmount">
        <span>Paid Amount </span>
      </th>

      <th style="width: 80px">Cancel</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr [pSelectableRow]="record" class="row-detail">
      <td style="width: 80px; text-align: center">
        {{ record.Date | date: "M/dd/yyyy" }}
      </td>
      <td style="text-align: right">
        {{ record.TotalAmount | number: "1.2" }}
      </td>
      <td
        style="width: 80px; text-align: center"
        (click)="btnCancelPayment(record)"
      >
        <button type="button" class="btn btn-sm btn-danger">
          <span class="fas fa-times"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
