<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-4">
        <card-container
          title="Lodging Info."
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Pricing_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Guest Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Billing"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Billing_fields"
        >
        </card-container>
      </div>
    </div>
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>
</ng-template>

<ng-template #contentTemplate_Pricing_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datetimebox
    name="DateCheckIn"
    caption="Check In"
    [initialValue]="CurrentObject.DateCheckIn"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox>

  <admin-lte-datetimebox
    name="DateCheckOut"
    caption="Check Out"
    [min]="CurrentObject.DateCheckIn"
    [initialValue]="CurrentObject.DateCheckOut"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox>

  <admin-lte-numberbox
    name="HourCount"
    caption="No. of Hours"
    [readonly]="true"
    [initialValue]="CurrentObject.HourCount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>

<ng-template #contentTemplate_Billing_fields>
  <div class="row">
    <div class="col-md-6">
      <admin-lte-numberbox
        name="HourCount"
        caption="No. of Hours"
        [readonly]="true"
        [initialValue]="CurrentObject.HourCount"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-numberbox>
    </div>
    <div class="col-md-6">
      <admin-lte-numberbox
        name="RateAmount"
        caption="Rate Amount"
        [initialValue]="CurrentObject.RateAmount"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-numberbox>
    </div>
  </div>

  <!-- <admin-lte-numberbox
    name="AdvancedPaymentAmount"
    caption="Advanced Payment"
    [initialValue]="CurrentObject.AdvancedPaymentAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox> -->

  <admin-lte-numberbox
    name="TotalAmount"
    caption="Total Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.TotalAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="PaymentAmount"
    caption="Payment Amount"
    [initialValue]="CurrentObject.PaymentAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="RemainingAmount"
    caption="Remaining Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.RemainingAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-numberbox
    name="ChangeAmount"
    caption="Change Amount"
    [readonly]="true"
    [initialValue]="CurrentObject.ChangeAmount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>
</ng-template>


<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

    <drop-down-button
    title="Back"
    [isDropdownRight]="true"
    style="position: absolute; right: 12px; top: 5px"
    [items]="rightDropDownItems"
    (onMainButtonClick)="onClickBackButton()"
      (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
    ></drop-down-button>
  </div>

</ng-template>
