<div class="card">
  <div class="card-body p-0">
    <menubar
      *ngIf="loading != true"
      [items]="menuItems"
      (onClick)="initmenubar_OnClick($event)"
    >
    </menubar>

    <table
      class="table table-striped table-bordered table-hover"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 100px">Date</th>
          <th style="width: 100px">Code</th>
          <th style="width: 140px">Type</th>
          <th>Primary Complaint / History</th>
          <th>Diagnosis</th>
          <th style="width: 100px">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rowData of dataSource; index as i"
          style="cursor: pointer"
          (click)="onRowClick(rowData)"
        >
          <td style="text-align: center">
            {{ rowData.Date | date: "MM/dd/yyyy" }}
          </td>
          <td style="text-align: center">
            {{ rowData.Code }}
          </td>

          <td style="text-align: center">
            {{ rowData.Name_SOAPType }}
          </td>

          <td>{{ rowData.History }}&nbsp;</td>
          <td>
            <div [innerHTML]="rowData.DiagnosisHTML"></div>
            &nbsp;
          </td>
          <td
            style="text-align: center"
            class="FilingStatus FS_{{
              rowData.Name_FilingStatus == null
                ? ''
                : rowData.Name_FilingStatus.replace(' ', '')
            }}"
          >
            {{ rowData.Name_FilingStatus }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="loading" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>

  <br /><br /><br /><br /><br /><br /><br />

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
