.modal-title {
  font-weight: bold;
  font-size: 18px;
}

.validation-list {
  font-size: 13px;
  line-height: 22px;
}

::ng-deep .modal {
  /* change background */
  background-color: rgba(90, 90, 90, 0.508) !important;
}
