<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th style="width: 100px">Date Inclined</th>
          <th style="width: 140px">Item / Services</th>
          <th style="width: 80px">Quantity</th>
          <th style="width: 250px">Remarks</th>
          <th
            *ngIf="
              ItemServiceMode == ConfimentItemServiceModeEnum_All ||
              ItemServiceMode == ConfimentItemServiceModeEnum_Item
            "
            style="width: 120px"
          >
            Route
          </th>
          <th style="width: 120px">Unit Price</th>
          <th style="width: 120px">Amount</th>
          <th style="width: 70px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let itemsService of _itemsServices; index as i"
          style="cursor: pointer"
        >
          <ng-container
            *ngIf="
              ItemServiceMode == ConfimentItemServiceModeEnum_All ||
              (ItemServiceMode == ConfimentItemServiceModeEnum_Item &&
                itemsService.ID_ItemType == ItemTypeEnum_Inventoriable) ||
              (ItemServiceMode == ConfimentItemServiceModeEnum_Service &&
                itemsService.ID_ItemType == ItemTypeEnum_Service)
            "
          >
            <td class="text-center">
              <admin-lte-datetimebox
                name="Date"
                caption=""
                format="MMM. dd, yyyy"
                [initialValue]="itemsService.Date"
                (onModelChanged)="
                  itemsService_onModelChanged(itemsService, $event)
                "
              >
              </admin-lte-datetimebox>
            </td>
            <td class="text-left">{{ itemsService.Name_Item }}</td>

            <td class="text-left">
              <admin-lte-numberbox
                name="Quantity"
                caption=""
                [initialValue]="itemsService.Quantity"
                (onModelChanged)="
                  itemsService_onModelChanged(itemsService, $event)
                "
              >
              </admin-lte-numberbox>
            </td>

            <td class="text-left">
              <admin-lte-textarea
                name="Comment"
                caption=""
                rows="5"
                [initialValue]="itemsService.Comment"
                (onModelChanged)="
                  itemsService_onModelChanged(itemsService, $event)
                "
              >
              </admin-lte-textarea>
            </td>
            <td
              class="text-left"
              *ngIf="
                ItemServiceMode == ConfimentItemServiceModeEnum_All ||
                ItemServiceMode == ConfimentItemServiceModeEnum_Item
              "
            >
              <admin-lte-autocompletebox
                name="Route"
                [initialValue]="itemsService.Route"
                [dataList]="MedicationRouteList"
                (onModelChanged)="
                  itemsService_onModelChanged(itemsService, $event)
                "
              >
              </admin-lte-autocompletebox>
            </td>

            <td class="text-left">
              <admin-lte-numberbox
                name="UnitPrice"
                caption=""
                [initialValue]="itemsService.UnitPrice"
                (onModelChanged)="
                  itemsService_onModelChanged(itemsService, $event)
                "
              >
              </admin-lte-numberbox>
            </td>

            <td class="text-right" style="padding-top: 16px">
              {{ itemsService.Amount | number: "1.2-5" }}
            </td>
            <td class="text-center">
              <button
                class="btn btn-danger"
                (click)="BtnDeleteSOAPPlan_OnClick(itemsService)"
              >
                <i class="fa fa-times"></i>
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td
            [colSpan]="
              ItemServiceMode == ConfimentItemServiceModeEnum_All ||
              ItemServiceMode == ConfimentItemServiceModeEnum_Item
                ? 6
                : 5
            "
          >
            <span
              class="form-control form-control-transparent text-bold text-right"
              >Total Amount</span
            >
          </td>
          <td>
            <span
              class="form-control form-control-transparent text-bold text-right"
              >{{ TotalAmount | number: "1.2-5" }}</span
            >
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
