<div #holder
  mwlDroppable
  (drop)="onDrop($event)"
  class="grid-parent"
  [ngClass]="getCssClass()"
  (blur)="onBlur($event)"
  (focus)="onFocus($event)"
  (keydown)="onKeyDown($event)"
  [tabindex]="tabIndex">
  <div class="grid-container" style="opacity: 1;">
    <div class="resize-column-indicator"
      style="display:none">
    </div>
    <div class="table-header">
      <div class="table-container">
        <table class="table table-bordered table-sm">
          <thead>
            <th class="select-column"
              [style.width.px]="checkBoxColWidth">
            </th>
            <th mwlDraggable
              [ghostDragEnabled]="true"
              [showOriginalElementWhileDragging]="true"
              *ngFor="let col of columns; let i = index"
              [style.width.px]="
                i == columns.length - 1 ? col.width + 20 : col.width
              "
              [ngClass]="{'last-th-child': i ==  columns.length - 1, 'last-second-th-child' : i == columns.length - 2}">
              <div *ngIf="col.fixed !== true"
                class="col-header"
                (click)="onColumnHeaderClick($event,col)">
                <ng-container *ngTemplateOutlet="
                                            headerColumn;
                                            context: {
                                              item: {
                                                col: col,
                                                isFixed: false
                                              }
                                            }
                                          "></ng-container>
              </div>
            </th>
            <th class="delete-column"
              *ngIf="allowDelete == true"
              [style.width.px]="deleteColWidth">
              <div>

              </div>
            </th>
          </thead>
          <tbody>
            <tr class="filter-row">
              <td class="select-column"
                [style.width.px]="checkBoxColWidth">
              </td>
              <td *ngFor="let col of columns; let i = index"
                [style.width.px]="
                  i == columns.length - 1 ? col.width + 20 : col.width
                "
                [ngClass]="{'last-th-child': i ==  columns.length - 1, 'last-second-th-child' : i == columns.length - 2}">
                <div *ngIf="col.fixed !== true">
                  <ng-container *ngTemplateOutlet="
                                        filterCell;
                                        context: {
                                          item: {
                                            col: col,
                                            isFixed: false
                                          }
                                        }
                                      "></ng-container>
                </div>
              </td>
              <td class="delete-column"
                *ngIf="allowDelete == true"
                [style.width.px]="deleteColWidth + scrollYWidth">
                <div>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- *ngIf="fixedLeftColumns !== null" -->
      <div class="table-container fixed fixed-left"
        style="z-index:2;width: auto">
        <table class="table table-bordered table-sm"
          style="width:1px">
          <thead>
            <th class="select-column"
              [style.width.px]="checkBoxColWidth">
            </th>
            <th *ngFor="let col of fixedLeftColumns"
              [style.width.px]="col.width">
              <div class="col-header"
                (click)="onColumnHeaderClick($event,col)">
                <ng-container *ngTemplateOutlet="
                                          headerColumn;
                                          context: {
                                            item: {
                                              col: col,
                                              isFixed: true
                                            }
                                          }
                                        "></ng-container>
              </div>
            </th>
          </thead>
          <tbody>
            <tr class="filter-row">
              <td class="select-column"
                [style.width.px]="checkBoxColWidth">
              </td>
              <td *ngFor="let col of fixedLeftColumns"
                [style.width.px]="col.width">
                <div>
                  <ng-container *ngTemplateOutlet="
                                        filterCell;
                                        context: {
                                          item: {
                                            col: col
                                          }
                                        }
                                      "></ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-container fixed fixed-right"
        *ngIf="fixedRightColumns !== null || allowDelete == true"
        style="z-index:2;right: 0;width: auto">
        <table class="table table-bordered table-sm"
          style="width:1px">
          <thead>
            <th *ngFor="let col of fixedRightColumns"
              [style.width.px]="col.width">
              <div class="col-header"
                (click)="onColumnHeaderClick($event,col)">
                <ng-container *ngTemplateOutlet="
                                          headerColumn;
                                          context: {
                                            item: {
                                              col: col,
                                              isFixed: true,
                                              isFixedRight: true
                                            }
                                          }
                                        "></ng-container>
              </div>
            </th>
            <th class="delete-column"
              *ngIf="allowDelete == true"
              [style.width.px]="deleteColWidth + scrollYWidth">
              <div>

              </div>
            </th>
          </thead>
          <tbody>
            <tr class="filter-row">
              <td *ngFor="let col of fixedRightColumns"
                [style.width.px]="col.width">
                <div>
                  <ng-container *ngTemplateOutlet="
                                  filterCell ;
                                  context: {
                                    item: {
                                      col: col
                                    }
                                  }
                                "></ng-container>
                </div>
              </td>
              <td class="delete-column"
                *ngIf="allowDelete == true"
                [style.width.px]="deleteColWidth + scrollYWidth">
                <div>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="table-body">
      <div #scrollViewBar
        class="scroll vertical-scroll">
        <div class="backwrap"
          style="z-index:0;position: absolute;"></div>
      </div>
      <!-- SCROLL VIEW-->

      <div class="body table-container content">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr *ngFor="let item of items;let rowIndex = index"
              (click)="onRowClick($event,rowIndex)"
              [ngClass]="getRowClass(item,rowIndex,false)">
              <td [style.width.px]="checkBoxColWidth"></td>
              <td *ngFor="let col of columns; let cellIndex = index"
                [style.width.px]="col.width"
               >
                <div class="cell"
                  [ngClass]="getCellClass(col,rowIndex,cellIndex,false)">
                  <div class="td-cell"
                    (click)="onCellClick($event,col,cellIndex)">
                    <ng-container *ngTemplateOutlet="
                      cell;
                      context: {
                        item: {
                          value: item[col.dataField],
                          col: col
                        }
                      }
                    "></ng-container>
                  </div>
                </div>
              </td>

              <td class="delete-column"
                *ngIf="allowDelete == true"
                [style.width.px]="deleteColWidth">
              </td>
            </tr>
            <tr class="edit-row">
              <td class="select-checkbox"
                [style.width.px]="checkBoxColWidth"></td>

              <td *ngFor="let col of columns; let i = index"
                [style.width.px]="col.width"
                [ngClass]="{'editable': col.editable == true}">
                <div>
                  <ng-container *ngTemplateOutlet="
                                              editRow;
                                              context: {
                                                item: {
                                                  col : col,
                                                  colIndex : i,
                                                  isFixed : false
                                                }
                                              }
                                            "></ng-container>
                </div>
              </td>

              <td class="delete-column"
                *ngIf="allowDelete == true"
                [style.width.px]="deleteColWidth">
              </td>

            </tr>
            <tr class="last-row">
              <td *ngFor="let col of columns; let i = index"
                [style.width.px]="col.width"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- *ngIf="fixedLeftColumns !== null" -->
      <div class="body table-container fixed fixed-left"
        style="z-index:1;top:0;overflow-y: hidden">
        <table class="table table-bordered table-sm"
          style="width:1px">
          <tbody>
            <tr *ngFor="let item of items;let rowIndex = index"
              (click)="onRowClick($event,rowIndex)"
              [ngClass]="getRowClass(item,rowIndex,true)">
              <td class="select-column"
                [style.width.px]="checkBoxColWidth"
                (click)="onSelectColumnClick($event,item,rowIndex)">

                <span class="mdi mdi-checkbox-marked"></span>
              </td>

              <td *ngFor="let col of fixedLeftColumns;let i = index"
                [style.width.px]="col.width">
                <div class="cell"
                  [ngClass]="getCellClass(col,rowIndex,i,true)">
                  <div class="td-cell"
                    (click)="onCellClick($event,col,i)">
                    <ng-container *ngTemplateOutlet="
                      cell;
                      context: {
                        item: {
                          value: item[col.dataField],
                          col: col
                        }
                      }
                    "></ng-container>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="edit-row">
              <td class="select-column"
                [style.width.px]="checkBoxColWidth">
              </td>
              <td *ngFor="let col of fixedLeftColumns; let i = index"
                [style.width.px]="col.width"
                [ngClass]="{'editable': col.editable == true}">
                <div>
                  <ng-container *ngTemplateOutlet="
                                          editRow;
                                          context: {
                                            item: {
                                              col : col,
                                              colIndex : i

                                            }
                                          }
                                        "></ng-container>
                </div>
              </td>
            </tr>
            <tr class="last-row">
              <td *ngFor="let col of columns; let i = index"
                [style.width.px]="col.width"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="body table-container fixed fixed-right"
        *ngIf="fixedRightColumns?.length > 0 || allowDelete == true"
        style="z-index:1;top:0;width: auto;overflow-y: hidden"
        [style.right.px]="scrollYWidth">
        <table class="table table-bordered table-sm"
          style="width:1px">
          <tbody>
            <tr *ngFor="let item of items;let rowIndex = index"
              (click)="onRowClick($event,rowIndex)"
              [ngClass]="getRowClass(item,rowIndex,true)">
              <td *ngFor="let col of fixedRightColumns;let colIndex = index"
                [style.width.px]="col.width">
                <div class="cell"
                  [ngClass]="getCellClass(col,rowIndex,colIndex,true)">
                  <div class="td-cell"
                    (click)="onCellClick($event,col,colIndex)">
                    <ng-container *ngTemplateOutlet="
                            cell;
                            context: {
                              item: {
                                value: item[col.dataField],
                                col: col
                              }
                            }
                          "></ng-container>
                  </div>
                </div>
              </td>
              <td class="delete-column"
                *ngIf="allowDelete == true"
                [style.width.px]="deleteColWidth">
                <!-- Delete -->
                <div class="cell" style="padding: 0;font-size: 15px;">
                  <span class="fas fa-trash-alt" (click)="onDeleteRow($event,item)"></span>
                </div>
              </td>
            </tr>
            <tr class="edit-row">
              <td *ngFor="let col of fixedRightColumns; let _index = index"
                [style.width.px]="col.width"
                [ngClass]="{'editable': col.editable == true}">
                <div>
                  <ng-container *ngTemplateOutlet="
                                              editRow;
                                              context: {
                                                item: {
                                                  col : col,
                                                  colIndex : _index

                                                }
                                              }
                                            "></ng-container>
                </div>
              </td>
              <td class="delete-column"
                *ngIf="allowDelete == true"
                [style.width.px]="deleteColWidth">
              </td>
            </tr>
            <tr class="last-row">
              <td *ngFor="let col of columns"
                [style.width.px]="col.width"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-footer">
        <div class="footer table-container content">
          <table class="table table-bordered table-sm">
            <tbody>
              <tr>
                <td *ngFor="let col of columns; let i = index"
                  [style.width.px]="col.width">
                  <div></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- *ngIf="fixedLeftColumns !== null" -->
        <div class="footer table-container fixed fixed-left"
          style="z-index:2;top:0;overflow-y: hidden">
          <table class="table table-bordered"
            style="width:1px">
            <tbody>
              <tr>
                <td class="select-column"
                  [style.width.px]="checkBoxColWidth">

                </td>
                <td *ngFor="let col of fixedLeftColumns"
                  [style.width.px]="col.width">
                  <div></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #filterCell
  let-item="item">
  <div [ngSwitch]="item.col.dataType">
    <div *ngSwitchCase="'string'">
      <app-text-box [name]="item.col.dataField"
        [showLabel]="false"
        [required]="false"
        [validateOnSubmit]="true"
        placeholder="Search here..."
        (onEnterKey)="onControlEnterKey($event)"></app-text-box>
    </div>
    <div *ngSwitchCase="'decimal'">

    </div>
    <div *ngSwitchDefault>

    </div>
  </div>
</ng-template>

<ng-template #cell
  let-item="item">
  {{ item.value }}
</ng-template>

<ng-template #editRow
  let-item="item">
  <span [ngSwitch]="item.col.editable === true">
    <div *ngSwitchCase="true">

      <ng-container *ngIf="item.col.fixed === true && item.isFixed == false;else editTemplate">
        ...{{item.col.dataField}}
      </ng-container>

      <ng-template #editTemplate>
        <div [ngSwitch]="item.col.dataType">
          <div *ngSwitchCase="'string'">
            <app-text-box [name]="item.col.dataField"
              [showLabel]="false"
              [required]="true"
              [validateOnSubmit]="true"
              (onEnterKey)="onControlEnterKey($event)"></app-text-box>
          </div>
          <div *ngSwitchCase="'decimal'">

          </div>
          <div *ngSwitchDefault>
            unknown
          </div>
        </div>
      </ng-template>
    </div>

    <div *ngSwitchCase="false">
      <ng-container *ngIf="item.colIndex == 0;else elseTemplate">
        *
      </ng-container>
      <ng-template #elseTemplate>
        {{item.colIndex}}
      </ng-template>
    </div>
    <div *ngSwitchDefault>

    </div>
  </span>
</ng-template>

<ng-template let-item="item"
  #headerColumn>
  <span class="sorting fas fa-sort-alpha-up"></span> {{item.col.caption}}
  <div mwlDraggable
    [showOriginalElementWhileDragging]="true"
    [ghostDragEnabled]="true"
    (ghostElementCreated)="onGhost_ElementCreated($event)"
    (dragStart)="onColumn_ResizeStart($event, item.col)"
    (dragging)="onColumn_ResizeDragging($event,item.col)"
    (dragEnd)="onColumn_ResizeEnd($event,item.col)"
    class="col-resizer">
  </div>
</ng-template>
