@row-height: 35px;
@import "../../../palette.less";

.grid-parent {
  border-right: solid 1px #ddd;
  padding-bottom: 5px;
  height: 100%;

  &.jf-focused {
    td .cell.jf-focused {
      border-color: #000;
      background-color: #fff;
    }

    tr {
      &.jf-focused {
        td {
          background-color: @jf-focused-color;
        }

        .delete-column {
          color: #fff;
        }

        .delete-column:hover {
          color: red;
        }
      }
    }

  }
}

&.is-editing {
  .edit-cell {
    .td-cell {
      display: none;
    }
  }
}

.grid-container {
  position: relative;
}

table {
  background: #fff;
  table-layout: fixed;
  margin-bottom: 0px;

  th {
    padding: 0;

    .col-header {
      padding: 0.5rem;
      position: relative;

      &:hover {
        cursor: pointer;
      }
    }

    .sorting {
      opacity: 0.5;
      display: none;
    }

    .col-resizer {
      display: inline-block;
      width: 5px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;

      &:hover {
        cursor: col-resize;
      }
    }
  }

  td>div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr {
    &.jf-focused {
      td {
        background-color: @jf-item-selected;
      }
    }
  }

  td {
    vertical-align: middle;
    height: auto;
    padding: 0;

    .cell {
      height: @row-height;
      max-height: @row-height;
      width: 100%;
      padding: 5px;
      display: inline-block;
      vertical-align: middle;

      &.jf-focused {
        border: solid 2px #eee;
        padding: 3px;
        background-color: #fff;
      }
    }

    .td-cell {
      height: 100%;
      display: block;
      margin: auto;
      padding: 3px;
    }

  }
}

.vertical-scroll {
  overflow-x: scroll;
  overflow-y: scroll;
}

th {
  background-color: #000 !important;
  color: #fff !important;
  //border-color: transparent;
}

.table-header {
  border-right: solid 1px #ddd;

  .table-container {
    //padding-right: 17px;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    width: 100%;

    .table {
      border-bottom: solid 2px #ddd;

      td {
        border-bottom: solid 2px #ddd;
      }
    }
  }
}

.table-body {
  .table-container {
    position: absolute;
  }
}

.fixed-left table {
  border-right: solid 1px #ddd;

  th:last-child,
  td:last-child {
    border-right: solid 2px #ddd;
  }
}

.fixed-right {
  right: 0;

  table {
    border-left: solid 1px #ddd;

    th:first-child,
    td:first-child {
      border-left: solid 2px #ddd;
    }
  }
}

.table-footer {
  position: absolute;
  border-top: solid 2px #ddd;

  .table {
    background-color: #eee;

    td {
      border-color: transparent;
    }
  }
}

.last-row {
  td {
    height: 150px;
  }
}

.edit-row {
  td {
    padding: 2px;
    height: auto;
  }
}

.filter-row {
  td {
    background-color: #eee;
    padding: 1px;
  }
}

.delete-column {
  height: @row-height;
  text-align: center;
  color: dimgray;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    color: red;
  }
}

.select-column {
  background-color: #eee;
  vertical-align: middle;
  text-align: center;
  font-size: 23px;
  padding: 0px;

  span:hover {
    cursor: pointer;
  }
}

.resize-column-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  border-right: dotted 1px dimgray;
  border-left: dotted 1px dimgray;
}
