<div
  class="d-flex flex-column expand"
  [ngClass]="{ 'hide-filter': this.showFilterBox !== true }"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      Waiting List &nbsp;
    </div>

    <p-menubar [model]="menuItems" [hidden]="!(menuItems?.length > 0)">
      <div class="filter-buttons">
        <button
          pButton
          type="button"
          class="ui-button-raised"
          icon="pi pi-filter"
          (click)="toggeFilterBox()"
        ></button>
      </div>
    </p-menubar>
  </div>
  <div class="d-flex flex-fill module-content" #mainbox style="height: 1px">
    <div class="expand" style="overflow: hidden; padding: 0px">
      <div class="p-grid expand" style="margin: 0; padding: 0">
        <div class="main-box p-col-9" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: hidden"
            >
              <div class="p-col-12">
                <div
                  *ngIf="!isListLoadedSuccess"
                  class="text center"
                  style="
                    margin: 6px;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: bold;
                  "
                >
                  <i class="fas fa-times text-danger"></i>&nbsp;Unable to Load
                  the result. Please try again...
                </div>

                <p-table
                  *ngIf="isListLoadedSuccess"
                  class="flexcolumn"
                  [value]="dataSource"
                  selectionMode="single"
                  [(selection)]="selectedRecord"
                  dataKey="ID"
                  [scrollable]="true"
                  [responsive]="false"
                  sortMode="multiple"
                  [(scrollHeight)]="mainboxHeight"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 120px">Date</th>

                      <th style="width: 100px">
                        <span>From</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Client')">
                        <span>Owner's Name</span>
                      </th>
                      <th (click)="tableHeader_onClick('Name_Patient')">
                        <span>Pet's Name</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick('WaitingStatus_Name_FilingStatus')
                        "
                        style="width: 120px"
                      >
                        <span>Waiting Status</span>
                      </th>
                      <th
                        (click)="
                          tableHeader_onClick(
                            'BillingInvoice_Name_FilingStatus'
                          )
                        "
                        style="width: 120px"
                      >
                        <span>Bill. Status</span>
                      </th>
                      <th style="width: 150px">Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-record>
                    <tr
                      [pSelectableRow]="record"
                      class="row-detail"
                      (dblclick)="tableRowDetail_onClick(record)"
                    >
                      <td style="width: 120px" class="text-center">
                        {{ record.DateCreated | date : "MM/dd/yyyy" }}
                      </td>

                      <td style="width: 100px; text-align: center">
                        <p
                          *ngFor="let reference of record.References"
                          class="action-text text-center"
                          [title]="reference.Description"
                          (click)="Reference_OnRowClick(reference)"
                        >
                          {{ reference.ReferenceCode }}
                        </p>
                        <p
                          class="action-text text-center"
                          *ngIf="!record['References']"
                          style="font-size: 5px"
                        >
                          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                        </p>
                      </td>
                      <td>
                        {{ record.Name_Client }}
                      </td>
                      <td>
                        {{ record.Name_Patient }}
                      </td>

                      <td
                        style="width: 120px; text-align: center"
                        class="Waiting-Status WaitingStatus WS_{{
                          record.WaitingStatus_Name_FilingStatus == null
                            ? ''
                            : record.WaitingStatus_Name_FilingStatus.replace(
                                ' ',
                                ''
                              )
                        }}"
                        (click)="colWaitingStatus_onClick(record)"
                      >
                        {{ record.WaitingStatus_Name_FilingStatus }}
                      </td>

                      <td
                        style="width: 120px; text-align: center"
                        class="FilingStatus FS_{{
                          record.BillingInvoice_Name_FilingStatus == null
                            ? ''
                            : record.BillingInvoice_Name_FilingStatus.replace(
                                ' ',
                                ''
                              )
                        }}"
                      >
                        {{ record.BillingInvoice_Name_FilingStatus }}
                      </td>

                      <td style="width: 150px">
                        <p
                          class="text-success action-text"
                          (click)="colAction_CreateSOAP_onClick(record)"
                        >
                          <i class="fas fa-plus"></i> Create Medical Record
                        </p>
                        <p
                          class="text-success action-text"
                          (click)="colAction_CreateConfinement_onClick(record)"
                        >
                          <i class="fas fa-plus"></i> Create Confinement
                        </p>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

            <div class="d-flex flex-fill">
              <div class="p-grid expand">
                <div class="p-col-3">
                  <p class="footer-text">
                    Total Record: {{ LoadedRecordCount }} /
                    {{ TotalRecordCount }}
                  </p>
                </div>
                <div class="p-col-6" style="text-align: center">
                  <p-paginator
                    #paginator
                    [rows]="pagingOption.DisplayCount"
                    [totalRecords]="pagingOption.TotalRecord"
                    (onPageChange)="paginate($event)"
                  ></p-paginator>
                </div>
                <div class="p-col-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-box p-col-3" style="height: 100%">
          <div class="d-flex flex-column expand">
            <div
              class="p-grid expand"
              style="overflow-x: hidden; overflow-y: auto"
            >
              <div class="p-col-12">
                <h5 style="font-weight: bold; margin-bottom: 8px">
                  <span class="mdi mdi-filter"></span> Filters
                </h5>

                <app-form
                  #appForm
                  [CurrentObject]="CurrentObject"
                  (onAfterContentInit)="appForm_onAfterContentInit($event)"
                  [style.margin-bottom.px]="50"
                >
                  <p-accordion #filterAccordioView [multiple]="true">
                  </p-accordion>
                </app-form>
              </div>
            </div>

            <div class="d-flex flex-fill filter-buttons" style="padding: 3px">
              <button
                pButton
                type="button"
                label="Clear"
                class="ui-button-raised ui-button-secondary"
                (click)="clearFilter()"
              ></button>
              <button
                pButton
                type="button"
                label="Search"
                class="ui-button-raised ui-button-success"
                (click)="searchFilter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<loading-screen [isLoading]="isLoading"></loading-screen>

<change-waiting-status-patient-waiting-list-dialog
  #changewaitingstatuspatientwaitinglistdialog
></change-waiting-status-patient-waiting-list-dialog>
