<report-viewer
  #reportviewer
  [IsShowBackButton]="false"
  [filterContentTemplate]="filterContentTemplate"
  (onbtnBackButton)="ononbtnBackButtonClick()"
  (onbtnSaveClick)="onbtnSaveClick()"
  (onbtnClearClick)="onbtnClearClick()"
  (onbtnRightClick)="onbtnRightClick($event)"
  (onbtnExportPDFClick)="onbtnExportPDFClick()"
  (onbtnExportExcelClick)="onbtnExportExcelClick()"
></report-viewer>

<ng-template #filterContentTemplate>
  <admin-lte-datebox
    name="DateStart"
    caption="Date Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart']"
    name="DateEnd"
    caption="Date End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
  ></admin-lte-texbox>
</ng-template>
