<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          [items]="items"
          (onClick)="menubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div
        class="col-12 d-block d-md-none d-lg-none d-lg-none"
        *ngIf="showFilter"
      >
        <div class="card collapsed-card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-xs-12 col-md-9"
        [ngClass]="{
          'col-md-9': showFilter,
          'col-md-12': !showFilter
        }"
      >
        <div class="card">
          <div
            class="card-body table-hover text-nowrap table-bordered table-striped table-responsive p-0"
            [ngStyle]="{
              height: gridHeight
            }"
          >
            <div
              *ngIf="!isListLoadedSuccess"
              style="margin: 10px; cursor: pointer"
              class="callout callout-danger"
              (click)="onBtnSearchClick($event)"
            >
              <i class="fas fa-times"></i>&nbsp;Unable to Load the result.
              Please try again...
            </div>

            <ng-container
              *ngIf="isListLoadedSuccess"
              [ngTemplateOutlet]="contentTemplateTable"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <span style="font-weight: bold; margin-top: 5px" class="float-left"
              >Record {{ LoadedRecordCount }} /
              {{ pagingOption.TotalRecord }}
            </span>
            <pagination
              [TotalPageNumber]="pagingOption.TotalPageNumber"
              (pageNumber_OnClick)="onPageChange($event)"
            >
            </pagination>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>

      <div
        class="col-3 d-none d-md-block d-lg-block d-xl-block"
        *ngIf="showFilter"
      >
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Filter</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>

          <div class="card-body">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterForm"
            ></ng-container>
          </div>

          <div class="card-footer clearfix">
            <ng-container
              [ngTemplateOutlet]="contentTemplateFilterFormFooter"
            ></ng-container>
          </div>

          <div *ngIf="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentTemplateMenubar>
  <button
    class="btn btn-block btn-default btn-filter"
    type="button"
    (click)="btnfilter_OnClick()"
  >
    <i class="fas fa-filter"></i>
  </button>
</ng-template>

<ng-template #contentTemplateTable>
  <table class="table table-head-fixed text-nowrap">
    <thead>
      <tr>
        <th style="width: 80px" (click)="onColumnHeaderClick('Date')">Date</th>
        <th style="width: 70px" (click)="onColumnHeaderClick('Code')">Code</th>

        <th style="width: 100px" (click)="onColumnHeaderClick('Name_SOAPType')">
          Type
        </th>

        <th style="width: 100px" (click)="onColumnHeaderClick('Name_Client')">
          Client
        </th>

        <th (click)="onColumnHeaderClick('Name_Patient')">Patient</th>
        <th
          style="width: 150px"
          (click)="onColumnHeaderClick('AttendingPhysician_Name_Employee')"
        >
          Att. Personnel
        </th>
        <th style="width: 100px" (click)="onColumnHeaderClick('CaseType')">
          Case Type
        </th>
        <th style="width: 110px">Records</th>
        <th
          style="width: 100px"
          (click)="onColumnHeaderClick('Name_FilingStatus')"
        >
          Status
        </th>
        <th style="width: 80px">New Tab</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowData of dataSource; index as i"
        [title]="rowData.Comment"
      >
        <td (click)="Row_OnClick(rowData)">
          {{ rowData.Date | date : "MM/dd/yyyy" }}
        </td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Code }}</td>
        <td style="width: 100px; text-align: center">
          {{ rowData.Name_SOAPType }}
        </td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Name_Client }}</td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.Name_Patient }}</td>
        <td (click)="Row_OnClick(rowData)" style="text-align: center">
          {{ rowData.AttendingPhysician_Name_Employee }}
        </td>
        <td (click)="Row_OnClick(rowData)">{{ rowData.CaseType }}</td>
        <td (click)="Row_OnClick(rowData)" style="width: 200px">
          <p
            *ngFor="let SOAPRecord of rowData.SOAPRecords"
            class="Record-Info"
            [title]="SOAPRecord.value"
          >
            <i
              class="text-success fa fa-check"
              [ngClass]="{
                'fa-check': SOAPRecord.hasValue
              }"
              *ngIf="!SOAPRecord.isLoading"
            ></i>

            <i
              class="text-success fa fa-spin fa-spinner"
              *ngIf="SOAPRecord.isLoading"
            ></i>
            <span
              [ngClass]="{
                'text-success': SOAPRecord.hasValue,
                'text-danger': !SOAPRecord.hasValue
              }"
            >
              {{ SOAPRecord.label }}</span
            >
          </p>
        </td>
        <td
          (click)="Row_OnClick(rowData)"
          style="width: 80px; text-align: center"
          class="FilingStatus FS_{{
            rowData.Name_FilingStatus == null
              ? ''
              : rowData.Name_FilingStatus.replace(' ', '')
          }}"
        >
          {{ rowData.Name_FilingStatus }}
        </td>
        <td class="text-center">
          <button
            class="btn btn-default"
            (click)="
              openNewTab({
                RouterName: 'Patient_SOAP',
                ID_CurrentObject: rowData.ID
              })
            "
          >
            <i class="fas fa-external-link-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #contentTemplateFilterForm>
  <admin-lte-datebox
    name="DateStart_Date"
    caption="Date - Start"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateStart_Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-datebox
    *ngIf="CurrentObject['DateStart_Date']"
    name="DateEnd_Date"
    caption="Date - End"
    format="MMM. dd, yyyy"
    [initialValue]="CurrentObject.DateEnd_Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datebox>

  <admin-lte-texbox
    name="Code"
    caption="Code"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_SOAPType"
    caption="Type"
    [initialValue]="CurrentObject.Name_SOAPType"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Client"
    caption="Owner's Name"
    [initialValue]="CurrentObject.Name_Client"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.Name_Patient"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="AttendingPhysician_Name_Employee"
    caption="Attending Personnel"
    [initialValue]="CurrentObject.AttendingPhysician_Name_Employee"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="CaseType"
    caption="CaseType"
    [initialValue]="CurrentObject.CaseType"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Comment"
    caption="Comment"
    [initialValue]="CurrentObject.Comment"
    (onModelChanged)="control_onModelChanged($event)"
    (onEnterKeyUp)="control_onEnterKeyUp($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplateFilterFormFooter>
  <button (click)="onBtnSearchClick($event)" class="btn btn-info">
    Search
  </button>

  <button (click)="onBtnClearClick($event)" class="btn btn-link">Clear</button>
</ng-template>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
