<div class="card">
  <menubar [items]="menuItems" (onClick)="menuItems_OnClick($event)"> </menubar>
  <div class="card-body p-0">
    <table
      class="table table-head-fixed table-striped table-bordered"
      style="background-color: white"
    >
      <thead>
        <tr>
          <th>User Roles</th>

          <th style="width: 70px"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let userRole of _userRoles; index as i"
          style="cursor: pointer"
        >
          <td class="text-left">{{ userRole.Name_UserRole }}</td>

          <td class="text-center">
            <button
              class="btn btn-danger"
              (click)="BtnDeleteUserRole_OnClick(userRole)"
            >
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>
