<content-header
  [title]="headerTitle"
  [breadCrumbItems]="breadCrumbItems"
  (onBreadCrumbClicked)="ContentHeader_onBreadCrumbClicked($event)"
></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-3">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Patient Info."
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PatientInfo_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4" *ngIf="CurrentObject.ID_Patient_Confinement">
        <card-container
          title="Confinement"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Confinement_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Primary Complaint / History"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_History_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Clinical Exam."
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ClinicalExamination_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Laboratory / Interpretation Exam."
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_laboratoryimages_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Plan"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_SOAP_Plan"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Wellness"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PatientWellnessList_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Diagnosis"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Diagnosis_fields"
        >
        </card-container>
      </div>

      <div class="col-md-6">
        <card-container
          title="Client Communication"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_ClientCommunication_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Treatment"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Treatment_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Prescription"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Prescription_fields"
        >
        </card-container>
      </div>

      <div class="col-md-12">
        <card-container
          title="Comment"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Comment_fields"
        >
        </card-container>
      </div>
    </div>
  </div>

  <sql-list-dialog #sqllistdialog></sql-list-dialog>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

  <ng-template #contentTemplate_Infomation_fields>
    <admin-lte-texbox
      name="Code"
      caption="Code"
      [readonly]="true"
      [initialValue]="CurrentObject.Code"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>

    <admin-lte-datebox
      name="Date"
      caption="Date"
      format="MMM. dd, yyyy"
      [initialValue]="CurrentObject.Date"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-datebox>

    <admin-lte-texbox
      name="Name_FilingStatus"
      caption="Filing Status"
      [readonly]="true"
      [initialValue]="CurrentObject.Name_FilingStatus"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </ng-template>

  <ng-template #contentTemplate_PatientInfo_fields>
    <admin-lte-data-lookupbox
      name="ID_SOAPType"
      displayName="Name_SOAPType"
      caption="Type"
      [initialValue]="CurrentObject.ID_SOAPType"
      [initialDisplayValue]="CurrentObject.Name_SOAPType"
      [option]="ID_SOAPType_LookupboxOption"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-data-lookupbox>

    <admin-lte-data-lookupbox
      name="AttendingPhysician_ID_Employee"
      displayName="AttendingPhysician_Name_Employee"
      caption="Attnd. Veterinarian"
      [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
      [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
      [option]="AttendingPhysician_ID_Employee_LookupboxOption"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-data-lookupbox>

    <admin-lte-data-lookupbox
      name="ID_Client"
      displayName="Name_Client"
      caption="Client"
      [initialValue]="CurrentObject.ID_Client"
      [initialDisplayValue]="CurrentObject.Name_Client"
      [option]="ID_Client_LookupboxOption"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-data-lookupbox>

    <admin-lte-data-lookupbox
      #ID_Patient_Lookupbox
      name="ID_Patient"
      displayName="Name_Patient"
      caption="Patient"
      [initialValue]="CurrentObject.ID_Patient"
      [initialDisplayValue]="CurrentObject.Name_Patient"
      [option]="ID_Patient_LookupboxOption"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-data-lookupbox>

    <admin-lte-autocompletebox
      name="CaseType"
      caption="Case Type"
      [dataList]="CaseTypeList"
      [initialValue]="CurrentObject.CaseType"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-autocompletebox>

    <admin-lte-texbox
      name="Weight"
      caption="Weight"
      [initialValue]="CurrentObject.Weight"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>
  </ng-template>

  <ng-template #contentTemplate_Confinement_fields>
    <admin-lte-texbox
      name="Code_Patient_Confinement"
      caption="Code"
      [readonly]="true"
      [initialValue]="CurrentObject.Code_Patient_Confinement"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-texbox>

    <admin-lte-datebox
      name="Date_Patient_Confinement"
      caption="Date"
      format="MM/dd/yyyy"
      [readonly]="true"
      [initialValue]="CurrentObject.Date_Patient_Confinement"
    >
    </admin-lte-datebox>

    <admin-lte-texbox
      name="Name_FilingStatus_Patient_Confinement"
      caption="Status"
      [readonly]="true"
      [initialValue]="CurrentObject.Name_FilingStatus_Patient_Confinement"
    >
    </admin-lte-texbox>

    <admin-lte-datebox
      *ngIf="
        CurrentObject.ID_FilingStatus_Patient_Confinement ==
        FILINGSTATUS_DISCHARGE
      "
      name="DateDischarge_Patient_Confinement"
      caption="Date Discharged"
      format="MM/dd/yyyy"
      [readonly]="true"
      [initialValue]="CurrentObject.DateDischarge_Patient_Confinement"
    >
    </admin-lte-datebox>
  </ng-template>

  <ng-template #contentTemplate_History_fields>
    <button
      type="button"
      class="btn btn-default btn-md"
      (click)="btnHistoryFillTemplate_onClick()"
    >
      <i class="fas fa-th-list"></i>&nbsp;Fill Template
    </button>

    <admin-lte-textarea
      name="History"
      caption=""
      [initialValue]="CurrentObject.History"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplate_ClinicalExamination_fields>
    <button
      type="button"
      class="btn btn-default btn-md"
      (click)="btnClinicalExaminationFillTemplate_onClick()"
    >
      <i class="fas fa-th-list"></i>&nbsp;Fill Template
    </button>
    <admin-lte-textarea
      name="ClinicalExamination"
      caption=""
      [initialValue]="CurrentObject.ClinicalExamination"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplate_laboratoryimages_fields>
    <laboratory-images
      #laboratoryimages
      [CurrentObject]="CurrentObject"
      (onModelChanged)="control_onModelChanged($event)"
    ></laboratory-images>

    <admin-lte-textarea
      name="Interpretation"
      caption="Interpretation"
      [initialValue]="CurrentObject.Interpretation"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplate_SOAP_Plan>
    <soap-plan
      [soapPlans]="CurrentObject.Patient_SOAP_Plan"
      (onChanged)="soapplan_onChange()"
    ></soap-plan>
  </ng-template>

  <ng-template #contentTemplate_Vaccination_fields>
    <patient-vaccination-list
      #patientvaccinationlist
      [CurrentObject]="CurrentObject"
      [IsDirty]="isDirty"
    >
    </patient-vaccination-list>
  </ng-template>

  <ng-template #contentTemplate_PatientWellnessList_fields>
    <patient-wellness-list
      #patientwellnesslist
      [CurrentObject]="CurrentObject"
      [IsDirty]="isDirty"
    >
    </patient-wellness-list>
  </ng-template>

  <ng-template #contentTemplate_Diagnosis_fields>
    <button
      type="button"
      class="btn btn-default btn-md"
      (click)="btnDiagnosisFillTemplate_onClick()"
    >
      <i class="fas fa-th-list"></i>&nbsp;Fill Template
    </button>
    <admin-lte-textarea
      name="Diagnosis"
      caption=""
      [initialValue]="CurrentObject.Diagnosis"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplate_Treatment_fields>
    <patient-treatment
      [SOAPTreatments]="CurrentObject.Patient_SOAP_Treatment"
      (onChanged)="patienttreatment_onChange()"
    ></patient-treatment>
    <br />
    <admin-lte-textarea
      name="Treatment"
      caption="Others"
      [initialValue]="CurrentObject.Treatment"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplate_Prescription_fields>
    <soap-prescription
      [SOAPPrescriptions]="CurrentObject.Patient_SOAP_Prescription"
      (onChanged)="soapprescription_onChange()"
    ></soap-prescription>
    <br />
    <admin-lte-textarea
      name="Prescription"
      caption="Prescription"
      [initialValue]="CurrentObject.Prescription"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>
  <ng-template #contentTemplate_Comment_fields>
    <admin-lte-textarea
      name="Comment"
      caption="Comment"
      [initialValue]="CurrentObject.Comment"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplate_ClientCommunication_fields>
    <admin-lte-textarea
      name="ClientCommunication"
      caption=""
      [initialValue]="CurrentObject.ClientCommunication"
      (onModelChanged)="control_onModelChanged($event)"
    >
    </admin-lte-textarea>
  </ng-template>

  <ng-template #contentTemplateMenubar>
    <div style="position: absolute; right: 5px" class="rightDownMenuContainer">
  
      <drop-down-button
      title="Back"
      [isDropdownRight]="true"
      [items]="rightDropDownItems"
      (onMainButtonClick)="onClickBackButton()"
        (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
      ></drop-down-button>
    </div>
  
  </ng-template>
  

  <br /><br /><br /><br /><br /><br />
</div>
