<p-menubar [model]="menuItems"> </p-menubar>

<p-table
  [value]="Records"
  selectionMode="single"
  styleClass="p-datatable-sm"
  [(selection)]="SelectedRecord"
  dataKey="ID"
  [scrollable]="true"
  rowHover="true"
  scrollHeight="500px"
  [style]="{
    height: '500px',
    'background-color': 'gray'
  }"
  (onRowSelect)="recordGrid_onRowSelect()"
  (onRowUnselect)="recordGrid_onRowUnselect()"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 130px">Date</th>
      <th style="width: 200px">Vaccination</th>
      <th style="width: 100px">Date Expiration</th>
      <th style="width: 300px">Remarks</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-record>
    <tr [pSelectableRow]="record" (dblclick)="recordGrid_onDblClick(record)">
      <td style="width: 130px; text-align: center">
        {{ record.Date | date: "MM/dd/yyyy hh:mm a" }}
      </td>
      <td style="width: 200px">{{ record.Name_Item }}</td>
      <td style="width: 100px" class="text-center">
        {{ record.DateExpiration | date: "MM/dd/yyyy" }}
      </td>
      <td style="width: 300px">{{ record.Comment }}&nbsp;</td>
    </tr>
  </ng-template>
</p-table>

<look-up-dialog-box #itemServiceDialog></look-up-dialog-box>
