<div
  class="d-flex flex-column expand"
  style="margin-top: 0px; background-color: #fff"
>
  <div class="module-header" style="height: auto">
    <div class="module-title" style="padding-left: 6px">
      {{ ModelDisplayName }} &nbsp;
    </div>

    <p-menubar [model]="menuItems">
      <button
        *ngIf="hasBackLinkConfigOption"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="btnBack_onClick()"
      >
        Back
      </button>

      <cssdropdown
        *ngIf="gotoMenuItems.length > 0"
        icon="pi pi-chevron-down"
        style="margin-left: 4px"
        [model]="gotoMenuItems"
      ></cssdropdown>
    </p-menubar>
  </div>

  <div
    class="d-flex flex-fill module-content"
    style="height: 1px; background-color: #fff"
  >
    <perfect-scrollbar
      style="
        max-width: 100%;
        max-height: 100%;
        padding-right: 12px;
        background-color: #fff;
      "
    >
      <app-form
        #appForm
        [CurrentObject]="CurrentObject"
        [style.margin-bottom.px]="50"
      >
        <p-tabView>
          <p-tabPanel header="General" class="oid-control tab-panel-custom">
            <div class="row">
              <div class="col-lg-4">
                <p-fieldset
                  legend="Information {{
                    CurrentObject.IsActive ? '' : '(Deleted)'
                  }}"
                  class="with-caption"
                >
                  <app-text-box
                    [(ngModel)]="CurrentObject.Code"
                    name="Code"
                    caption="Code"
                    [readOnly]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                  <app-text-box
                    [(ngModel)]="CurrentObject.Name"
                    name="Name"
                    caption="Name"
                    [readOnly]="false"
                    [required]="true"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.CurrentCreditAmount"
                    name="CurrentCreditAmount"
                    caption="Remaining Credit"
                    labelPosition="top"
                    [readOnly]="true"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>
                  <app-text-area
                    [(ngModel)]="CurrentObject.Address"
                    name="Address"
                    caption="Address"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-area>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.Email"
                    name="Email"
                    caption="Email"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.ContactNumber"
                    name="ContactNumber"
                    caption="Contact # (PH)"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-text-box
                    [(ngModel)]="CurrentObject.ContactNumber2"
                    name="ContactNumber2"
                    caption="Contact #"
                    [readOnly]="false"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-text-box>

                  <div class="control-separator-bottom"></div>

                  <app-qrcode-image
                    *ngIf="CurrentObject.ID > 0"
                    [(ngModel)]="qrCodeValue"
                    caption="QR Code"
                    labelPosition="top"
                    [ngStyle]="{
                      'margin-bottom': '5px'
                    }"
                  >
                  </app-qrcode-image>

                  <div class="control-separator-bottom"></div>
                </p-fieldset>
              </div>

              <div class="col-md-8">
                <p-fieldset legend="Pets" class="with-caption">
                  <p-menubar
                    [model]="patientMenuItems"
                    [hidden]="!(patientMenuItems?.length > 0)"
                  >
                  </p-menubar>

                  <p-table
                    [value]="CurrentObject.Client_Patient"
                    selectionMode="single"
                    styleClass="p-datatable-sm"
                    [(selection)]="sellPatient"
                    dataKey="ID"
                    [scrollable]="true"
                    rowHover="true"
                    scrollHeight="300px"
                    [style]="{
                      height: '300px',
                      'background-color': 'gray'
                    }"
                  >
                    <ng-template pTemplate="header">
                      <tr style="text-align: center">
                        <th pSortableColumn="Name">Name</th>
                        <th style="width: 150px">Species</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-client_Patient>
                      <tr
                        [pSelectableRow]="client_Patient"
                        (dblclick)="Patient_Grid_onDblClick(client_Patient)"
                      >
                        <td>
                          {{ client_Patient.Name }}

                          &nbsp;<span
                            *ngIf="client_Patient.IsDeceased == true"
                            style="color: red"
                            >(Deceased)</span
                          >
                        </td>
                        <td style="width: 150px; text-align: center">
                          {{ client_Patient.Species }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </p-fieldset>

                <div class="col-lg-8">
                  <p-fieldset
                    legend="Account Information {{
                      CurrentObject.IsActive ? '' : '(Deleted)'
                    }}"
                    class="with-caption"
                  >
                    <app-text-box
                      [(ngModel)]="CurrentObject.Username"
                      name="Code"
                      caption="Account Username"
                      [readOnly]="true"
                      labelPosition="top"
                      [ngStyle]="{
                        'margin-bottom': '5px'
                      }"
                    >
                    </app-text-box>

                    <div class="control-separator-bottom"></div>

                    <app-text-box
                      [(ngModel)]="CurrentObject.Password"
                      name="Code"
                      caption="Account Password"
                      [readOnly]="true"
                      labelPosition="top"
                      [ngStyle]="{
                        'margin-bottom': '5px'
                      }"
                    >
                    </app-text-box>
                  </p-fieldset>
                </div>
              </div>
            </div>
          </p-tabPanel>

          <p-tabPanel header="Remarks" class="oid-control tab-panel-custom">
            <p-menubar
              [model]="detailMenuRemarks"
              *ngIf="detailMenuRemarks.length > 0"
            >
            </p-menubar>

            <app-text-area
              [(ngModel)]="CurrentObject.Comment"
              name="Comment"
              caption=""
              labelPosition="top"
            >
            </app-text-area>
          </p-tabPanel>
        </p-tabView>

        <p-tabView>
          <p-tabPanel
            header="Billing History"
            class="oid-control tab-panel-custom"
          >
            <div class="control-separator-bottom"></div>
            <p-menubar
              [model]="billingInvoiceMenuItems"
              [hidden]="!(billingInvoiceMenuItems?.length > 0)"
            >
            </p-menubar>
            <p-table
              [value]="billingInvoices"
              selectionMode="single"
              styleClass="p-datatable-sm"
              [(selection)]="selpBilling"
              dataKey="ID"
              [scrollable]="true"
              rowHover="true"
              scrollHeight="400px"
              [style]="{
                height: '400px',
                'background-color': 'gray'
              }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px">Date</th>
                  <th>Billing #</th>
                  <th>Payable</th>
                  <th>Remaining</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-pBilling>
                <tr
                  [pSelectableRow]="pBilling"
                  (dblclick)="pBilling_onDblClick(pBilling)"
                >
                  <td style="width: 100px; text-align: center">
                    {{ pBilling.DateString }}
                  </td>
                  <td>
                    {{ pBilling.Code }} (
                    <span
                      class="FilingStatus FS_{{
                        pBilling.Name_FilingStatus == null
                          ? 'None'
                          : pBilling.Name_FilingStatus.replace(' ', '')
                      }}"
                      >{{
                        pBilling.Payment_Name_FilingStatus !== null
                          ? pBilling.Payment_Name_FilingStatus
                          : pBilling.Name_FilingStatus
                      }} </span
                    >)
                  </td>
                  <td style="text-align: right">
                    {{
                      pBilling.NetAmount | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>
                  <td style="text-align: right">
                    {{
                      pBilling.RemainingAmount
                        | currency: "PHP":"symbol-narrow":"1.2"
                    }}
                  </td>
                </tr>
              </ng-template>
            </p-table>

            <div class="control-separator-bottom"></div>
          </p-tabPanel>

          <p-tabPanel
            header="Credit Trail"
            class="oid-control tab-panel-custom"
          >
            <div class="control-separator-bottom"></div>
            <credit-trail-list
              #credittraillist
              (onSavedCreditAmount)="credittraillist_onSavedCreditAmount()"
              (onRowClick)="credittraillist_onRowClick($event)"
            ></credit-trail-list>

            <div class="control-separator-bottom"></div>
          </p-tabPanel>
        </p-tabView>
      </app-form>
    </perfect-scrollbar>
  </div>

  <app-detail-view-footer
    #detailviewfooter
    [CurrentObject]="CurrentObject"
    [model]="model"
  ></app-detail-view-footer>
</div>

<client-credit-adjustment-dialogbox
  #clientcreditadjustmentdialogbox
></client-credit-adjustment-dialogbox>

<loading-screen [isLoading]="isLoading"></loading-screen>
