<content-header [title]="headerTitle"></content-header>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="margin-bottom: 15px">
        <menubar
          *ngIf="loading != true"
          [items]="menuItems"
          (onClick)="initmenubar_OnClick($event)"
          [contentTemplate]="contentTemplateMenubar"
        >
        </menubar>
      </div>

      <div class="col-md-3">
        <card-container
          title="Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Infomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-4">
        <card-container
          title="Patient Information"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_PersonalInfomation_fields"
        >
        </card-container>
      </div>

      <div class="col-md-5">
        <card-container
          title=""
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Destination_fields"
        >
        </card-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <card-container
          title="Vaccination"
          [loading]="loading"
          [customBodyTemplate]="contentTemplate_Vaccination_fields"
        >
        </card-container>
      </div>
    </div>
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br />
</div>

<sql-list-dialog #sqllistdialog></sql-list-dialog>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<ng-template #contentTemplate_Infomation_fields>
  <admin-lte-texbox
    name="Code"
    caption="Code"
    [readonly]="true"
    [initialValue]="CurrentObject.Code"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-datetimebox
    name="Date"
    caption="Date"
    [initialValue]="CurrentObject.Date"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-datetimebox>

  <admin-lte-numberbox
    name="ValidityDayCount"
    caption="Validity Days"
    [initialValue]="CurrentObject.ValidityDayCount"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-numberbox>

  <admin-lte-texbox
    name="Name_FilingStatus"
    caption="Status"
    [readonly]="true"
    [initialValue]="CurrentObject.Name_FilingStatus"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_PersonalInfomation_fields>
  <admin-lte-data-lookupbox
    name="AttendingPhysician_ID_Employee"
    displayName="AttendingPhysician_Name_Employee"
    caption="Attnd. Personnel"
    [initialValue]="CurrentObject.AttendingPhysician_ID_Employee"
    [initialDisplayValue]="CurrentObject.AttendingPhysician_Name_Employee"
    [option]="AttendingPhysician_ID_Employee_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    name="ID_Client"
    displayName="Name_Client"
    caption="Client"
    [initialValue]="CurrentObject.ID_Client"
    [initialDisplayValue]="CurrentObject.Name_Client"
    [option]="ID_Client_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-data-lookupbox
    #ID_Patient_Lookupbox
    name="ID_Patient"
    displayName="Name_Patient"
    caption="Patient"
    [initialValue]="CurrentObject.ID_Patient"
    [initialDisplayValue]="CurrentObject.Name_Patient"
    [option]="ID_Patient_LookupboxOption"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-data-lookupbox>

  <admin-lte-texbox
    name="Color"
    caption="Color"
    [initialValue]="CurrentObject.Color"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>

  <admin-lte-texbox
    name="Weight"
    caption="Weight"
    [initialValue]="CurrentObject.Weight"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-texbox>
</ng-template>

<ng-template #contentTemplate_Vaccination_fields>
  <div class="row">
    <div class="col-lg-4">
      <admin-lte-datebox
        name="DateVaccination"
        caption="Date Vaccination"
        format="MMM. dd, yyyy"
        [initialValue]="CurrentObject.DateVaccination"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-datebox>

      <admin-lte-data-lookupbox
        name="ID_Item"
        displayName="Name_Item"
        caption="Vaccination"
        [initialValue]="CurrentObject.ID_Item"
        [initialDisplayValue]="CurrentObject.Name_Item"
        [option]="ID_Item_LookupboxOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-data-lookupbox>

      <admin-lte-texbox
        name="LotNumber"
        caption="LotNumber"
        [initialValue]="CurrentObject.LotNumber"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-texbox>

      <admin-lte-autocompletebox
        name="CaseType"
        caption="Case Type"
        [dataList]="CaseTypeList"
        [initialValue]="CurrentObject.CaseType"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-autocompletebox>
    </div>
    <div class="col-lg-8">
      <admin-lte-radio-button-list
        name="ID_VaccinationOption"
        caption="Vaccination Option"
        [listDateSource]="VaccinationOption_ListDataSource"
        [initialValue]="CurrentObject.ID_VaccinationOption"
        (onModelChanged)="control_onModelChanged($event)"
      >
      </admin-lte-radio-button-list>
    </div>
  </div>
</ng-template>

<ng-template #contentTemplate_Destination_fields>
  <admin-lte-textarea
    name="DestinationAddress"
    caption="Destination Address"
    [initialValue]="CurrentObject.DestinationAddress"
    (onModelChanged)="control_onModelChanged($event)"
  >
  </admin-lte-textarea>
</ng-template>


<ng-template #contentTemplateMenubar>
  <div style="position: absolute; right: 5px" class="rightDownMenuContainer">

  <drop-down-button
  title="Back"
  [isDropdownRight]="true"
  [items]="rightDropDownItems"
  (onMainButtonClick)="onClickBackButton()"
    (onMenuItemButtonClick)="rightDropDown_onMenuItemButtonClick($event)"
  ></drop-down-button>
</div>

</ng-template>
