<modal-dialog
  #modalDialog
  title="Billing Payment"
  size="md"
  [footerTemplate]="footerDialogTemplate"
>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-10">
        <ng-container [ngTemplateOutlet]="paymentTemplate"></ng-container>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div *ngIf="loading" class="overlay" style="background-color: #ffffff45">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
</modal-dialog>

<ng-template #paymentCashTemplate>
  <div class="mb-3 row">
    <label for="Code_BillingInvoice" class="col-5 col-form-label text-right"
      >BI #</label
    >
    <div class="col-7">
      <span class="form-control">{{
        paymentTranCurrentObject.Code_BillingInvoice
      }}</span>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="RemainingAmount_BillingInvoice"
      class="col-5 col-form-label text-right"
      >Remaining Amount</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.RemainingAmount_BillingInvoice
          | number: "1.2-5"
      }}</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="CashAmount" class="col-5 col-form-label text-right"
      >Cash
    </label>
    <div class="col-7">
      <input
        type="number"
        min="0"
        [(ngModel)]="paymentTranCurrentObject.CashAmount"
        (ngModelChange)="control_onModelChanged($event)"
        class="form-control text-right"
        id="CashAmount"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="ChangeAmount" class="col-5 col-form-label text-right"
      >Change</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.ChangeAmount | number: "1.2-5"
      }}</span>
    </div>
  </div>
</ng-template>

<ng-template #paymentGCashTemplate>
  <div class="mb-3 row">
    <label for="Code_BillingInvoice" class="col-5 col-form-label text-right"
      >BI #</label
    >
    <div class="col-7">
      <span class="form-control">{{
        paymentTranCurrentObject.Code_BillingInvoice
      }}</span>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="RemainingAmount_BillingInvoice"
      class="col-5 col-form-label text-right"
      >Remaining Amount</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.RemainingAmount_BillingInvoice
          | number: "1.2-5"
      }}</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label
      for="ReferenceTransactionNumber"
      class="col-5 col-form-label text-right"
      >Ref No.
    </label>
    <div class="col-7">
      <input
        type="text"
        min="0"
        [(ngModel)]="paymentTranCurrentObject.ReferenceTransactionNumber"
        class="form-control"
        id="ReferenceTransactionNumber"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="GCashAmount" class="col-5 col-form-label text-right"
      >G Cash
    </label>
    <div class="col-7">
      <input
        type="number"
        min="0"
        [(ngModel)]="paymentTranCurrentObject.GCashAmount"
        (ngModelChange)="control_onModelChanged($event)"
        class="form-control text-right"
        id="GCashAmount"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="ChangeAmount" class="col-5 col-form-label text-right"
      >Change</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.ChangeAmount | number: "1.2-5"
      }}</span>
    </div>
  </div>
</ng-template>

<ng-template #paymentDebitCreditTemplate>
  <div class="mb-3 row">
    <label for="Code_BillingInvoice" class="col-5 col-form-label text-right"
      >BI #</label
    >
    <div class="col-7">
      <span class="form-control">{{
        paymentTranCurrentObject.Code_BillingInvoice
      }}</span>
    </div>
  </div>
  <div class="mb-3 row">
    <label
      for="RemainingAmount_BillingInvoice"
      class="col-5 col-form-label text-right"
      >Remaining Amount</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.RemainingAmount_BillingInvoice
          | number: "1.2-5"
      }}</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="ID_CardType" class="col-5 col-form-label text-right"
      >Bank
    </label>
    <div class="col-7">
      <select
        class="form-control"
        [(ngModel)]="paymentTranCurrentObject.ID_Bank"
      >
        <option *ngFor="let bank of BankList; index as i" value="{{ bank.ID }}">
          {{ bank.Name }}
        </option>
      </select>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="ID_CardType" class="col-5 col-form-label text-right"
      >Card Type
    </label>
    <div class="col-7">
      <select
        class="form-control"
        [(ngModel)]="paymentTranCurrentObject.ID_CardType"
      >
        <option value="1">Debit</option>
        <option value="2">Credit</option>
      </select>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="CardHolderName" class="col-5 col-form-label text-right"
      >Card Holder Name
    </label>
    <div class="col-7">
      <input
        type="text"
        [(ngModel)]="paymentTranCurrentObject.CardHolderName"
        class="form-control"
        id="CardHolderName"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label
      for="ReferenceTransactionNumber"
      class="col-5 col-form-label text-right"
      >Ref No.
    </label>
    <div class="col-7">
      <input
        type="text"
        [(ngModel)]="paymentTranCurrentObject.ReferenceTransactionNumber"
        class="form-control"
        id="ReferenceTransactionNumber"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="CardAmount" class="col-5 col-form-label text-right"
      >Card Amount
    </label>
    <div class="col-7">
      <input
        type="number"
        min="0"
        [(ngModel)]="paymentTranCurrentObject.CardAmount"
        (ngModelChange)="control_onModelChanged($event)"
        class="form-control text-right"
        id="CardAmount"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="ChangeAmount" class="col-5 col-form-label text-right"
      >Change</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.ChangeAmount | number: "1.2-5"
      }}</span>
    </div>
  </div>
</ng-template>

<ng-template #paymentCheckTemplate>
  <div class="mb-3 row">
    <label for="Code_BillingInvoice" class="col-5 col-form-label text-right"
      >BI #</label
    >
    <div class="col-7">
      <span class="form-control">{{
        paymentTranCurrentObject.Code_BillingInvoice
      }}</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label
      for="RemainingAmount_BillingInvoice"
      class="col-5 col-form-label text-right"
      >Remaining Amount</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.RemainingAmount_BillingInvoice
          | number: "1.2-5"
      }}</span>
    </div>
  </div>

  <div class="mb-3 row">
    <label for="CheckNumber" class="col-5 col-form-label text-right"
      >Check #
    </label>
    <div class="col-7">
      <input
        type="text"
        [(ngModel)]="paymentTranCurrentObject.CheckNumber"
        class="form-control"
        id="CheckNumber"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="CheckAmount" class="col-5 col-form-label text-right"
      >Check Amount
    </label>
    <div class="col-7">
      <input
        type="number"
        min="0"
        [(ngModel)]="paymentTranCurrentObject.CheckAmount"
        class="form-control text-right"
        id="CheckAmount"
      />
    </div>
  </div>

  <div class="mb-3 row">
    <label for="ChangeAmount" class="col-5 col-form-label text-right"
      >Change</label
    >
    <div class="col-7">
      <span class="form-control text-right">{{
        paymentTranCurrentObject.ChangeAmount | number: "1.2-5"
      }}</span>
    </div>
  </div>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    *ngIf="loading != true"
    class="btn btn-primary"
    (click)="btnPay_onClick()"
  >
    <i class="far fa-money-bill-alt"></i>&nbsp;Pay
  </button>

  <button
    *ngIf="loading != true"
    class="btn btn-danger"
    (click)="btnClose_onClick()"
  >
    <i class="fas fa-times"></i>&nbsp;Close
  </button>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
